<a name="results"></a>
<section>
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h4 class="uppercase large"><%= t(:ranking) %> 2019</h4>
      </div>

      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %> /600</th></tr>
            <% data.results_2019_becp.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> <% if r.year %>(<%= t(r.year) %>)<% end %></td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>
		
      </div>
	  
    </div><!--end of row-->

  </div><!--end of container-->
</section>
