<h3 class="mb16">Eerste ronde 2021</h3>
<h4 class="mb8">Plaats en datum</h4>
<p>
  De eerste ronde vindt plaats in de week van <strong>1 tot 5 februari 2021</strong> in jouw school (start tussen 8u00 en 15u30)
  of op <strong>woensdag 3 februari om 14u00</strong> in één van de
  <% if config.registration_open %>
    <%= link_to "11 regionale centra", "#qualif-centers" %>
  <% else %>
    11 regionale centra
  <% end %>. De proef duurt 75 minuten.
</p>


<h4 class="mb8">Types van vragen</h4>
<p>
De eerste ronde is een test aan de computer op hetzelfde platform als vorig jaar.
Je vindt hieronder <%= link_to "enkele voorbeeldvragen", '#sample-questions-qualif' %></p>



<!--<h4 class="mb8">Types van vragen</h4>
<p>
  Bezoek het <%= ext_link_to "wedstrijdplatform", current_page.data.contest_platform["nl"], onclick:"fbq('track', 'GoToContestPlatform', {});" %> om de
  interactieve vragen uit te testen.
</p>-->

<% if config.registration_open %>

<h4 class="mb8">Hoe deelnemen?</h4>
<p>
  <strong>U vertegenwoordigt een school?</strong>
  <%# U kan zich binnenkort inschrijven op het wedstrijd platform. Laat hieronder uw emailadres achter om verwittigd te worden eens de inschrijvingen openen. %>
  Schrijf u in als coördinator op ons <%= link_to "wedstrijdplatform (administratie)", current_page.data.management_platform["nl"], onclick:"fbq('track', 'GoToMgmtPlatform', {});" %>
</p>
<p>
  <strong>Jouw school wenst niet deel te nemen?</strong>
  <%# Je kan je binnenkort inschrijven om mee te doen in één van de regionale centra. %>
  Registreer je individueel bij een van onze regionale centra via
    <%= link_to "dit formulier", "registration" %>
    .
</p>
<% end %>

<% if config.show_qualif_results %><%= link_to t("Results"), 'qualif_results', class:'btn btn-lg btn-filled' %><% end %>
