<h3 class="mb16">Éliminatoires 2021</h3>
<h4 class="mb8">Lieu et date</h4>
<p>
  L'éliminatoire a lieu la semaine du <strong>1 au 5 février 2021</strong> dans votre école (démarrage entre 8h00 et 15h30)
	ou le <strong>mercredi 3 février à 14h</strong> dans l'un des
  <% if config.registration_open %>
  <%= link_to "11 centres régionaux", "#qualif-centers" %>
  <% else %>
    11 centres régionaux
  <% end %>. L'épreuve dure 75 minutes.
</p>


<h4>Types de questions</h4>
<p>
Les éliminatoires se dérouleront sur ordinateur sur la même plate-forme que l'année dernière.
Vous retrouverez ci-dessous <%= link_to "quelques exemples de questions", '#sample-questions-qualif' %>
</p>



<!--<h4 class="mb8">Types de questions</h4>
<p>
	Visitez la <%= ext_link_to "plate-forme du concours", current_page.data.contest_platform["fr"], onclick:"fbq('track', 'GoToContestPlatform', {});" %> afin de tester
	les tâches interactives de beOI.
</p>-->

<% if config.registration_open %>
<h4 class="mb8">Comment participer ?</h4>
<p>
	<strong>Vous êtes une école?</strong>
	<%# Vous pourrez-vous inscrire d'ici quelques jours sur la plate-forme du concours. Indiquez votre adresse e-mail ci-dessous pour être prévenu à l'ouverture de celle-ci. %>
	Inscrivez-vous en tant que coordinateur sur
    <%= link_to "notre plate-forme", current_page.data.management_platform["fr"], onclick:"fbq('track', 'GoToMgmtPlatform', {});" %>
     dédiée.
</p>
<p>
	<strong>Votre école ne souhaite pas participer?</strong>
	<%# Vous pourrez vous inscrire sous peu dans l'un des centres régionaux. %>
	Inscrivez-vous dans l'un des centres régionaux via
    <%= link_to "ce formulaire", "registration" %>
    .
</p>
<% end %>

<% if config.show_qualif_results %><%= link_to t("Results"), 'qualif_results', class:'btn btn-lg btn-filled' %><% end %>
