
<section class="bg-dark">
  <div class="container">
    <div class="row mb0 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h4 class="uppercase large"><%= t(:Calendar) %> 2019-2020</h4>
      </div>

      <div class="col-sm-10 col-md-8 col-md-offset-2">

        <ul class="mb0 mt8">

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">19 <%= t(:Oct) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:bxoi_full).capitalize %></h6>
                <span><%= t(:bxoi_details) %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">5 <%= t(:Feb) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:qualif_round).capitalize %></h6>
                <span><% link_to "index.html#contest-step1" do t(:more_info_below).capitalize; end %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">
                <% if lang == :fr %>?-? <%= t(:Feb) %>
                <% else %>?-? <%= t(:Mar) %>
                <% end %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:training_course).capitalize %></h6>
                <span>
                <% if lang == :fr %>Louvain-la-Neuve (?)
                <% else %>Leuven (?)
                <% end %>
                (<%= t(:more_info_later).capitalize %>)</span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">7 <%= t(:Mar) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:final_round).capitalize %></h6>
                <span><% link_to "index.html#contest-step2" do t(:more_info_below).capitalize; end %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">23 <%= t(:May) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:selection_contest).capitalize %></h6>
                <span><% link_to "becp.html" do t(:selection_contest_link); end %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">19-26 <%= t(:Jul) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:ioi_full).capitalize %></h6>
                <span><%= t(:ioi_details) %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">?-? <%= t(:Aug) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:ejoi_full).capitalize %></h6>
                <span><%= t(:ejoi_details) %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

        </ul>

      </div>

    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
