<h3>Lid worden van beCP?</h3>
<p>Om lid te worden van de beCP, moet je ons tonen dat je kan programmeren en moet je gemotiveerd zijn om te oefenen. We stellen je een lijst van 10 problemen voor om op te lossen op de site <%= ext_link_to "UVa", "http://uva.onlinejudge.org" %>:</p>

<ul data-bullet="ti-control-stop">
  <li>UVa 11172 - <%= ext_link_to "Relational Operators", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2113" %></li>
  <li>UVa 11799 - <%= ext_link_to "Horror Dash", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2899" %></li>
  <li>UVa 1585 - <%= ext_link_to "Score", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=4460" %></li>
  <li>UVa 11900 - <%= ext_link_to "Boiled eggs", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=3051" %></li>
  <li>UVa 573 - <%= ext_link_to "Snail", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=514" %></li>
  <li>UVa 10340 - <%= ext_link_to "All in All", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=1281" %></li>
  <li>UVa 102 - <%= ext_link_to "Ecological Bin Packing", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=38" %></li>
  <li>UVa 11389 - <%= ext_link_to "The Bus Driver Problem", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2384" %></li>
  <li>UVa 11507 - <%= ext_link_to "Bender B. Rodríguez Problem", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2502" %></li>
  <li>UVa 11157 - <%= ext_link_to "Dynamic Frog", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2098" %></li>
</ul>
<p>Om je op weg te helpen, voorzien we <%= ext_link_to "een gids om je eerste probleem op te lossen", "https://github.com/be-oi/beoi-training/raw/master/00-non-algo/walkthrough-nl.pdf" %>. Zodra je minstens 6 (hoe meer hoe beter) van deze opdrachten hebt volbracht, stuur je een email naar <%= mail_to "becp@be-oi.be" %> met vermelding van je UVa gebruikersnaam!</p>
