<h3>Entrer dans la beCP&nbsp;?</h3>
<p>Pour entrer dans la beCP, vous devez nous montrer que vous savez programmer et que vous êtes motivé à vous entraîner. Nous vous proposons donc une liste de 10 problèmes à résoudre sur le site <%= ext_link_to "UVa", "http://uva.onlinejudge.org/" %>&nbsp;:</p>
<ul data-bullet="ti-control-stop">
  <li>UVa 11172 - <%= ext_link_to "Relational Operators", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2113" %></li>
  <li>UVa 11799 - <%= ext_link_to "Horror Dash", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2899" %></li>
  <li>UVa 1585 - <%= ext_link_to "Score", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=4460" %></li>
  <li>UVa 11900 - <%= ext_link_to "Boiled eggs", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=3051" %></li>
  <li>UVa 573 - <%= ext_link_to "Snail", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=514" %></li>
  <li>UVa 10340 - <%= ext_link_to "All in All", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=1281" %></li>
  <li>UVa 102 - <%= ext_link_to "Ecological Bin Packing", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=38" %></li>
  <li>UVa 11389 - <%= ext_link_to "The Bus Driver Problem", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2384" %></li>
  <li>UVa 11507 - <%= ext_link_to "Bender B. Rodríguez Problem", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2502" %></li>
  <li>UVa 11157 - <%= ext_link_to "Dynamic Frog", "http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2098" %></li>
</ul>
<p>Pour vous aider, voici <%= ext_link_to "un guide complet pour résoudre le premier", "https://github.com/be-oi/beoi-training/raw/master/00-non-algo/walkthrough-fr.pdf" %>. Lorsque vous en aurez résolu au moins 6 (au plus au mieux), envoyez-nous un e-mail à <%= mail_to "becp@be-oi.be" %> en mentionnant votre identifiant UVa&nbsp;!</p>
