<h3>Hoe leren programmeren?</h3>

<!--Er zijn verschillende websites met tutorials voor jongeren om te leren programmeren.
De meesten en de besten zijn Engelstalig.-->
<p>Hoewel het woord programmeren een veel bredere lading dekt, ligt de focus bij beCP erg sterk op <strong>algoritmiek</strong>.
Het leren van bvb. webdevelopment is van weinig nut voor beCP. 
Voor de beCP raden we de programmeertaal <strong>C++</strong> aan, maar ook <strong>Java</strong> wordt aanvaard.</p>

In het Engels kan je o.a. terecht bij:
<ul data-bullet="ti-angle-right">
  <li><%= ext_link_to "Khan Academy", "https://www.khanacademy.org/computing/computer-programming/programming" %>: goede introductie</li>
  <li><%= ext_link_to "Codecademy", "https://www.codecademy.com" %>: Python, Java, JavaScript</li>
  <li><%= ext_link_to "Learn C++", "http://www.learncpp.com/" %>: uitgebreide tutorial C++</li>
  <li><%= ext_link_to "HackerRank", "http://www.hackerrank.com/" %>: honderden oefeningen</li>
  <!--<li><%= ext_link_to "Programmr", "http://www.programmr.com/" %>: oefeningen in verschillende talen, o.a. C++</li>-->
  <!--<li><%= ext_link_to "Java Tutorial", "http://docs.oracle.com/javase/tutorial/" %>: officiële Java-tutorial</li>-->
  <li><%= ext_link_to "USACO", "http://www.usaco.org/" %>: trainingsplatform van de Amerikaanse IOI-delegatie</li>
</ul>
<!--en de wedstrijdplatformen langs dewelke je lid kan worden van de beCP-groep.-->

In het Nederlands zijn het vermelden waard:
<ul data-bullet="ti-angle-right">
  <li><%= ext_link_to "CS Circles", "http://cscircles.cemc.uwaterloo.ca/nl/" %>: Univ. Waterloo, Canada</li>  
  <li><%= ext_link_to "CoderDojo Belgium", "http://www.coderdojobelgium.be/nl" %>: coaching en advies</li>
  <li><%= ext_link_to "Vlaamse Programmeerwedstrijd", "http://www.vlaamseprogrammeerwedstrijd.be/current/" %>: wedstrijd in teamverband</li>
  <li><%= ext_link_to "Wikibooks", "https://nl.wikibooks.org/wiki/Categorie:Programmeertaal" %>: o.a. Java, C en C++</li>
</ul>  

<!--
Als Frans geen probleem is, kan je ook terecht bij :
<ul data-bullet="ti-angle-right">
  <li><%= ext_link_to "France-IOI", "http://www.france-ioi.org/" %>: trainingsplatform van de Franse IOI-delegatie</li>
</ul>
-->
