<h3>Finale 2021</h3>

<h4>Lieu et date</h4>
<p>
  La finale a lieu le <strong>samedi 13 mars 2021</strong> à Bruxelles
<!--
  , Avenue Franklin Roosevelt 50.<br>
  <strong>Campus du Solbosch de l'ULB, bâtiment U, entrée B,
    <%= ext_link_to "auditoire Lameere 252A", 'https://www.ulb.be/fr/solbosch/plan-du-campus' %></strong>.<br>
  Les finalistes sont attendus sur place à 9h15.<br>
  L'épreuve <strong>commencera à 9h30 et dure 2 heures</strong>.
-->
</p>

<% unless config.final_is_over %>
<h4>Aspects pratiques</h4>
<p>
  Vous ne devez prendre que de quoi écrire.
  Les résultats seront connus dans les semaines suivantes.
</p>

<h4>Types de questions</h4>
<p>La finale se déroulera sur papier comme pour les éditions précédentes. Vous retrouverez ci-dessous <%= link_to "quelques exemples de questions", '#sample-questions-final' %>
 et les <%= link_to "questions des finales précédentes", "#questions-solutions" %>.</p>

<% end %>

<% if has_current_year_solutions %><h4>Questions et solutions 2021</h4><%= link_to "#{t("task_description")}/#{t("solutions")}", '#questions-solutions', class:'btn btn-lg btn-filled' %><% end %>
<% if config.show_final_results %><%= link_to t("Results"), 'final_results', class:'btn btn-lg btn-filled' %><% end %>
