<h3 class="mb16">Éliminatoires 2018</h3>
<h4 class="mb8">Lieu et date</h4>
<p>
  L'éliminatoire a lieu le <strong>mercredi 7 février 2018</strong> dans votre école (démarrage entre 8h30 et 15h30)
	ou dans l'un des <%= link_to "11 centres régionaux", "#qualif-centers" %> à 14h. L'épreuve durera 50 minutes.
</p>

<!--
<h4>Types de questions</h4>
<p>
Les éliminatoires se dérouleront sur ordinateur sur la même plate-forme comme l'année dernière.
Vous retrouverez ci-dessous <%= link_to "quelques exemples de questions", '#sample-questions-qualif' %>
</p>
-->


<h4 class="mb8">Types de questions</h4>
<p>
	Visitez la <%= ext_link_to "plate-forme du concours", current_page.data.contest_platform["fr"], onclick:"fbq('track', 'GoToContestPlatform', {});" %> afin de tester 
	les tâches interactives de beOI.
</p>

<h4 class="mb8">Comment participer ?</h4>
<p>
	<strong>Vous êtes une école?</strong>
	Vous pourrez-vous inscrire d'ici quelques jours sur la plate-forme du concours. Indiquez votre adresse e-mail ci-dessous pour être prévenu à l'ouverture de celle-ci.
	<!-- Inscrivez-vous en tant que coordinateur sur <%= link_to "notre plate-forme", current_page.data.management_platform["fr"], onclick:"fbq('track', 'GoToMgmtPlatform', {});" %> dédiée.-->
</p>
<p>
	<strong>Votre école ne souhaite pas participer?</strong> 
	Vous pourrez vous inscrire sous peu dans l'un des centres régionaux.
	<!-- Inscrivez-vous dans l'un des centres régionaux via <%= link_to "ce formulaire", "registration" %>. -->
</p>
