<a name="sample-questions-final"></a>
<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb80"><%= t(:sample_tasks_final) %></h4>
        <p><%= t(:pseudocode_expl) %>
        <%= link_to t(:inthisdoc), "/archives/pseudo-code-#{lang}.pdf", target:"_blank" %>.</p>
        <div class="tabbed-content button-tabs vertical">
          <ul class="tabs">
            <% data.final_tasks.each_with_index do |task, index| %>
            <li <% if index == 0 %>class="active"<% end %>>
              <div class="tab-title">
                <span><%= t("task_"+task) %></span>
              </div>
              <div class="tab-content">
                <!-- <h5 class="uppercase">Let's Talk Tabs</h5>
                <hr> -->
                <%= partial "tasks/"+task %>
                <a class="btn btn-sm" onclick="javascript:$('#task_<%= task %>').toggle();"><%= t(:task_toggle_solution) %></a>
                <div id="task_<%= task %>" style="display: none; padding:10px;" class="feature bordered bg-white">
                  <%= partial "tasks/"+task+"_sol" %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <!--end of button tabs-->
      </div>

    </div>
    <!--end of row-->


    <a name="questions-2016"></a>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h5 class="uppercase mb16 mb0"><%= t(:final_task_descriptions_title)%2016 %></h5>
        <p><%= t(:task_descriptions_remark) %></p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-12 text-center">
        <% data.task_descriptions[2016]["final"].each do |e| %>
        <%= link_to "#{t(e.category)}: #{t(e.type)} ", "/archives/#{e.file[lang]}" , class:"btn btn-sm", target:"_blank" %>
        <% end %>
      </div>
    </div>

    <a name="questions-2017"></a>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h5 class="uppercase mb16 mb0"><%= t(:final_task_descriptions_title)%2017 %></h5>
        <p><%= t(:task_descriptions_remark) %></p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-12 text-center">
        <% data.task_descriptions[2017]["final"].each do |e| %>
        <%= link_to "#{t(e.category)}: #{t(e.type)} ", "/archives/#{e.file[lang]}" , class:"btn btn-sm", target:"_blank" %>
        <% end %>
      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>