---
trianglify_colors: '["#5e4fa2","#3288bd","#66c2a5","#abdda4","#e6f598","#ffffbf","#fee08b","#fdae61","#f46d43","#d53e4f","#e31d3b"]'
---
<section class="image-bg parallax pt120 pb80 pt-xs-40 pb-xs-40">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h1 style="color:#101010; opacity:0.7;"><%= t(:becp_title) %></h1>
        <h4 class=" mb48 mb-xs-32" style="color:#101010; opacity:0.7;">
          <%= t(:becp_subtitle) %>
        </h4>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<a name="intro"></a>

<section class=" pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <div class="feature feature-3 mb0 mb-xs-24">
          <div class="left">
            <i class="fa fa-rocket icon-sm"></i>
          </div>
          <div class="right">
            <h4 class="mb16"><%= t(:becp_step1) %></h4>
            <p><%= t(:becp_step1_expl) %></p>
          </div>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="feature feature-3 mb0 mb-xs-24">
          <div class="left">
            <i class="fa-graduation-cap fa icon-sm"></i>
          </div>
          <div class="right">
            <h4 class="mb16"><%= t(:becp_step2) %></h4>
            <p><%= t(:becp_step2_expl) %></p>
          </div>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <div class="feature feature-3 mb-xs-24">
          <div class="left">
            <i class="fa-trophy fa icon-sm"></i>
          </div>
          <div class="right">
            <h4 class="mb16"><%= t(:becp_step3) %></h4>
            <p><%= t(:becp_step3_expl) %></p>
          </div>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="feature feature-3">
          <div class="left">
            <i class="fa fa-globe icon-sm"></i>
          </div>
          <div class="right">
            <h4 class="mb16"><%= t(:becp_step4) %></h4>
            <p><%= t(:becp_step4_expl) %></p>
          </div>
        </div>
        <!--end of feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h4 class="uppercase large"><%= t(:Calendar) %> beCP 2017-2018</h4>
      </div>

      <div class="col-sm-10 col-md-8 col-md-offset-2">
        <ul class="mb0 mt16">

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8">8-10 <%= t(:Sep) %></h4>
              </div>
              <div class="col-sm-8">
                <h6 class="uppercase mb0"><%= t(:training_camp) %></h6>
                <span>La Marlagne</span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8">20-22 <%= t(:Oct) %></h4>
              </div>
              <div class="col-sm-8">
                <h6 class="uppercase mb0"><%= t(:training_camp) %></h6>
                <span>La Marlagne</span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8">10-12 <%= t(:Nov) %></h4>
              </div>
              <div class="col-sm-8">
                <h6 class="uppercase mb0"><%= t(:training_camp) %></h6>
                <span>La Marlagne</span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8">2-4 <%= t(:Feb) %></h4>
              </div>
              <div class="col-sm-8">
                <h6 class="uppercase mb0"><%= t(:training_camp) %></h6>
                <span>La Marlagne</span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">12-16 <%= t(:Feb) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:training_course).capitalize %></h6>
                <span><%= t(:more_info_later).capitalize %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8">9-11 <%= t(:Mar) %></h4>
              </div>
              <div class="col-sm-8">
                <h6 class="uppercase mb0"><%= t(:training_camp) %></h6>
                <span>La Marlagne</span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">2-13 <%= t(:Apr) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:training_course).capitalize %></h6>
                <span><%= t(:more_info_later).capitalize %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8">20-22 <%= t(:Apr) %></h4>
              </div>
              <div class="col-sm-8">
                <h6 class="uppercase mb0"><%= t(:training_camp) %></h6>
                <span>La Marlagne</span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">19 <%= t(:May) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:selection_contest).capitalize %></h6>
                <span><% link_to "becp.html" do t(:selection_contest_link); end %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

          <li class="mb0 mb-xs-16">
            <div class="overflow-hidden mb0 pt8">
              <div class="col-sm-4">
                <h4 class="uppercase pt8 mb0">1-8 <%= t(:Sep) %></h4>
              </div>
              <div class="col-sm-8 mb8">
                <h6 class="uppercase mb0"><%= t(:ioi_full).capitalize %></h6>
                <span><%= t(:ioi_details) %></span>
              </div>
            </div>
            <hr class="fade-half mb0">
          </li>

        </ul>
      </div>

    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="image-square left">
  <div class="col-md-6 image">
    <div class="background-image-holder">
    <img alt="image" class="background-image" src="/img/code.jpg" />
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content"><%= partial "index_enter_becp" %></div>
</section>

<section class="image-square right bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="/img/learn.jpg" />
    </div>
  </div>
  <div class="col-md-6 content"><%= partial "index_learn_prog" %></div>
</section>

<a name="questions"></a>
<section >
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase large mb80"><%= t(:task_descriptions) %> 2016</h4>
        <!--end of button tabs-->
      </div>
    </div>
    <!--end of row-->

    <div class="row">
      <div class="col-sm-12 text-center">
        <% data.task_descriptions_becp[2016].each do |e| %>
        <%= link_to  "#{e.title[lang]} (#{e.title.official}) ", "/archives/#{e.file[lang]}" , class:"btn btn-sm", target:"_blank" %>
        <% end %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="bg-secondary">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase large mb80"><%= t(:task_descriptions) %> 2017</h4>
        <!--end of button tabs-->
      </div>
    </div>
    <!--end of row-->

    <div class="row">
      <div class="col-sm-12 text-center">
        <% data.task_descriptions_becp[2017].each do |e| %>
        <%= link_to  "#{e.title[lang]} (#{e.title.official}) ", "/archives/#{e.file[lang]}" , class:"btn btn-sm", target:"_blank" %>
        <% end %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->

</section>



<section class="bg-dark pb0" >
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h1 class="large"><%= t(:questions) %></h1>
        <%= mail_to 'becp@be-oi.be', t(:contact_us), class:'btn btn-lg btn-filled' %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
