---
title: beOI 2016
trianglify_colors: '"RdBu"'
---
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2016 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2016/general.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">In 2016 kon je voor het eerst in je eigen school deelnemen aan de eerste ronde van de Belgishce Informatica-olympiade. Bovendien werkten we ook voor de eerste keer met 3 verschillende niveau's, elk met een eigen finale en eindklassement. Een groot succes, zo bleek: dit jaar telden we meer dan 700 deelnemers. De finale vond plaats samen met die van de Bebras-wedstrijd, terwijl de selectie voor de Internationale Olympiade werd afgesplitst in een afzonderlijke programmeerwedstrijd (beCP) voor de meest gemotiveerde deelnemers. Op de Internationale Olympiade werd dit jaar opnieuw een bronzen medaille veroverd.</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Eerste ronde</h2>

        <p>De eerste ronde van de Belgische Informatica-olympiade 2016 vond plaats op woensdag 27 januari 2016 in verschillende regionale centra verspreid over het land. Daarnaast organiseerden 27 middelbare scholen de eerste ronde in eigen huis, onder begeleiding van de leerkrachten.</p>

        <h3>Enkele cijfers</h3>

        <ul>
          <li><strong>205 leerlingen</strong> namen deel in de categorie <strong>beloften</strong> (tot en met 2e middelbaar).</li>
          <li><strong>249 leerlingen</strong> namen deel in de categorie <strong>junior</strong> (3e en 4e middelbaar).</li>
          <li><strong>264 leerlingen</strong> namen deel in de categorie <strong>senior</strong> (5e, 6e en 7e middelbaar).</li>
          <li>In elke categorie mochten de <strong>15 best gerangschikten</strong> naar de finale.</li>
          <li>De proef stond op <strong>100 punten</strong>, en was ingekort tot 1u30'. Niemand haalde de maximumscore.</li>
          <li>Er namen <strong>177 meisjes</strong> deel aan de wedstrijd, dit is 25% van het totaal aantal deelnemers. <strong>8</strong> onder hen haalden de finale.</li>
        </ul>

        <h3>Top-3 - Beloften</h3>

        <ul>
          <li><strong>Gus Vanpoucke</strong> - Sint-Bavohumaniora, Gent - 1e middelbaar - 92 ptn</li>
          <li><strong>Pieter Van Steenweghen</strong> - Instituut Heilig Hart van Maria, Berlaar - 2e middelbaar - 91 ptn</li>
          <li><strong>Niels Rubens</strong> - KCST, Sint-Truiden - 2e middelbaar - 87 ptn</li>
        </ul> 
        
        <h3>Top-3 - Junior</h3>

        <ul>
          <li><strong>Kristiaan Bogaerts</strong> - Sint-Ludgardisschool, Merksem - 4e middelbaar - 70 ptn</li>
          <li><strong>Jan Livens</strong> - Vita et Pax-College, Schoten - 3e middelbaar - 70 ptn</li>
          <li><strong>Arthur Massar</strong> - Institut Saint-Boniface-Parnasse, Ixelles - 4e middelbaar - 67 ptn</li>
        </ul>
        
        <h3>Top-5 - Senior</h3>

        <ul>
          <li><strong>Robbe Pincket</strong> - Maris Stella Instituut, Oostmalle - 5e middelbaar - 71 ptn</li>
          <li><strong>Sammy Delanghe</strong> - Petrus en Paulus OLV College, Oostende - 6e middelbaar - 70 ptn</li>
          <li><strong>Damien Galant</strong> - Athénée Provincial, La Louvière - 6e middelbaar - 69 ptn</li>
          <li><strong>Louis Billot</strong> - Collège Notre-Dame de Bon Secours, Binche - 6e middelbaar - 69 ptn</li>
          <li><strong>Robin Simoens</strong> - Sint-Barbaracollege, Gent - 5e middelbaar - 69 ptn</li>
        </ul> 

        <h3>Top-3 - Scholen</h3>
        
        <p>Deelnemende scholen gerangschikt volgens aantal deelnemers aan de eerste ronde:</p>
        
        <ul>
          <li><strong>Maris Stella Instituut, Malle</strong>: 59 deelnemers</li>
          <li><strong>Centre Asty Moulin, Namur</strong>: 43 deelnemers</li>
          <li><strong>Institut de la Vierge Fidèle, Schaerbeek</strong>: 43 deelnemers</li>
        </ul> 
        
        
        <!-- <p>De halve finale van de Olympiade verliep volledig schriftelijk en vereist weinig of geen programmeerervaring. In de finale moest echter enkel geprogrammeerd worden. Om dit te overbruggen en aan iedereen een eerlijke kans te geven, werden verschillende trainingsmomenten georganiseerd over algoritmiek en programmeren voor de finalisten.</p> -->

        
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>De finale van de Belgische Informatica-olympiade 2016 vond plaats in Brussel op zaterdag 19 maart 2016. Ze was georganiseerd als onderdeel van de CSDay informatica-evenementendag aan de Haute École de Vinci - ECAM. De beste 15 gerangschikten in iedere categorie waren uitgenodigd voor de finale.</p>
        
        <p>De proef duurde 3u en was volledig op papier. Ze vereiste een beetje kennis van programmeren. Ter voorbereiding kregen alle finalisten voordien de mogelijkheid om een introductiecursus programmeren te volgen.</p>

        <p>Wie een goede programmeerkennis en motivatie kon aantonen werd ook aangemoedigd zich aan te melden voor het beCP trainingsprogramma, met het oog op mogelijke selectie voor de Internationale Olympiade in Informatica. </p>

        <p>U kunt <a href="#results">onderaan deze pagina</a> de scores en het officiële eindklassement van de finale 2016 terugvinden. </p>

        <%= image_tag "archives/2016/final.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>



<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>BeCP</h2>

        <p>De selectie voor de Internationale Olympiade Informatica (IOI2016) was dit jaar afgesplitst van de Belgische Informatica-olympiade. Op die manier houden we de Belgische Olympiade zo toegankelijk mogelijk, terwijl we daarnaast met een kleiner team gemotiveerde jonge programmeertalenten kunnen werken aan het hogere niveau dat internationale wedstrijden vereisen.</p>
        
        <p>Om lid te worden van de beCP-groep moest een student een beOI-finale gehaald hebben, en een basisvaardigheid programmeren en een motivatie om aan wedstrijden deel te nemen kunnen aantonen. Voor beCP-leden werden er doorheen het jaar verschillende trainingskampen georganiseerd in de Ardennen, waarop geavanceerde algoritmiek en programmeer-oefeningen aan bod kwamen.</p>

        <p>Op zaterdag 7 mei 2016 werd dan een echte programmeerwedstrijd in de stijl van de Internationale Olympiade georganiseerd, om te bepalen wie het Belgische team in 2016 mocht uitmaken. Opnieuw was hogeschool HEB-ESI in hartje Brussel onze gastheer. </p>
        
        <p>Op dezelfde dag werd ook de prijsuitreiking georganiseerd voor beOI. De proclamatie werd bijgewoond door de cultureel vertegenwoordiger van de Russische ambassade (Rossotrudnichestvo), dhr. Alexander Razumov.</p>
        
        <p>U kunt <a href="#results_becp">onderaan deze pagina</a> de scores en het officiële eindklassement van beCP 2016 terugvinden. </p>

        <%= image_tag "archives/2016/proclam.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>



<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Internationale Olympiade (IOI)</h2>

        <p><%= image_tag "archives/2016/IOI2016.png", class:"pull-right cast-shadow" %>De 28e Internationale Olympiade Informatica vond plaats in Kazan, Rusland. De Belgische ploeg werd gevormd door Damien Galant, Corentin Simon (beidde 6e middelbaar), Bruno Ploumhans (4e middelbaar) en Ruben Van Dijck (2e middelbaar). Zij werden begeleid door Damien Leroy en Jorik Jooken. Damien Galant nam voor de derde keer op rij deel, en kon opnieuw een bronzen medaille veroveren op de IOI. Corentin Simon strandde op enkele plaatsen van het brons.</p>

        <p>De IOI 2016 telde 308 deelnemers uit 80 landen wereldwijd die het individueel tegen elkaar opnamen. De resultaten van het Belgische team, op een totaal van 600 punten, waren als volgt:
        </p>
        <ul>
          <li>113e: Damien Galant - 278 ptn (6e van links op de foto hieronder)</li>
          <li>168e: Corentin Simon - 214 ptn (5e op de foto)</li>
          <li>257e: Bruno Ploumhans - 90 ptn (2e op de foto)</li>
          <li>300e: Ruben Van Dijck - 16 ptn (4e op de foto)</li>
        </ul>

        <p>Benieuwd of je beter kan ? Download de 6 vragen (<%= link_to 'dag 1', '/archives/IOI16-Questions-day1-nl.zip' %>, <%= link_to 'dag 2', '/archives/IOI16-Questions-day2-nl.zip' %>) en probeer ze op te lossen in minder dan 10 uur !</p>
        
        <%= image_tag "archives/2016/ioi-team.jpg", class:"img-polaroid cast-shadow", width:680, title:"De Belgische delegatie op de Internationale Olympiade Informatica"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors en Steun</h2>


        <p>Deze Olympiade kon slechts georganiseerd worden dankzij de steun van verschillende partners. Wij bedanken hen uitdrukkelijk voor hun ondersteuning!</p>

        <h3>Sponsors </h3> 
        <% link_to "http://nl.mathworks.com/", target:'_blank' do %>
        <%= image_tag "ext-logos/mathworks-logo.jpg", width:550, style:"padding:15px;" %>
        <% end %>
        <% link_to "http://www.iminds.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/iMinds-logo.png", width:350, style:"padding:15px;" %>
        <% end %>
        <!--
        <% link_to "http://www.unamur.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/unamur-logo.png", width:150, style:"padding:15px;" %>
        <% end %>
        -->

        <h3 class="mt32">Met de steun van</h3> 
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        <!-- 
        <% link_to "http://www.federation-wallonie-bruxelles.be", target:'_blank' do %>
        <%= image_tag "ext-logos/cfwb.jpg", width:250, style:"padding:10px;" %>
        <% end %>
        -->
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Nationaal eindklassement - Beloften</h2>
        
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Naam</th><th>School (jaar)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Gus Vanpoucke</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>66</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Julien Brandoit</td>
              <td>Athénée Royal de Marche-en-Famenne (2e)</td>
              <td><strong>56</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Arn De Moor</td>
              <td>College Paters Jozefieten, Melle (2e)</td>
              <td><strong>56</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Pieter Van Steenweghen</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (2e)</td>
              <td><strong>51</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Ruben Van Dijck</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (2e)</td>
              <td><strong>50</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Phlips Daan</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>49</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Brent Silkyn</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>40</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Henri Lemahieu</td>
              <td>Sint-Franciscus-Xaveriusinstituut, Brugge (2e)</td>
              <td><strong>39</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Sander Verwimp</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (1e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Wouter Burssens</td>
              <td>Sint-Vincentiusinstituut, Dendermonde (2e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Elina Van der Taelen</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (1e)</td>
              <td><strong>34</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Niels Rubens</td>
              <td>KCST, Sint-Truiden (2e)</td>
              <td><strong>33</strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Manon Léonard</td>
              <td>Institut de la Vierge Fidèle, Schaerbeek (2e)</td>
              <td><strong>25</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Aaron Goos</td>
              <td>Maris Stella Instituut, Oostmalle (1e)</td>
              <td><strong>17</strong></td>
            </tr>
            <tr>
              <td>15</td>
              <td nowrap="nowrap">Henri Dambiermont</td>
              <td>Athénée Royal de Marche-en-Famenne (2e)</td>
              <td><strong>8</strong></td>
            </tr>
          </tbody>
        </table>
        
        <h2>Nationaal eindklassement - Junior</h2>
        
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Naam</th><th>School (jaar)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Jan Livens</td>
              <td>Vita et Pax-College, Schoten (3e)</td>
              <td><strong>90</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Arthur Massar</td>
              <td>Institut Saint-Boniface-Parnasse d'Ixelles (4e)</td>
              <td><strong>71</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Bruno Ploumhans</td>
              <td>Collège Saint-Michel, Etterbeek (4e)</td>
              <td><strong>68</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Loïc Grumiaux</td>
              <td>Collège Saint-Guibert, Gembloux (4e)</td>
              <td><strong>66</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Lucas Prieels</td>
              <td>Collège Don Bosco, Bruxelles (3e)</td>
              <td><strong>65</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Kristiaan Bogaerts</td>
              <td>Sint-Ludgardisschool, Merksem (4e)</td>
              <td><strong>62</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Gwenaël Vervaet</td>
              <td>Athénée Robert Catteau, Bruxelles (4e)</td>
              <td><strong>59</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Diederik Dujardin</td>
              <td>College Ieper (4e)</td>
              <td><strong>51</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Miro Stuyven</td>
              <td>Sint-Lodewijkscollege, Lokeren (4e)</td>
              <td><strong>45</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Joke Tanghe</td>
              <td>Sint-Franciscus-Xaveriusinstituut, Brugge (4e)</td>
              <td><strong>43</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Wout David</td>
              <td>Sint-Lodewijkscollege, Sint-Andries (4e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Achille Vincart</td>
              <td>Athénée Robert Catteau, Bruxelles (3e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Manon Breugelmans</td>
              <td>GO! atheneum Erasmus, De Pinte (4e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Marthe D'Hooghe</td>
              <td>Maris Stella Instituut, Oostmalle (3e)</td>
              <td><strong>32</strong></td>
            </tr>
          </tbody>
        </table>
        
        <h2>Nationaal eindklassement - Senior</h2>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Naam</th><th>School (jaar)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Damien Galant</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>93</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Robbe Pincket</td>
              <td>Maris Stella Instituut, Oostmalle (5e)</td>
              <td><strong>81</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Louis Billot</td>
              <td>Collège Notre-Dame de Bon Secours, Binche (6e)</td>
              <td><strong>77</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Robin Simoens</td>
              <td>Sint-Barbaracollege, Gent (5e)</td>
              <td><strong>76</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Thijs Paelman</td>
              <td>Atheneum Voskenslaan, Gent (5e)</td>
              <td><strong>76</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Sammy Delanghe</td>
              <td>Petrus &amp; Paulus OLV College, Oostende (6e)</td>
              <td><strong>74</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Alexandre Terefenko</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>74</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Nicolas Mahiat</td>
              <td>Institut Saint-Michel, Verviers (6e)</td>
              <td><strong>70</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Auke Van Sighem</td>
              <td>Vita et Pax-College, Schoten (5e)</td>
              <td><strong>65</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Bavo Ceulemans</td>
              <td>V.T.I. Sint-Laurentius, Lokeren (6e)</td>
              <td><strong>65</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Lennert Luyckx</td>
              <td>Sint Jan Berchmanscollege, Mol (5e)</td>
              <td><strong>63</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Ovidiu Parfene</td>
              <td>SHAPE, Mons (5e)</td>
              <td><strong>62</strong></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<a name="results_becp"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Nationaal eindklassement - BeCP</h2>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Naam</th><th>School (jaar)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Damien Galant</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>489</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Corentin Simon</td>
              <td>Lycée Émile Jacqmain, Bruxelles (6e)</td>
              <td><strong>356</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Bruno Ploumhans</td>
              <td>Collège Saint-Michel, Etterbeek (4e)</td>
              <td><strong>220</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Arthur Massar</td>
              <td>Institut Saint-Boniface-Parnasse d'Ixelles (4e)</td>
              <td><strong>198</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Alexandre Terefenko</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>118</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Ovidiu Parfene</td>
              <td>SHAPE, Mons (5e)</td>
              <td><strong>79</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Ruben Van Dijck</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (2e)</td>
              <td><strong>67</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Jari Van Melckebeke</td>
              <td>Sint-Aloysiuscollege, Ninove (3e)</td>
              <td><strong>58</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Robbe Pincket</td>
              <td>Maris Stella Instituut, Oostmalle (5e)</td>
              <td><strong>35</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Gus Vanpoucke</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>12</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Lucas Prieels</td>
              <td>Collège Don Bosco, Bruxelles (3e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Louis Billot</td>
              <td>Collège Notre-Dame de Bon Secours, Binche (6e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Sammy Delanghe</td>
              <td>Petrus &amp; Paulus OLV College, Oostende (6e)</td>
              <td><strong></strong></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>        