---
title: beOI 2014
---
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2014 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2014/ioi-belg.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">En 2014, les anciens lauréats étant tous trop agés pour participer, la voie était libre pour toute une nouvelle "génération" de candidats. On a ainsi vu émerger de nouveaux participants plein de talent et de motivation. Au contraire des trois dernières année, aucune médaille n'a pu être décrochée à l'Olympiade Internationale ... mais ce n'est que partie remise ... </p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Demi-finale</h2>

        <p>Les demi-finales de l'Olympiade belge d'Informatique 2014 se sont déroulées le mercredi 27 novembre 2013 dans les différents centres régionaux du pays.</p>
      
        <h3>Quelques chiffres</h3>

        <ul>
          <li><strong>165 élèves</strong> du secondaire ont participé à la demi-finale.</li>
          <li>Le score de l'épreuve était sur un <strong>total de 108</strong>.</li>
          <li>Il fallait obtenir un minimum de <strong>72 points</strong> pour être finaliste.</li>
          <li>Les <strong>40 premiers candidats</strong> de la demi-finale sont qualifiés pour la finale.</li>
          <li>2 participants ont obtenus plus de 100 points, 10 ont obtenu 90 points ou plus.</li>
          <li><strong>8 filles</strong> participaient à la demi-finale, 3 sont qualifiées pour la finale.</li>
          <li>Le plus jeune participant avait <strong>13 ans</strong>.</li>
        </ul>

        <h2>Top-3</h2>

        <ul>
          <li><strong>Tomas Rigaux</strong> - Ecole Internationale Provence-Alpes-Côtes d'Azur - 6e secondaire - 103 pts</li>
          <li><strong>Henri Devillez</strong> - Institut de la Providence, Champion - 6e secondaire - 100 pts</li>
          <li><strong>Pablo Bustillo Vazquez</strong> - Athénée Robert Catteau, Bruxelles - 5e secondaire - 98 pts</li>
        </ul> 


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>La finale de l'Olympiade belge d'Informatique 2014 avait lieu à Leuven le samedi 8 février 2014. Tomas Rigaux remporte l'épreuve avec une bonne avance sur ses poursuivants. Comme pour les précédentes éditions, la finale consistait en une épreuve sur papier (1h15) et une épreuve sur machine (3h30). </p>

        <p>Plus de 2000&nbsp;€ de prix ont été distribués aux meilleurs finalistes. De plus, les 15 premiers candidats du concours ont été sélectionnés pour faire partie du pool d'entrainement ayant comme objectif la formation de la délégation belge à l'Olympiade Internationale d'Informatique se déroulant à Taïwan.</p>

        <p>Vous trouverez <a href="#results">en bas de cette page</a> les différents scores et classements officiels de la finale 2014. <!-- Sur la photo suivante, vous pouvez retrouver les 5 premiers de la finale, de gauche à droite : Jorik Jooken (5e), Pablo Bustillo Vazquez (3e), Henri Devillez (4e), Tomas Rigaux (1e) et Jannes Braet (2e).--> </p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>




<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Olympiade Internationale (IOI)</h2>

        <p><%= image_tag "archives/2014/IOI2014-logo.png", class:"pull-right cast-shadow" %>La 26e Olympiade Internationale se déroulait à Taipei, Taïwan.
          Cette année, la délégation belge était composée de quatre candidats participants pour la première fois à cette grande aventure. Contrairement aux années précédentes, aucune médaille n'a pu être remportée en 2014.</p>

          <p>La délégation belge comptait dans ses rangs Damien Galant (4e secondaire), Damien Gonze, Robbe Derks et Jorik Jooken (6e secondaire). Ils étaient encadrés par Damien Leroy et Joachim Ganseman. Ils ont été choisi suite à un entrainement et une sélection parmi les meilleurs éléments de la finale nationale.</p>
          
          <p>L'IOI 2014 comportait 311 participants issus 81 pays à travers le monde. Parmi ceux-ci, quatre représentaient la Belgique. Leurs résultats, sur un total de 600 points, sont les suivants:
          </p>
          <ul>
            <li>184e: Damien Galant - 174pts (5e de gauche à droite sur la photo suivante)</li>
            <li>231e: Jorik Jooken - 101pts (3e sur la photo)</li>
            <li>248e: Damien Gonze - 84pts (6e sur la photo)</li>
            <li>256e: Robbe Derks - 78pts (4e sur la photo)</li>
          </ul>

          <p>Vous êtes curieux de savoir si vous pourriez faire mieux ? Téléchargez les 6 questions (<%= link_to 'jour 1', '/archives/IOI14-Questions-day1-fr.zip' %>, <%= link_to 'jour 2', '/archives/IOI14-Questions-day2-fr.zip' %>) et tentez de les résoudre en moins de 10 heures !</p>
        
        <%= image_tag "archives/2014/ioi-group.jpg", class:"img-polaroid cast-shadow", width:680, title:"La délégation belge à l'Olympiade Internationale d'Informatique"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors et Soutiens</h2>

        <p>Ces Olympiades ont pu être organisées grâce au soutien reçu par divers organismes. Nous les remercions énormément pour leur support.</p>

        <h3>Sponsors </h3> 
        <% link_to "http://www.iminds.be", target:'_blank' do %>
        <%= image_tag "ext-logos/iMinds-logo.png", style:"max-width:250px;padding-right:10px;" %>
        <% end %>
        <% link_to "http://www.unamur.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/unamur-logo.png", style:"padding-right:10px;max-width:150px;" %>
        <% end %>
        <% link_to "http://www.thomasmore.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/thomasmore-logo.jpg", style:"max-width:200px;padding-left:10px;" %>
        <% end %>

        <h3 class="mt32">Avec le soutien de</h3> 
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section>
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Statistiques</h2>

        <h3>Demi-finale</h3>

        <p><img src="//chart.googleapis.com/chart?chf=c,ls,86.667,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|100|75|50|25|0&chxp=0,100,75,50,25,0&chxr=0,0,108&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=2,1,0&chs=557x193&cht=bvs&chco=A2C180,AA0033&chds=0,108,0,108&chd=t:103,100,98,95,95,95,93,92,92,92,89,89,89,89,87,86,86,85,85,85,83,83,83,81,81,79,79,78,78,77,77,76,76,74,74,74,73,73,72,72|0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,70,70,69,69,69,69,68,68,68,68,67,67,67,67,66,66,64,63,63,62,60,60,59,58,57,57,56,56,56,56,54,54,54,54,54,53,52,51,51,50,50,50,49,49,49,49,48,48,48,46,46,45,45,44,44,44,44,43,42,42,42,42,42,42,41,41,40,40,39,39,39,38,37,37,37,37,36,36,36,36,35,34,34,32,32,32,31,31,30,30,30,28,27,27,26,26,25,25,25,25,24,23,23,22,22,22,22,21,20,20,20,19,19,19,18,17,17,13,11,10,9,9,7,3&chdl=Finalistes|Non-finalistes&chdlp=b&chg=-1,-1,0,0&chma=0,0,0,6&chm=h,FFCC33,1,0.48:5,1&chtt=Scores+(par+ordre+d%C3%A9croissant)&chts=676767,10.167"  alt="Scores (par ordre décroissant)" /></p>

        <p><img src="//chart.googleapis.com/chart?chf=c,ls,0,FAFAFA,0.09,FFFFFF,0.09&chxl=0:|0|20|40|60|80|1:|6e+|5e+|4e+|3e+|2e&chxp=0,0,20,40,60,80&chxr=0,0,77&chxs=0,676767,11.5,0,t,676767&chxtc=0,5&chxt=x,y&chbh=a,3,0&chs=337x174&cht=bhs&chco=008000,80C65A,AA0033&chds=0,85,0,85,0,85&chd=t:0,0,0,2,8|0,0,6,9,15|2,5,8,33,77&chdl=TOP+10|Finalistes|Non-finalistes&chdlp=b&chma=|0,16&chtt=R%C3%A9partition+des+participants+selon+l'ann%C3%A9e+secondaire&chts=676767,9.8" width="337" height="174" alt="Répartition des participants selon l'année secondaire" /></p>

        <p><img src="//chart.googleapis.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q7|Q8&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=a,1,7&chs=400x193&cht=bvg&chco=3399CC&chd=t:72.42,72.1,39.5,28.6,66,50,25.66,65.7&chtt=Moyenne+(%25)+obtenue+%C3%A0+chaque+question&chts=676767,9.667" alt="Moyenne (%) obtenue à chaque question" /></p>


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Résultats nationaux complets</h2>

        <p>Les parties papier et machine sont respectivement sur un maximum de 75 et 150. En cas d'égalité, les égalités sont départagées par l'heure de soumissions à la partie machine. Les quinze premiers du classement sont sélectionnés pour faire partie du pool d'entraînement pour l'Olympiade internationale d'informatique.</p>

        <table class="table table-striped">
          <tbody><tr><th>#</th><th>Nom</th><th>Etablissement</th><th>Papier</th><th>Machine</th><th>Total</th></tr>

            <tr class="success">
              <td>1</td>
              <td nowrap="nowrap">Rigaux Tomas</td>
              <td>École Internationale Provence-Alpes-Côte d'Azur, Manosque (F) — 6e</td>
              <td>75</td>
              <td>112</td>
              <td><strong>187</strong></td>
            </tr>

            <tr class="success">
              <td>2</td>
              <td nowrap="nowrap">Braet Jannes</td>
              <td>Don Bosco College Zwijnaarde, Gent — 6e</td>
              <td>57</td>
              <td>112</td>
              <td><strong>169</strong></td>
            </tr>

            <tr class="success">
              <td>3</td>
              <td nowrap="nowrap">Bustillo Vazquez Pablo</td>
              <td>Athénée Robert Catteau, Bruxelles — 5e</td>
              <td>72</td>
              <td>92</td>
              <td><strong>164</strong></td>
            </tr>

            <tr class="success">
              <td>4</td>
              <td nowrap="nowrap">Devillez Henri</td>
              <td>Institut de la Providence de Champion, Champion — 6e</td>
              <td>67</td>
              <td>92</td>
              <td><strong>159</strong></td>
            </tr>

            <tr class="success">
              <td>5</td>
              <td nowrap="nowrap">Jooken Jorik</td>
              <td>Virga Jessecollege, Hasselt — 6e</td>
              <td>66</td>
              <td>92</td>
              <td><strong>158</strong></td>
            </tr>

            <tr class="success">
              <td>6</td>
              <td nowrap="nowrap">Derks Robbe</td>
              <td>Provinciaal Instituut Lommel, Lommel — 6e</td>
              <td>57</td>
              <td>93</td>
              <td><strong>150</strong></td>
            </tr>

            <tr class="success">
              <td>7</td>
              <td nowrap="nowrap">Gonze Damien</td>
              <td>Institut de la Providence, Wavre — 6e</td>
              <td>64</td>
              <td>72</td>
              <td><strong>136</strong></td>
            </tr>

            <tr class="success">
              <td>8</td>
              <td nowrap="nowrap">Simon Corentin</td>
              <td>Lycée Emile Jacqmain, Bruxelles — 4e</td>
              <td>61</td>
              <td>72</td>
              <td><strong>133</strong></td>
            </tr>

            <tr class="success">
              <td>9</td>
              <td nowrap="nowrap">Hoobergs Jesse</td>
              <td>Pius X College, Tessenderlo — 6e</td>
              <td>59</td>
              <td>72</td>
              <td><strong>131</strong></td>
            </tr>

            <tr class="success">
              <td>10</td>
              <td nowrap="nowrap">Hobert Manu</td>
              <td>GTI Beveren, Beveren-Waas — 5e</td>
              <td>55</td>
              <td>73</td>
              <td><strong>128</strong></td>
            </tr>

            <tr class="success">
              <td>11</td>
              <td nowrap="nowrap">Galant Damien</td>
              <td>Athénée Provincial de La Louvière, La Louvière — 4e</td>
              <td>71</td>
              <td>53</td>
              <td><strong>124</strong></td>
            </tr>

            <tr class="success">
              <td>12</td>
              <td nowrap="nowrap">Gabriel Mattias</td>
              <td>Collège du Sartay, Embourg — 6e</td>
              <td>52</td>
              <td>72</td>
              <td><strong>124</strong></td>
            </tr>

            <tr class="success">
              <td>13</td>
              <td nowrap="nowrap">Ekkart Nico</td>
              <td>Koninklijk Atheneum Deurne, Antwerpen — 5e</td>
              <td>67</td>
              <td>53</td>
              <td><strong>120</strong></td>
            </tr>

            <tr class="success">
              <td>14</td>
              <td nowrap="nowrap">Delhez Louis</td>
              <td>Centre scolaire Saint-Benoît-Saint-Servais, Liège — 5e</td>
              <td>63</td>
              <td>53</td>
              <td><strong>116</strong></td>
            </tr>

            <tr class="success">
              <td>15</td>
              <td nowrap="nowrap">Debast Dieter</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 6e</td>
              <td>59</td>
              <td>53</td>
              <td><strong>112</strong></td>
            </tr>

            <tr>
              <td>16</td>
              <td nowrap="nowrap">Keersmaekers Kris</td>
              <td>Sint-Dimpnacollege, Geel — 5e</td>
              <td>58</td>
              <td>53</td>
              <td><strong>111</strong></td>
            </tr>

            <tr>
              <td>17</td>
              <td nowrap="nowrap">Van Iseghem Koen</td>
              <td>Visitatie, Mariakerke — 6e</td>
              <td>55</td>
              <td>53</td>
              <td><strong>108</strong></td>
            </tr>

            <tr>
              <td>18</td>
              <td nowrap="nowrap">Abts Adrien</td>
              <td>Institut Saint-Joseph, Bruxelles — 6e</td>
              <td>50</td>
              <td>53</td>
              <td><strong>103</strong></td>
            </tr>

            <tr>
              <td>19</td>
              <td nowrap="nowrap">Billot Louis</td>
              <td>Collège Notre-Dame de Bon Secours, Binche — 4e</td>
              <td>48</td>
              <td>53</td>
              <td><strong>101</strong></td>
            </tr>

            <tr>
              <td>20</td>
              <td nowrap="nowrap">Staquet Gaëtan</td>
              <td>Athénée Royal de Nivelles, Nivelles — 5e</td>
              <td>44</td>
              <td>53</td>
              <td><strong>97</strong></td>
            </tr>

            <tr>
              <td>21</td>
              <td nowrap="nowrap">Goffinet Lucas</td>
              <td>Institut Notre-Dame, Malmedy, Malmedy — 6e</td>
              <td>42</td>
              <td>50</td>
              <td><strong>92</strong></td>
            </tr>

            <tr>
              <td>22</td>
              <td nowrap="nowrap">Janssens Ruben</td>
              <td>Sint-Michielscollege Schoten, Schoten — 5e</td>
              <td>58</td>
              <td>30</td>
              <td><strong>88</strong></td>
            </tr>

            <tr>
              <td>23</td>
              <td nowrap="nowrap">De Backer Bram</td>
              <td>Leiepoort Campus Sint-Hendrik, Deinze — 6e</td>
              <td>57</td>
              <td>30</td>
              <td><strong>87</strong></td>
            </tr>

            <tr>
              <td>24</td>
              <td nowrap="nowrap">Debie Philippe</td>
              <td>Provinciale Secundaire School Voeren, Voeren — 5e</td>
              <td>32</td>
              <td>53</td>
              <td><strong>85</strong></td>
            </tr>

            <tr>
              <td>25</td>
              <td nowrap="nowrap">Parmentier Klaas </td>
              <td>Onze-Lieve-Vrouwecollege Campus Bevegem, Zottegem — 6e</td>
              <td>52</td>
              <td>30</td>
              <td><strong>82</strong></td>
            </tr>

            <tr>
              <td>26</td>
              <td nowrap="nowrap">Fraiture Jimmy</td>
              <td>Collège Saint-Etienne Hayeffes, Mont-Saint-Guibert — 4e</td>
              <td>55</td>
              <td>23</td>
              <td><strong>78</strong></td>
            </tr>

            <tr>
              <td>27</td>
              <td nowrap="nowrap">Patel Shati</td>
              <td>Sint-Martinusscholen, Herk-De-Stad — 6e</td>
              <td>44</td>
              <td>30</td>
              <td><strong>74</strong></td>
            </tr>

            <tr>
              <td>28</td>
              <td nowrap="nowrap">Vantomme Marlies</td>
              <td>Klein Seminarie, Roeselare — 6e</td>
              <td>43</td>
              <td>30</td>
              <td><strong>73</strong></td>
            </tr>

            <tr>
              <td>29</td>
              <td nowrap="nowrap">Couplet Matteo</td>
              <td>Collège Sainte-Marie, Mouscron — 5e</td>
              <td>61</td>
              <td>11</td>
              <td><strong>72</strong></td>
            </tr>

            <tr>
              <td>30</td>
              <td nowrap="nowrap">Ilie Andrei</td>
              <td>Saint-Stanislas, Mons — 4e</td>
              <td>46</td>
              <td>23</td>
              <td><strong>69</strong></td>
            </tr>

            <tr>
              <td>31</td>
              <td nowrap="nowrap">Geuten Louis</td>
              <td>Collège St Servais, Namur — 6e</td>
              <td>67</td>
              <td>0</td>
              <td><strong>67</strong></td>
            </tr>

            <tr>
              <td>32</td>
              <td nowrap="nowrap">Vlaeminck Jean-Martin</td>
              <td>Lycée Maria Assumpta, Laeken — 5e</td>
              <td>63</td>
              <td>0</td>
              <td><strong>63</strong></td>
            </tr>

            <tr>
              <td>33</td>
              <td nowrap="nowrap">Moons David</td>
              <td>Sint-Franciscuscollege Campus Berkenbos, Heusden-Zolder — 4e</td>
              <td>30</td>
              <td>30</td>
              <td><strong>60</strong></td>
            </tr>

            <tr>
              <td>34</td>
              <td nowrap="nowrap">Dooms Fleur</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 6e</td>
              <td>28</td>
              <td>30</td>
              <td><strong>58</strong></td>
            </tr>

            <tr>
              <td>35</td>
              <td nowrap="nowrap">Riche Antonin</td>
              <td>IPES, Wavre — 5e</td>
              <td>22</td>
              <td>30</td>
              <td><strong>52</strong></td>
            </tr>

            <tr>
              <td>36</td>
              <td nowrap="nowrap">Valcke Maarten</td>
              <td>Ka Sint-Niklaas, Sint-Niklaas — 6e</td>
              <td>34</td>
              <td>0</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>37</td>
              <td nowrap="nowrap">Marting Andreas</td>
              <td>Institut des Arts et Métiers de Pierrard, Virton — 6e</td>
              <td>17</td>
              <td>0</td>
              <td><strong>17</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
