---
title: beOI 2014
---
<section class="page-title page-title-4 image-bg">
  <div class="background-image-holder" id="page-header-image-holder" > </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2014 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2014/ioi-belg.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">In 2014 waren alle IOI-laureaten van de vorige jaren te oud om nog deel te nemen, dus kwam een volledig nieuwe "generatie" kandidaten aan bod. We zagen opnieuw heel wat nieuw en gemotiveerd talent opduiken. Hoewel zij er allemaal voluit voor gegaan zijn, konden we dit jaar echter geen medaille verzilveren op de Internationale Olympiade. Tijdelijk... </p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Halve Finale</h2>

        <p>De halve finale van de Belgische Informatica-olympiade 2014 vond plaats op woensdag 27 november 2013 in verschillende regionale centra verspreid over het land.</p>
      
        <h3>Enkele cijfers</h3>

        <ul>
          <li><strong>165 leerlingen</strong> uit het secundair onderwijs namen deel aan de halve finale.</li>
          <li>De proef stond op een totaal van <strong>108 punten</strong>.</li>
          <li>Een minimum van <strong>60 punten</strong> moest behaald worden om finalist(e) te zijn.</li>
          <li>De <strong>40 best gerangschikten</strong> van de halve finale plaatsten zich zo voor de finale.</li>
          <li>2 deelnemers behaalden meer dan 100 punten, 10 haalden 90 punten of meer.</li>
          <li><strong>8 meisjes</strong> namen deel aan de halve finale, 3 daarvan stootten door naar de finale.</li>
          <li>De jongste deelnemer was <strong>13 jaar</strong>.</li>
        </ul>

        <h2>Top-3</h2>

        <ul>
          <li><strong>Tomas Rigaux</strong> - Ecole Internationale Provence-Alpes-Côtes d'Azur - 6e middelbaar - 103 ptn</li>
          <li><strong>Henri Devillez</strong> - Institut de la Providence, Champion - 6e middelbaar - 100 ptn</li>
          <li><strong>Pablo Bustillo Vazquez</strong> - Athénée Robert Catteau, Bruxelles - 5e middelbaar - 98 ptn</li>
        </ul> 


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>De finale van de Belgische Informatica-olympiade 2013 vond plaats in Leuven op zaterdag 8 februari 2014. Tomas Rigaux won de wedstrijd met een mooie voorsprong op de eerstvolgende finalisten. Zoals de voorgaande edities, bestond de finale uit een proef op papier (1u15) en een proef aan de computer (3u30). </p>

        <p>Meer dan 2000&nbsp;€ aan prijzen werd uitgedeeld aan de best geplaatste finalisten. Bovendien werden de eerste 15 gerangschikten weerhouden om deel uit te maken van de trainingspool met als doel een Belgische delegatie voor de Internationale Olympiade Informatica in Taiwan te vormen.</p>

        <p>U kunt <a href="#results">onderaan deze pagina</a> de scores en het officiële eindklassement van de finale 2014 terugvinden. <!-- Op de volgende foto staan de 5 best gerangschikten van de finale, van links naar rechts: Jorik Jooken (5e), Pablo Bustillo Vazquez (3e), Henri Devillez (4e), Tomas Rigaux (1e) en Jannes Braet (2e). --> </p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>




<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Internationale Olympiade (IOI)</h2>

        <p><%= image_tag "archives/2014/IOI2014-logo.png", class:"pull-right cast-shadow" %>De 26e Internationale Olympiade Informatica vond plaats in Taipei, Taiwan. 
        Dit jaar was de Belgische delegatie samengesteld uit 4 kandidaten die voor de eerste keer deelnamen aan zulk groot avontuur. In tegenstelling tot vorige jaren, konden we echter geen medaille veroveren in 2014.</p>

          <p>De Belgische ploeg werd gevormd door Damien Galant (4e middelbaar), Damien Gonze, Robbe Derks en Jorik Jooken (allen 6e middelbaar). Zij werden begeleid door Damien Leroy en Joachim Ganseman. Deze vier werden na een uitgebreide trainingsperiode en een selectie gekozen uit de allerbesten van de Belgische olympiade.</p>
          
          <p>De IOI 2014 telde 311 deelnemers uit 81 landen wereldwijd die het individueel tegen elkaar opnamen. De resultaten van het Belgische team, op een totaal van 600 punten, waren als volgt:
          </p>
          <ul>
            <li>184e: Damien Galant - 174pts (5e van links op de volgende foto)</li>
            <li>231e: Jorik Jooken - 101pts (3e op de foto)</li>
            <li>248e: Damien Gonze - 84pts (6e op de foto)</li>
            <li>256e: Robbe Derks - 78pts (4e op de foto)</li>
          </ul>

          <p>Benieuwd of je beter kan? Download de 6 vragen (<%= link_to 'dag 1', '/archives/IOI14-Questions-day1-nl.zip' %>, <%= link_to 'dag 2', '/archives/IOI14-Questions-day2-nl.zip' %>) en probeer ze op te lossen in minder dan 10 uur!</p>
        
        <%= image_tag "archives/2014/ioi-group.jpg", class:"img-polaroid cast-shadow", width:680, title:"De Belgische delegatie op de Internationale Olympiade Informatica"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors en Steun</h2>

        <p>Deze Olympiade kon slechts georganiseerd worden dankzij de steun van verschillende partners. Wij bedanken hen uitdrukkelijk voor hun ondersteuning!</p>

        <h3>Sponsors </h3> 
        <% link_to "http://www.iminds.be", target:'_blank' do %>
        <%= image_tag "ext-logos/iMinds-logo.png", style:"max-width:250px;padding-right:10px;" %>
        <% end %>
        <% link_to "http://www.unamur.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/unamur-logo.png", style:"padding-right:10px;max-width:150px;" %>
        <% end %>
        <% link_to "http://www.thomasmore.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/thomasmore-logo.jpg", style:"max-width:200px;padding-left:10px;" %>
        <% end %>

        <h3 class="mt32">Met de steun van</h3> 
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section>
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Statistieken</h2>

        <h3>Halve Finale</h3>

        <p><img src="//chart.googleapis.com/chart?chf=c,ls,86.667,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|100|75|50|25|0&chxp=0,100,75,50,25,0&chxr=0,0,108&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=2,1,0&chs=557x193&cht=bvs&chco=A2C180,AA0033&chds=0,108,0,108&chd=t:103,100,98,95,95,95,93,92,92,92,89,89,89,89,87,86,86,85,85,85,83,83,83,81,81,79,79,78,78,77,77,76,76,74,74,74,73,73,72,72|0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,70,70,69,69,69,69,68,68,68,68,67,67,67,67,66,66,64,63,63,62,60,60,59,58,57,57,56,56,56,56,54,54,54,54,54,53,52,51,51,50,50,50,49,49,49,49,48,48,48,46,46,45,45,44,44,44,44,43,42,42,42,42,42,42,41,41,40,40,39,39,39,38,37,37,37,37,36,36,36,36,35,34,34,32,32,32,31,31,30,30,30,28,27,27,26,26,25,25,25,25,24,23,23,22,22,22,22,21,20,20,20,19,19,19,18,17,17,13,11,10,9,9,7,3&chdl=Finalisten|Niet-finalisten&chdlp=b&chg=-1,-1,0,0&chma=0,0,0,6&chm=h,FFCC33,1,0.53:5,1&chtt=Scores+(in+aflopende+volgorde)&chts=676767,10.167"  alt="Scores (in aflopende volgorde)" /></p>

        <p><img src="//chart.googleapis.com/chart?chf=c,ls,0,FAFAFA,0.09,FFFFFF,0.09&chxl=0:|0|20|40|60|80|1:|6e+|5e+|4e+|3e+|2e&chxp=0,0,20,40,60,80&chxr=0,0,77&chxs=0,676767,11.5,0,t,676767&chxtc=0,5&chxt=x,y&chbh=a,3,0&chs=337x174&cht=bhs&chco=008000,80C65A,AA0033&chds=0,85,0,85,0,85&chd=t:0,0,0,2,8|0,0,6,9,15|2,5,8,33,77&chdl=TOP+10|Finalisten|Niet-finalisten&chdlp=b&chma=|0,16&chtt=verdeling+deelnemers+volgens+jaar+middelbaar&chts=676767,9.8" width="337" height="174" alt="Verdeling deelnemers volgens jaar middelbaar" /></p>

        <p><img src="//chart.googleapis.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q7|Q8&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=a,1,7&chs=400x193&cht=bvg&chco=3399CC&chd=t:72.42,72.1,39.5,28.6,66,50,25.66,65.7&chtt=Gemiddelde+(%25)+behaald+op+elke+vraag&chts=676767,9.667" alt="Gemiddelde (%) behaald op elke vraag" /></p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Nationaal eindklassement</h2>

        <p>De gedeeltes op papier en aan de computer stonden respectievelijk op 75 en 150 punten. In geval van gelijkheid, wordt de volgorde bepaald door het tijdstip van succesvol indienen bij het computergedeelte. De eerste 15 gerangschikten werden uitgenodigd om deel uit te maken van de trainingspool voor de Internationale Olympiade Informatica.</p>

        <table class="table table-striped">
          <tbody><tr><th>#</th><th>Naam</th><th>School</th><th>Papier</th><th>Computer</th><th>Totaal</th></tr>

            <tr class="success">
              <td>1</td>
              <td nowrap="nowrap">Rigaux Tomas</td>
              <td>École Internationale Provence-Alpes-Côte d'Azur, Manosque (F) — 6e</td>
              <td>75</td>
              <td>112</td>
              <td><strong>187</strong></td>
            </tr>

            <tr class="success">
              <td>2</td>
              <td nowrap="nowrap">Braet Jannes</td>
              <td>Don Bosco College Zwijnaarde, Gent — 6e</td>
              <td>57</td>
              <td>112</td>
              <td><strong>169</strong></td>
            </tr>

            <tr class="success">
              <td>3</td>
              <td nowrap="nowrap">Bustillo Vazquez Pablo</td>
              <td>Athénée Robert Catteau, Bruxelles — 5e</td>
              <td>72</td>
              <td>92</td>
              <td><strong>164</strong></td>
            </tr>

            <tr class="success">
              <td>4</td>
              <td nowrap="nowrap">Devillez Henri</td>
              <td>Institut de la Providence de Champion, Champion — 6e</td>
              <td>67</td>
              <td>92</td>
              <td><strong>159</strong></td>
            </tr>

            <tr class="success">
              <td>5</td>
              <td nowrap="nowrap">Jooken Jorik</td>
              <td>Virga Jessecollege, Hasselt — 6e</td>
              <td>66</td>
              <td>92</td>
              <td><strong>158</strong></td>
            </tr>

            <tr class="success">
              <td>6</td>
              <td nowrap="nowrap">Derks Robbe</td>
              <td>Provinciaal Instituut Lommel, Lommel — 6e</td>
              <td>57</td>
              <td>93</td>
              <td><strong>150</strong></td>
            </tr>

            <tr class="success">
              <td>7</td>
              <td nowrap="nowrap">Gonze Damien</td>
              <td>Institut de la Providence, Wavre — 6e</td>
              <td>64</td>
              <td>72</td>
              <td><strong>136</strong></td>
            </tr>

            <tr class="success">
              <td>8</td>
              <td nowrap="nowrap">Simon Corentin</td>
              <td>Lycée Emile Jacqmain, Bruxelles — 4e</td>
              <td>61</td>
              <td>72</td>
              <td><strong>133</strong></td>
            </tr>

            <tr class="success">
              <td>9</td>
              <td nowrap="nowrap">Hoobergs Jesse</td>
              <td>Pius X College, Tessenderlo — 6e</td>
              <td>59</td>
              <td>72</td>
              <td><strong>131</strong></td>
            </tr>

            <tr class="success">
              <td>10</td>
              <td nowrap="nowrap">Hobert Manu</td>
              <td>GTI Beveren, Beveren-Waas — 5e</td>
              <td>55</td>
              <td>73</td>
              <td><strong>128</strong></td>
            </tr>

            <tr class="success">
              <td>11</td>
              <td nowrap="nowrap">Galant Damien</td>
              <td>Athénée Provincial de La Louvière, La Louvière — 4e</td>
              <td>71</td>
              <td>53</td>
              <td><strong>124</strong></td>
            </tr>

            <tr class="success">
              <td>12</td>
              <td nowrap="nowrap">Gabriel Mattias</td>
              <td>Collège du Sartay, Embourg — 6e</td>
              <td>52</td>
              <td>72</td>
              <td><strong>124</strong></td>
            </tr>

            <tr class="success">
              <td>13</td>
              <td nowrap="nowrap">Ekkart Nico</td>
              <td>Koninklijk Atheneum Deurne, Antwerpen — 5e</td>
              <td>67</td>
              <td>53</td>
              <td><strong>120</strong></td>
            </tr>

            <tr class="success">
              <td>14</td>
              <td nowrap="nowrap">Delhez Louis</td>
              <td>Centre scolaire Saint-Benoît-Saint-Servais, Liège — 5e</td>
              <td>63</td>
              <td>53</td>
              <td><strong>116</strong></td>
            </tr>

            <tr class="success">
              <td>15</td>
              <td nowrap="nowrap">Debast Dieter</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 6e</td>
              <td>59</td>
              <td>53</td>
              <td><strong>112</strong></td>
            </tr>

            <tr>
              <td>16</td>
              <td nowrap="nowrap">Keersmaekers Kris</td>
              <td>Sint-Dimpnacollege, Geel — 5e</td>
              <td>58</td>
              <td>53</td>
              <td><strong>111</strong></td>
            </tr>

            <tr>
              <td>17</td>
              <td nowrap="nowrap">Van Iseghem Koen</td>
              <td>Visitatie, Mariakerke — 6e</td>
              <td>55</td>
              <td>53</td>
              <td><strong>108</strong></td>
            </tr>

            <tr>
              <td>18</td>
              <td nowrap="nowrap">Abts Adrien</td>
              <td>Institut Saint-Joseph, Bruxelles — 6e</td>
              <td>50</td>
              <td>53</td>
              <td><strong>103</strong></td>
            </tr>

            <tr>
              <td>19</td>
              <td nowrap="nowrap">Billot Louis</td>
              <td>Collège Notre-Dame de Bon Secours, Binche — 4e</td>
              <td>48</td>
              <td>53</td>
              <td><strong>101</strong></td>
            </tr>

            <tr>
              <td>20</td>
              <td nowrap="nowrap">Staquet Gaëtan</td>
              <td>Athénée Royal de Nivelles, Nivelles — 5e</td>
              <td>44</td>
              <td>53</td>
              <td><strong>97</strong></td>
            </tr>

            <tr>
              <td>21</td>
              <td nowrap="nowrap">Goffinet Lucas</td>
              <td>Institut Notre-Dame, Malmedy, Malmedy — 6e</td>
              <td>42</td>
              <td>50</td>
              <td><strong>92</strong></td>
            </tr>

            <tr>
              <td>22</td>
              <td nowrap="nowrap">Janssens Ruben</td>
              <td>Sint-Michielscollege Schoten, Schoten — 5e</td>
              <td>58</td>
              <td>30</td>
              <td><strong>88</strong></td>
            </tr>

            <tr>
              <td>23</td>
              <td nowrap="nowrap">De Backer Bram</td>
              <td>Leiepoort Campus Sint-Hendrik, Deinze — 6e</td>
              <td>57</td>
              <td>30</td>
              <td><strong>87</strong></td>
            </tr>

            <tr>
              <td>24</td>
              <td nowrap="nowrap">Debie Philippe</td>
              <td>Provinciale Secundaire School Voeren, Voeren — 5e</td>
              <td>32</td>
              <td>53</td>
              <td><strong>85</strong></td>
            </tr>

            <tr>
              <td>25</td>
              <td nowrap="nowrap">Parmentier Klaas </td>
              <td>Onze-Lieve-Vrouwecollege Campus Bevegem, Zottegem — 6e</td>
              <td>52</td>
              <td>30</td>
              <td><strong>82</strong></td>
            </tr>

            <tr>
              <td>26</td>
              <td nowrap="nowrap">Fraiture Jimmy</td>
              <td>Collège Saint-Etienne Hayeffes, Mont-Saint-Guibert — 4e</td>
              <td>55</td>
              <td>23</td>
              <td><strong>78</strong></td>
            </tr>

            <tr>
              <td>27</td>
              <td nowrap="nowrap">Patel Shati</td>
              <td>Sint-Martinusscholen, Herk-De-Stad — 6e</td>
              <td>44</td>
              <td>30</td>
              <td><strong>74</strong></td>
            </tr>

            <tr>
              <td>28</td>
              <td nowrap="nowrap">Vantomme Marlies</td>
              <td>Klein Seminarie, Roeselare — 6e</td>
              <td>43</td>
              <td>30</td>
              <td><strong>73</strong></td>
            </tr>

            <tr>
              <td>29</td>
              <td nowrap="nowrap">Couplet Matteo</td>
              <td>Collège Sainte-Marie, Mouscron — 5e</td>
              <td>61</td>
              <td>11</td>
              <td><strong>72</strong></td>
            </tr>

            <tr>
              <td>30</td>
              <td nowrap="nowrap">Ilie Andrei</td>
              <td>Saint-Stanislas, Mons — 4e</td>
              <td>46</td>
              <td>23</td>
              <td><strong>69</strong></td>
            </tr>

            <tr>
              <td>31</td>
              <td nowrap="nowrap">Geuten Louis</td>
              <td>Collège St Servais, Namur — 6e</td>
              <td>67</td>
              <td>0</td>
              <td><strong>67</strong></td>
            </tr>

            <tr>
              <td>32</td>
              <td nowrap="nowrap">Vlaeminck Jean-Martin</td>
              <td>Lycée Maria Assumpta, Laeken — 5e</td>
              <td>63</td>
              <td>0</td>
              <td><strong>63</strong></td>
            </tr>

            <tr>
              <td>33</td>
              <td nowrap="nowrap">Moons David</td>
              <td>Sint-Franciscuscollege Campus Berkenbos, Heusden-Zolder — 4e</td>
              <td>30</td>
              <td>30</td>
              <td><strong>60</strong></td>
            </tr>

            <tr>
              <td>34</td>
              <td nowrap="nowrap">Dooms Fleur</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 6e</td>
              <td>28</td>
              <td>30</td>
              <td><strong>58</strong></td>
            </tr>

            <tr>
              <td>35</td>
              <td nowrap="nowrap">Riche Antonin</td>
              <td>IPES, Wavre — 5e</td>
              <td>22</td>
              <td>30</td>
              <td><strong>52</strong></td>
            </tr>

            <tr>
              <td>36</td>
              <td nowrap="nowrap">Valcke Maarten</td>
              <td>Ka Sint-Niklaas, Sint-Niklaas — 6e</td>
              <td>34</td>
              <td>0</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>37</td>
              <td nowrap="nowrap">Marting Andreas</td>
              <td>Institut des Arts et Métiers de Pierrard, Virton — 6e</td>
              <td>17</td>
              <td>0</td>
              <td><strong>17</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
