---
title: beOI 2018
trianglify_colors: '"RdBu"'
---
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2018 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <p class="lead">
          TODO
          L'Olympiade belge d'Informatique 2017 a été un grand succès avec une nette augmentation
          du nombre de participants et de très bons résultats à l'international.
          Pour la première fois cette année, l'éliminatoire du concours national se déroulait sur ordinateur et
          principalement dans les écoles. Ce concours comportant des tâches de logique de résoudre et était
          ainsi plus accessible à tous. La finale en mars à Bruxelles, sur papier, a permis de départager les meilleurs
          participants de chaque catégorie. L'Olympiade internationale a été un grand succès avec deux médailles de
          bronze, dont l'une pour la première participation d'un candidat. A noter également, notre participation
          à la première olympiade européenne junior d'informatique en Bulgarie.
        </p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Qualification</h2>

        <p>L'édition 2018 a compté 1456 participants officiels venant de plus de 150 écoles différentes dont 74 organisaient le concours au sein de leur établissements.</p>
      </div>

      <div id="chart-cat" class="col-md-4" style="height: 200px;"><div style="position: relative;"><div dir="ltr" style="position: relative; width: 360px; height: 200px;"><div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart."><svg width="360" height="200" aria-label="A chart." style="overflow: hidden;"><defs id="_ABSTRACT_RENDERER_ID_0"></defs><g><rect x="223" y="38" width="73" height="42" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g column-id="Cadet"><rect x="223" y="38" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="46.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Cadet</text></g><circle cx="228" cy="43" r="5" stroke="none" stroke-width="0" fill="#e31d3b"></circle></g><g column-id="Junior"><rect x="223" y="54" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="62.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Junior</text></g><circle cx="228" cy="59" r="5" stroke="none" stroke-width="0" fill="#f46d43"></circle></g><g column-id="Senior"><rect x="223" y="70" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="78.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Senior</text></g><circle cx="228" cy="75" r="5" stroke="none" stroke-width="0" fill="#fdae61"></circle></g></g><g><path d="M136,100L136,38A62,62,0,0,1,197.99480440698446,100.80263724043908L136,100A0,0,0,0,0,136,100" stroke="#ffffff" stroke-width="1" fill="#e31d3b"></path><text text-anchor="start" x="149.14578580396372" y="76.7033915240267" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#ffffff">25.2%</text></g><g><path d="M136,100L101.00050494408443,151.17651166141496A62,62,0,0,1,136,38L136,100A0,0,0,0,0,136,100" stroke="#ffffff" stroke-width="1" fill="#fdae61"></path><text text-anchor="start" x="86.51428394683073" y="92.526149283748" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#ffffff">40.5%</text></g><g><path d="M136,100L197.99480440698446,100.80263724043908A62,62,0,0,1,101.00050494408443,151.17651166141496L136,100A0,0,0,0,0,136,100" stroke="#ffffff" stroke-width="1" fill="#f46d43"></path><text text-anchor="start" x="140.4893451412532" y="139.10101540962404" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#ffffff">34.3%</text></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Catégories</th><th>Nombre de participants</th></tr></thead><tbody><tr><td>Cadet</td><td>367</td></tr><tr><td>Junior</td><td>500</td></tr><tr><td>Senior</td><td>589</td></tr></tbody></table></div></div></div><div aria-hidden="true" style="display: none; position: absolute; top: 210px; left: 370px; white-space: nowrap; font-family: Arial; font-size: 10px;">Senior</div><div></div></div></div>
      <div id="chart-lang" class="col-md-4" style="height: 200px;"><div style="position: relative;"><div dir="ltr" style="position: relative; width: 360px; height: 200px;"><div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart."><svg width="360" height="200" aria-label="A chart." style="overflow: hidden;"><defs id="_ABSTRACT_RENDERER_ID_1"><filter id="_ABSTRACT_RENDERER_ID_3"><feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur><feOffset dx="1" dy="1"></feOffset><feComponentTransfer><feFuncA type="linear" slope="0.1"></feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g><rect x="223" y="38" width="73" height="42" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g column-id="Francophones"><rect x="223" y="38" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="46.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Francophones</text><rect x="237" y="38" width="59" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g><circle cx="228" cy="43" r="5" stroke="none" stroke-width="0" fill="#f46d43"></circle></g><g column-id="Néerlandophones"><rect x="223" y="54" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="62.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Néerlandophones</text><rect x="237" y="54" width="59" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g><circle cx="228" cy="59" r="5" stroke="none" stroke-width="0" fill="#fdae61"></circle></g><g column-id="Germanophones"><rect x="223" y="70" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="78.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Germanophones</text><rect x="237" y="70" width="59" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g><circle cx="228" cy="75" r="5" stroke="none" stroke-width="0" fill="#e31d3b"></circle></g></g><g><path d="M136,100L136,38A62,62,0,0,1,160.956688801878,156.75529652857273L136,100A0,0,0,0,0,136,100" stroke="#ffffff" stroke-width="1" fill="#f46d43"></path><text text-anchor="start" x="158.43607126273227" y="95.84287885889556" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#ffffff">43.4%</text></g><g><path d="M136,100L131.18888355865823,38.186949932980575A62,62,0,0,1,136,38L136,100A0,0,0,0,0,136,100" stroke="#ffffff" stroke-width="1" fill="#e31d3b"></path></g><g><path d="M136,100L160.956688801878,156.75529652857273A62,62,0,1,1,131.18888355865823,38.186949932980575L136,100A0,0,0,1,0,136,100" stroke="#ffffff" stroke-width="1" fill="#fdae61"></path><text text-anchor="start" x="85.93530704552882" y="112.55441280788789" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#ffffff">55.4%</text></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Langue</th><th>Nombre de participants</th></tr></thead><tbody><tr><td>Francophones</td><td>632</td></tr><tr><td>Néerlandophones</td><td>806</td></tr><tr><td>Germanophones</td><td>18</td></tr></tbody></table></div></div></div><div aria-hidden="true" style="display: none; position: absolute; top: 210px; left: 370px; white-space: nowrap; font-family: Arial; font-size: 10px; font-weight: bold;">632 (43.4%)</div><div></div></div></div>
      <div id="chart-gender" class="col-md-4" style="height: 200px;"><div style="position: relative;"><div dir="ltr" style="position: relative; width: 360px; height: 200px;"><div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart."><svg width="360" height="200" aria-label="A chart." style="overflow: hidden;"><defs id="_ABSTRACT_RENDERER_ID_2"></defs><g><rect x="223" y="38" width="73" height="26" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g column-id="Masculin"><rect x="223" y="38" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="46.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Masculin</text></g><circle cx="228" cy="43" r="5" stroke="none" stroke-width="0" fill="#fdae61"></circle></g><g column-id="Féminin"><rect x="223" y="54" width="73" height="10" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="237" y="62.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">Féminin</text></g><circle cx="228" cy="59" r="5" stroke="none" stroke-width="0" fill="#f46d43"></circle></g></g><g><path d="M136,100L75.38093118500748,86.98737167197952A62,62,0,0,1,136,38L136,100A0,0,0,0,0,136,100" stroke="#ffffff" stroke-width="1" fill="#f46d43"></path><text text-anchor="start" x="97.65587324556482" y="73.37553639641158" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#ffffff">21.6%</text></g><g><path d="M136,100L136,38A62,62,0,1,1,75.38093118500748,86.98737167197952L136,100A0,0,0,1,0,136,100" stroke="#ffffff" stroke-width="1" fill="#fdae61"></path><text text-anchor="start" x="146.3441267544352" y="133.62446360358842" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#ffffff">78.4%</text></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Genre</th><th>Nombre de participants</th></tr></thead><tbody><tr><td>Masculin</td><td>1,141</td></tr><tr><td>Féminin</td><td>315</td></tr></tbody></table></div></div></div><div aria-hidden="true" style="display: none; position: absolute; top: 210px; left: 370px; white-space: nowrap; font-family: Arial; font-size: 10px;">Féminin</div><div></div></div></div>

      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p>Le score minimal pour être qualifié pour la finale est de <strong>245 points pour la catégorie cadet</strong> (42 candidats), <strong>267 points pour la catégorie junior</strong> (53 candidats) et <strong>272 points pour la catégorie senior</strong> (59 candidats). Le score maximum possible était de 320 points.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h3>Top-3 - Cadet</h3>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>Ecole (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Dylan Lejeune</td>
              <td>De zonnewijzer Zwalm, Gent (6e (primaire))</td>
              <td><strong>277</strong></td>
            </tr>
            <tr>
              <td>-</td>
              <td nowrap="nowrap">Niels Vaneynde</td>
              <td>Koninklijk Atheneum Ekeren (2e)</td>
              <td><strong>277</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Gael Berlanga Boemare</td>
              <td>École Européenne de Bruxelles IV (2e)</td>
              <td><strong>272</strong></td>
            </tr>
          </tbody>
        </table>

        <h3>Top-3 - Junior</h3>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>Ecole (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Senne De Vocht</td>
              <td>Githo Nijlen (4e)</td>
              <td><strong>300</strong></td>
            </tr>
            <tr>
              <td>-</td>
              <td nowrap="nowrap">Simon	Pitte</td>
              <td>École Européenne de Bruxelles IV (4e)</td>
              <td><strong>300</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Daniel Cortild</td>
              <td>Collège Saint-Michel, Etterbeek (4e)</td>
              <td><strong>290</strong></td>
            </tr>
            <tr>
              <td>-</td>
              <td nowrap="nowrap">Guillaume Deceuninck</td>
              <td>Collège Saint-Guibert, Gembloux (4e)</td>
              <td><strong>290</strong></td>
            </tr>
          </tbody>
        </table>

        <h3>Top-3 - Senior</h3>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>Ecole (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Silke Van Der Schueren</td>
              <td>Sint-Bavohumaniora, Gent (6e)</td>
              <td><strong>317</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Gijs Fiten</td>
              <td>Sint-Augustinusinstituut, Bree (6e)</td>
              <td><strong>315</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Lucas Prieels</td>
              <td>Collège Don Bosco, Bruxelles (5e)</td>
              <td><strong>307</strong></td>
            </tr>
            <tr>
              <td>-</td>
              <td nowrap="nowrap">Jan Quan</td>
              <td>Guldenporencollege Kaai (5e)</td>
              <td><strong>307</strong></td>
            </tr>
          </tbody>
        </table>

        <h3>Top-5 - Écoles</h3>

        <p>Écoles ayant le plus grand nombre de participants:</p>

        <ol class="dl-horizontal category-list">
          <li>Centre Asty Moulin, Namur: 60 participants</li>
          <li>VTI Sint-Lucas Menen: 56 participants</li>
          <li>Heilig Hart Van Maria Berlaar: 50 participants</li>
          <li>Institut Diderot, Bruxelles: 47 participants</li>
          <li>Sint-Bavohumaniora, Gent: 46 participants</li>
        </ol>


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>La finale 2018 a eu lieu 17 mars 2018 à Bruxelles. 29, 36 et 40 élèves participaients respectivement dans les catégories cadet, junior et senior.</p>
        <p>Les finalistes étaient invités à une formation et à rejoindre la beCP en vue d'une éventuelle sélection à l'olympiade internationale d'informatique. </p>

        <p>Le classement et les résultats complets sont disponibles <a href="#results">ci-dessous</a>.</p>

        <%= image_tag "archives/2018/beoi18-final.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>



<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>beCP</h2>

        <p>La sélection pour l'Olympiade Internationale d'Informatique (IOI 2018) a eu lieu le 19 mai à l'HEB-ESI, au coeur de Bruxelles. Pour rejoindre la beCP, les étudiants devaient
        démontrer leur motivation et compétence en programmation. De nombreux camps d'entraînement ont été organisés tout au long de l'année pour le groupe entier.</p>

        <p>La proclamation a été organisée avec la proclamation beOI. Les résultats officiels de la beCP sont disponibles <a href="#results_becp">ci-dessous</a>.</p>

        <%= image_tag "archives/2018/becp18.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>



<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Olympiade Internationale(IOI)</h2>

        <p><%= image_tag "archives/2018/ioi2018-logo.jpg", class:"pull-right cast-shadow", width:250 %>
        La 30e Olympiade Internationale d'Informatique avait lieu à Tsukuba, au Japon.
        La délégation belge était composée de Bruno Ploumhans, Arthur Massar (tous deux en 6e secondaire), Sebastian Weiermann (5e) et Oscar Jocqué (4e),
        encadrés par Damien Leroy et Robin Jadoul. Bruno participait pour la troisième fois, c'était la deuxième IOI pour les trois autres participants.
        Nous n'avons pas remporté de médaille cette année.</p>

        <p>331 participants issus de 87 pays participaient à l'IOI 2018. Les résultats de l'équipe belge sont les suivants (sur un total possible de 600 points):
        </p>
        <ul>
          <li>172e: Arthur Massar - 181 pts (5e en partant de la gauche sur la photo ci-dessous)</li>
          <li>216e: Bruno Ploumhans - 146 pts (3e sur la photo)</li>
          <li>232e: Oscar Jocqué - 116 pts (2e sur la photo)</li>
          <li>234e: Sebastian Weiermann - 113 pts (4e sur la photo)</li>
        </ul>

        <p>Pensez-vous faire mieux ? Téléchargez les questions et tentez de résoudre les problèmes en moins de 10 heures !
        (<%= link_to 'jour 1', '/archives/IOI18-Questions-day1-fr.zip' %>, <%= link_to 'jour 2', '/archives/IOI18-Questions-day2-fr.zip' %>)</p>

        <%= image_tag "archives/2018/ioi2018-team.jpg", class:"img-polaroid cast-shadow", width:680, title:"Délégation belge à l'IOI 2018"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors et support</h2>


        <p>Ces Olympiades ont pu être organisées grâce au soutien reçu par divers organismes. Nous les remercions énormément pour leur support.</p>

        <h3>Sponsors </h3>
        <% link_to "http://www.docbyte.com/", target:'_blank' do %>
        <%= image_tag "ext-logos/docbyte-logo.png", width:350, style:"padding:15px;" %>
        <% end %>

        <h3 class="mt32">Avec le soutien de</h3>
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        <% link_to "http://www.federation-wallonie-bruxelles.be", target:'_blank' do %>
        <%= image_tag "ext-logos/cfwb.jpg", width:350, style:"padding:10px;" %>
        <% end %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Classement national - Cadet</h2>

        <p>Sur un score maximal de 65 points.</p>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>Ecole (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Petar Vitorac</td>
              <td>Collège Saint-Pierre, Uccle (2e)</td>
              <td><strong>61</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Rik Vanderhaeghe</td>
              <td>Óscar Romerocollege campus Nachtegaal, Dendermonde (2e)</td>
              <td><strong>58</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Gael Berlanga Boemare</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (2e)</td>
              <td><strong>50</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Mathias Gernez</td>
              <td>Athénée Royal de Nivelles, Nivelles (2e)</td>
              <td><strong>46</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Tim Willaert</td>
              <td>Sint-Godelievecollege Gistel-Eernegem, Gistel (2e)</td>
              <td><strong>45</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Dries Rooryck</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (2e)</td>
              <td><strong>42</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Corentin Watthez</td>
              <td>Institut de la Sainte-Union, Kain (2e)</td>
              <td><strong>42</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Niels Vaneynde</td>
              <td>Koninklijk Atheneum, Ekeren (2e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Pieterjan Vagenende</td>
              <td>Collège van de Paters Jozefieten, Melle (2e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Lowie Goossens</td>
              <td>Sint-Bavohumaniora, Gent (1re)</td>
              <td><strong>37</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Louis Bauer</td>
              <td>Collège Saint-Michel, Bruxelles (2e)</td>
              <td><strong>36</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Benoit Van Schaftingen</td>
              <td>Collège du Christ-Roi, Ottignies (1re)</td>
              <td><strong>34</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Norah Vansteeland</td>
              <td>Sint-Franciscus Xaveriusinstituut, Brugge (2e)</td>
              <td><strong>34</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Leo Nigot</td>
              <td>Athénée Royal de Neufchâteau-Bertrix (2e)</td>
              <td><strong>33</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Nils Lopez Martin</td>
              <td>Athénée Royal d'Uccle 1, Uccle (2e)</td>
              <td><strong>33</strong></td>
            </tr>
            <tr>
              <td>16</td>
              <td nowrap="nowrap">Suzanne Dubois</td>
              <td>Collège Saint-Guibert, Gembloux (2e)</td>
              <td><strong>32</strong></td>
            </tr>
            <tr>
              <td>17</td>
              <td nowrap="nowrap">Lucas Belmans</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (1re)</td>
              <td><strong>31</strong></td>
            </tr>
            <tr>
              <td>18</td>
              <td nowrap="nowrap">Loup Charlier</td>
              <td>Athénée Royal de Neufchâteau-Bertrix (2e)</td>
              <td><strong>30</strong></td>
            </tr>
            <tr>
              <td>18</td>
              <td nowrap="nowrap">Mohamed Achraf Moussaoui</td>
              <td>Collège Saint-Michel, Bruxelles (2e)</td>
              <td><strong>30</strong></td>
            </tr>
            <tr>
              <td>20</td>
              <td nowrap="nowrap">Dylan Lejeune</td>
              <td>De zonnewijzer, Zwalm (6e (primaire))</td>
              <td><strong>29</strong></td>
            </tr>
            <tr>
              <td>21</td>
              <td nowrap="nowrap">Viktor Cloes</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (1re)</td>
              <td><strong>28</strong></td>
            </tr>
            <tr>
              <td>22</td>
              <td nowrap="nowrap">Janneke Meert</td>
              <td>Sint-Bavohumaniora, Gent (2e)</td>
              <td><strong>25</strong></td>
            </tr>
            <tr>
              <td>22</td>
              <td nowrap="nowrap">Kasper-Rork Staelens</td>
              <td>Óscar Romerocollege campus Nachtegaal, Dendermonde (2e)</td>
              <td><strong>25</strong></td>
            </tr>
            <tr>
              <td>24</td>
              <td nowrap="nowrap">Teodor Mocanu</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (2e)</td>
              <td><strong>24</strong></td>
            </tr>
            <tr>
              <td>25</td>
              <td nowrap="nowrap">Jolien Gastmans</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (2e)</td>
              <td><strong>21</strong></td>
            </tr>
            <tr>
              <td>25</td>
              <td nowrap="nowrap">Stef Van Den Broeck</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (1re)</td>
              <td><strong>21</strong></td>
            </tr>
            <tr>
              <td>27</td>
              <td nowrap="nowrap">Seppe Landtsheer</td>
              <td>Óscar Romerocollege campus Nachtegaal, Dendermonde (2e)</td>
              <td><strong>19</strong></td>
            </tr>
            <tr>
              <td>28</td>
              <td nowrap="nowrap">Sander Wouters</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (1re)</td>
              <td><strong>18</strong></td>
            </tr>
            <tr>
              <td>29</td>
              <td nowrap="nowrap">Nesta Dhooghe</td>
              <td>Sint-Michielscollege Schoten, Schoten (2e)</td>
              <td><strong>14</strong></td>
            </tr>
          </tbody>
        </table>

        <h2>Classement national - Junior</h2>

        <p>Sur un score maximal de 88 points.</p>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>Ecole (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Jonas De Schouwer</td>
              <td>Jan-Van-Ruusbroeckollege, Brussel (4e)</td>
              <td><strong>85</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Simon Pitte</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (4e)</td>
              <td><strong>78</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Oscar Jocqué</td>
              <td>Collège van de Paters Jozefieten, Melle (4e)</td>
              <td><strong>78</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Erik Mikus</td>
              <td>Sint-Albertuscollege-Haasrode, Heverlee (4e)</td>
              <td><strong>75</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Pieter Van Steenweghen</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (4e)</td>
              <td><strong>73</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Ruben Van Dijck</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (4e)</td>
              <td><strong>72</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Gus Vanpoucke</td>
              <td>Sint-Bavohumaniora, Gent (3e)</td>
              <td><strong>70</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Senne De Vocht</td>
              <td>GITHO, Nijlen (4e)</td>
              <td><strong>69</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Olivier Fays</td>
              <td>Institut Saint-Roch, Theux (3e)</td>
              <td><strong>63</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Arn De Moor</td>
              <td>Sint-Barbaracollege, Gent (4e)</td>
              <td><strong>63</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Guillaume Deceuninck</td>
              <td>Collège Saint-Guibert, Gembloux (4e)</td>
              <td><strong>61</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Julien Brandoit</td>
              <td>Athénée Royal de Marche-en-Famenne (4e)</td>
              <td><strong>61</strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Fakuan Li</td>
              <td>Sint-Albertuscollege-Haasrode, Heverlee (4e)</td>
              <td><strong>59</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Maximilien Zarioh</td>
              <td>Athénée Provincial de La Louvière (4e)</td>
              <td><strong>57</strong></td>
            </tr>
            <tr>
              <td>15</td>
              <td nowrap="nowrap">Alexander Van Haastrecht</td>
              <td>Vita et Pax-Collège, Schoten (3e)</td>
              <td><strong>48</strong></td>
            </tr>
            <tr>
              <td>16</td>
              <td nowrap="nowrap">Stephan Obeid</td>
              <td>Institut de la Vierge Fidèle, Bruxelles (3e)</td>
              <td><strong>47</strong></td>
            </tr>
            <tr>
              <td>17</td>
              <td nowrap="nowrap">Lobke Van Der Schueren</td>
              <td>Sint-Bavohumaniora, Gent (3e)</td>
              <td><strong>45</strong></td>
            </tr>
            <tr>
              <td>18</td>
              <td nowrap="nowrap">Lucas Schonkeren</td>
              <td>Katholieke Centrumscholen Sint Truiden (3e)</td>
              <td><strong>44</strong></td>
            </tr>
            <tr>
              <td>19</td>
              <td nowrap="nowrap">Charles Van Hees</td>
              <td>Institute Saint-Boniface-Parnasse, Ixelles (3e)</td>
              <td><strong>43</strong></td>
            </tr>
            <tr>
              <td>20</td>
              <td nowrap="nowrap">Maximilian Grotz</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (4e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>20</td>
              <td nowrap="nowrap">Yannick Maes</td>
              <td>Pius X Collège Tessenderlo, Tessenderlo (3e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>22</td>
              <td nowrap="nowrap">Henri Dambiermont</td>
              <td>Athénée Royal de Marche-en-Famenne (4e)</td>
              <td><strong>40</strong></td>
            </tr>
            <tr>
              <td>23</td>
              <td nowrap="nowrap">Barthélemy Brodzinski</td>
              <td>Lycée Martin V, Louvain-la-Neuve (3e)</td>
              <td><strong>36</strong></td>
            </tr>
            <tr>
              <td>24</td>
              <td nowrap="nowrap">Quentin Lépine</td>
              <td>Collège Saint-Guibert, Gembloux (4e)</td>
              <td><strong>35</strong></td>
            </tr>
            <tr>
              <td>25</td>
              <td nowrap="nowrap">Gijs Verschaeve</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (4e)</td>
              <td><strong>34</strong></td>
            </tr>
            <tr>
              <td>26</td>
              <td nowrap="nowrap">Antonin Rousseau</td>
              <td>Institut Notre-Dame de Bertrix, Bertrix (4e)</td>
              <td><strong>33</strong></td>
            </tr>
            <tr>
              <td>27</td>
              <td nowrap="nowrap">Aron Crets</td>
              <td>Pius X Collège Tessenderlo, Tessenderlo (3e)</td>
              <td><strong>28</strong></td>
            </tr>
            <tr>
              <td>28</td>
              <td nowrap="nowrap">Kobe Crets</td>
              <td>Pius X Collège Tessenderlo, Tessenderlo (3e)</td>
              <td><strong>27</strong></td>
            </tr>
            <tr>
              <td>28</td>
              <td nowrap="nowrap">Kobe Celen</td>
              <td>Annuntia-Instituut, Wijnegem (4e)</td>
              <td><strong>27</strong></td>
            </tr>
            <tr>
              <td>30</td>
              <td nowrap="nowrap">Jules Rosier</td>
              <td>Koninklijk Atheneum, Zottegem (4e)</td>
              <td><strong>25</strong></td>
            </tr>
            <tr>
              <td>31</td>
              <td nowrap="nowrap">Hanaël Queroles</td>
              <td>Collège Saint-Servais, Asty-Moulin, Namur (3e)</td>
              <td><strong>23</strong></td>
            </tr>
            <tr>
              <td>32</td>
              <td nowrap="nowrap">Marie Lampaert</td>
              <td>Collège Ieper, Ieper (3e)</td>
              <td><strong>21</strong></td>
            </tr>
            <tr>
              <td>33</td>
              <td nowrap="nowrap">Nathan Dubois</td>
              <td>École Polytechnique de Verviers, Verviers (4e)</td>
              <td><strong>18</strong></td>
            </tr>
            <tr>
              <td>34</td>
              <td nowrap="nowrap">Kasper Lerno</td>
              <td>Annuntia-Instituut, Wijnegem (4e)</td>
              <td><strong>17</strong></td>
            </tr>
            <tr>
              <td>35</td>
              <td nowrap="nowrap">Adam Paluch</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (4e)</td>
              <td><strong>16</strong></td>
            </tr>
            <tr>
              <td>36</td>
              <td nowrap="nowrap">Florian Renders</td>
              <td>ITN Namur (3e)</td>
              <td><strong>14</strong></td>
            </tr>
          </tbody>
        </table>

        <h2>Classement national - Senior</h2>

        <p>Sur un score maximal de 106 points.</p>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>Ecole (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Jan Livens</td>
              <td>Vita et Pax-Collège, Schoten (5e)</td>
              <td><strong>95</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Lukas Vandeputte</td>
              <td>Guldenporencollege Kaai, Kortrijk (6e)</td>
              <td><strong>91</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Miro Stuyven</td>
              <td>Sint-Lodewijkscollege, Lokeren (6e)</td>
              <td><strong>83</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Lucas Prieels</td>
              <td>Collège Don Bosco, Bruxelles (5e)</td>
              <td><strong>80</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Kamron Geijsen</td>
              <td>Sint-Bavohumaniora, Gent (6e)</td>
              <td><strong>80</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Maxim De Clercq</td>
              <td>Sint-Barbaracollege, Gent (6e)</td>
              <td><strong>78</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Gijs Fiten</td>
              <td>Sint-Augustinusinstituut, Bree (6e)</td>
              <td><strong>77</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Bert Livens</td>
              <td>Vita et Pax-Collège, Schoten (6e)</td>
              <td><strong>75</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Sebastian Weiermann</td>
              <td>GO! Erasmus De Pinte, De Pinte (5e)</td>
              <td><strong>71</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Jonathan Swinnen</td>
              <td>Sint Norbertus, Duffel (5e)</td>
              <td><strong>68</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Gwenaël Vervaet</td>
              <td>Athénée Robert Catteau, Bruxelles (6e)</td>
              <td><strong>68</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Andrei Anghel-Pantelimon</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (5e)</td>
              <td><strong>65</strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Daan Beernaert</td>
              <td>Koninklijk Atheneum, Geraardsbergen (6e)</td>
              <td><strong>64</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Ruben Bekaert</td>
              <td>École Européenne de Bruxelles IV, Bruxelles (6e)</td>
              <td><strong>63</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Jelle Vandersnickt</td>
              <td>Jan-Van-Ruusbroeckollege, Brussel (5e)</td>
              <td><strong>63</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Silke Van Der Schueren</td>
              <td>Sint-Bavohumaniora, Gent (6e)</td>
              <td><strong>63</strong></td>
            </tr>
            <tr>
              <td>17</td>
              <td nowrap="nowrap">Bastien Wiaux</td>
              <td>Lycée Martin V, Louvain-la-Neuve (6e)</td>
              <td><strong>62</strong></td>
            </tr>
            <tr>
              <td>17</td>
              <td nowrap="nowrap">Klaas Goethals</td>
              <td>Sint-Godelievecollege Gistel-Eernegem, Gistel (6e)</td>
              <td><strong>62</strong></td>
            </tr>
            <tr>
              <td>17</td>
              <td nowrap="nowrap">Kristiaan Bogaerts</td>
              <td>Sint-Ludgardisschool, Merksem (6e)</td>
              <td><strong>62</strong></td>
            </tr>
            <tr>
              <td>20</td>
              <td nowrap="nowrap">Arno Depoorter</td>
              <td>Sint-Godelievecollege Gistel-Eernegem, Gistel (6e)</td>
              <td><strong>61</strong></td>
            </tr>
            <tr>
              <td>21</td>
              <td nowrap="nowrap">Renaud Fensie</td>
              <td>Collège du Christ-Roi, Ottignies (5e)</td>
              <td><strong>60</strong></td>
            </tr>
            <tr>
              <td>21</td>
              <td nowrap="nowrap">Simon Maldague</td>
              <td>Collège Saint-Guibert, Gembloux (5e)</td>
              <td><strong>60</strong></td>
            </tr>
            <tr>
              <td>23</td>
              <td nowrap="nowrap">Jan Quan</td>
              <td>Guldenporencollege Kaai, Kortrijk (5e)</td>
              <td><strong>56</strong></td>
            </tr>
            <tr>
              <td>24</td>
              <td nowrap="nowrap">Thomas Van Gestel</td>
              <td>Sint-Martinus ASO Walfergem, Asse (5e)</td>
              <td><strong>54</strong></td>
            </tr>
            <tr>
              <td>25</td>
              <td nowrap="nowrap">Jonas Malice</td>
              <td>Institut Saint André, Ramegnies-Chin (5e)</td>
              <td><strong>52</strong></td>
            </tr>
            <tr>
              <td>26</td>
              <td nowrap="nowrap">Mielan Blyaert</td>
              <td>Sint-Franciscus Xaveriusinstituut, Brugge (6e)</td>
              <td><strong>50</strong></td>
            </tr>
            <tr>
              <td>27</td>
              <td nowrap="nowrap">Abel Van Steenweghen</td>
              <td>Heilig Hart Van Maria Berlaar, Berlaar (6e)</td>
              <td><strong>49</strong></td>
            </tr>
            <tr>
              <td>28</td>
              <td nowrap="nowrap">René Van Der Schueren</td>
              <td>Koninklijk Atheneum, Zottegem (5e)</td>
              <td><strong>46</strong></td>
            </tr>
            <tr>
              <td>29</td>
              <td nowrap="nowrap">Kobe De Peuter</td>
              <td>Technische Scholen Mechelen, Mechelen (6e)</td>
              <td><strong>45</strong></td>
            </tr>
            <tr>
              <td>30</td>
              <td nowrap="nowrap">Thomas Michel</td>
              <td>Institut Saint Joseph, Bruxelles (6e)</td>
              <td><strong>44</strong></td>
            </tr>
            <tr>
              <td>31</td>
              <td nowrap="nowrap">Tessa Ickx</td>
              <td>Sint-Jozefsinstituut, Geraardsbergen (6e)</td>
              <td><strong>43</strong></td>
            </tr>
            <tr>
              <td>32</td>
              <td nowrap="nowrap">Dries Van Schuylenbergh</td>
              <td>Koninklijk Atheneum, Zottegem (5e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>33</td>
              <td nowrap="nowrap">Sévag Willemot</td>
              <td>Institut Notre Dame - École des Frères, Tournai (6e)</td>
              <td><strong>40</strong></td>
            </tr>
            <tr>
              <td>33</td>
              <td nowrap="nowrap">Luka Claeys</td>
              <td>Institut Saint André, Ramegnies-Chin (6e)</td>
              <td><strong>40</strong></td>
            </tr>
            <tr>
              <td>35</td>
              <td nowrap="nowrap">Jonas De Reuse</td>
              <td>Sint-Martinusscholen ASO Asse, Asse (5e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>36</td>
              <td nowrap="nowrap">Saartje Van Holder</td>
              <td>Paridaensinstituut, Leuven (6e)</td>
              <td><strong>36</strong></td>
            </tr>
            <tr>
              <td>37</td>
              <td nowrap="nowrap">Alexandre Wery</td>
              <td>Institut Provincial d'Enseignement Technique de Nivelles (IPET) (5e)</td>
              <td><strong>34</strong></td>
            </tr>
            <tr>
              <td>38</td>
              <td nowrap="nowrap">Louis Ghislain</td>
              <td>Lycée Martin V, Louvain-la-Neuve (5e)</td>
              <td><strong>28</strong></td>
            </tr>
            <tr>
              <td>39</td>
              <td nowrap="nowrap">Michiel Geyskens</td>
              <td>Vrije St.Lambertusscholen, Westerlo (5e)</td>
              <td><strong>27</strong></td>
            </tr>
            <tr>
              <td>40</td>
              <td nowrap="nowrap">Gianni De Herdt</td>
              <td>Vrije St.Lambertusscholen, Westerlo (5e)</td>
              <td><strong>22</strong></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<a name="results_becp"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Classement national - beCP</h2>

        <p>Sur un score maximal possible de 600 points.</p>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>Ecole (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Oscar	Jocqué</td>
              <td>College Paters Jozefieten, Melle (4e)</td>
              <td><strong>335</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Bruno Ploumhans</td>
              <td>Collège Saint-Michel, Etterbeek (6e)</td>
              <td><strong>295</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Arthur Massar</td>
              <td>Institut Saint-Boniface Parnasse, Ixelles (6e)</td>
              <td><strong>280</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Tom	Gautot</td>
              <td>Athénée Royal de Gembloux (5e)</td>
              <td><strong>220</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Sebastian Weiermann</td>
              <td>GO! Erasmus De Pinte (5e)</td>
              <td><strong>205</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Jérôme Mayolet</td>
              <td>Athénée Royal, Jodoigne (4e)</td>
              <td><strong>130</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Zhiyi Luo</td>
              <td>College Paters Jozefieten, Melle (1re)</td>
              <td><strong>125</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Jan Livens</td>
              <td>Vita et Pax-Collège, Schoten (5e)</td>
              <td><strong>125</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Maxim	De Clercq</td>
              <td>Sint-Barbaracollege, Gent (6e)</td>
              <td><strong>115</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Lucas Prieels</td>
              <td>Collège Don Bosco Woluwe-Saint-Lambert (5e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Ruben	Van Dijck</td>
              <td>Heilig Hart Van Maria, Berlaar (4e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Arn	De Moor</td>
              <td>Sint-Barbaracollege, Gent (4e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Jan Quan</td>
              <td>Guldensporencollege Kaai Kortrijk (5e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Antoine Demblon</td>
              <td>Collège Saint Michel, Etterbeek (6e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>15</td>
              <td nowrap="nowrap">Gus	Vanpoucke</td>
              <td>Sint-Bavohumaniora, Gent (3e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>16</td>
              <td nowrap="nowrap">Jonas De Schouwer</td>
              <td>Jan-van-Ruusbroeckollege, Brussels (4e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>17</td>
              <td nowrap="nowrap">Erik Mikus</td>
              <td>Sint-Albertuscollege, Haasrode (4e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>18</td>
              <td nowrap="nowrap">Pieterjan Vagenende</td>
              <td>College Paters Jozefieten, Melle (2e)</td>
              <td><strong></strong></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

