---
title: beOI 2016
trianglify_colors: '"RdBu"'
---
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2016 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2016/general.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">L'édition 2016 comptait quelques changements importants vis-à-vis des éditions précédentes. Premièrement, il était possible de participer à la première étape de l'Olympiade dans son écolé. Ensuite, le concours était divisé en trois niveaux, chacun avec son classement séparé. Ces changements ont provoqués une augmentation significative du nombre de participants à plus de 700. La finale beOI s'est déroulée à Bruxelles en mars tandis que le concours de sélection pour l'olympiade internationale (beCP) a été détaché en tant que concours distinct. L'olympiade internationale a de nouveau été un succès avec une médaille de bronze supplémentaire remportée pour notre pays.</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Qualification</h2>

        <p>La qualification de l'olympiade belge d'informatique 2016 avait lieu le mercredi 27 janvier 2016 dans une ensemble de centres régionaux ainsi que dans 27 écoles participantes. </p>

        <h3>Quelques chiffres</h3>

        <ul>
          <li><strong>205 étudiants</strong> participaient dans la catégorie <strong>cadet</strong> (jusqu'à 2e secondaire).</li>
          <li><strong>249 étudiants</strong> participaient dans la catégorie <strong>junior</strong> (3e et 4e secondare).</li>
          <li><strong>264 étudiants</strong> participaient dans la catégorie <strong>senior</strong> (5e, 6e et 7e secondaire).</li>
          <li>Les <strong>15 meilleurs participants</strong> de chaque catégorie étaient qualifiés pour la finale.</li>
          <li>L'épreuve était sur un total <strong>100 points</strong> et devait être résolue en 1h30. Personne n'a obtenu le score maximal.</li>
          <li><strong>177 filles</strong> ont participé au concours, c'est-à-dire 25% du nombre total de participants. <strong>8</strong> se sont qualifiées pour la finale.</li>
        </ul>

        <h3>Top-3 - Cadet</h3>

        <ul>
          <li><strong>Gus Vanpoucke</strong> - Sint-Bavohumaniora, Gent - 1e secondaire - 92 pts</li>
          <li><strong>Pieter Van Steenweghen</strong> - Instituut Heilig Hart van Maria, Berlaar - 2e secondaire - 91 pts</li>
          <li><strong>Niels Rubens</strong> - KCST, Sint-Truiden - 2e secondaire - 87 pts</li>
        </ul> 
        
        <h3>Top-3 - Junior</h3>

        <ul>
          <li><strong>Kristiaan Bogaerts</strong> - Sint-Ludgardisschool, Merksem - 4e secondaire - 70 pts</li>
          <li><strong>Jan Livens</strong> - Vita et Pax-College, Schoten - 3e secondaire - 70 pts</li>
          <li><strong>Arthur Massar</strong> - Institut Saint-Boniface-Parnasse, Ixelles - 4e secondaire - 67 pts</li>
        </ul>
        
        <h3>Top-5 - Senior</h3>

        <ul>
          <li><strong>Robbe Pincket</strong> - Maris Stella Instituut, Oostmalle - 5e secondaire - 71 pts</li>
          <li><strong>Sammy Delanghe</strong> - Petrus en Paulus OLV College, Oostende - 6e secondaire - 70 pts</li>
          <li><strong>Damien Galant</strong> - Athénée Provincial, La Louvière - 6e secondaire - 69 pts</li>
          <li><strong>Louis Billot</strong> - Collège Notre-Dame de Bon Secours, Binche - 6e secondaire - 69 pts</li>
          <li><strong>Robin Simoens</strong> - Sint-Barbaracollege, Gent - 5e secondaire - 69 pts</li>
        </ul> 

        <h3>Top-3 - Écoles</h3>
        
        <p>Écoles ayant le plus grand nombre de participants:</p>
        
        <ul>
          <li><strong>Maris Stella Instituut, Malle</strong>: 59 participants</li>
          <li><strong>Centre Asty Moulin, Namur</strong>: 43 participants</li>
          <li><strong>Institut de la Vierge Fidèle, Schaerbeek</strong>: 43 participants</li>
        </ul> 
        
        
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>La finale de l'olympiade 2016 a eu lieu le 19 mars 2016. Elle était organisée lors des CSDay à l'ECAM à Bruxelles. Chaque catégorie comportait 15 finalistes.</p>
        
        <p>L'épreuve durait 3 heures et se déroulait sur papier mais nécessitait de connaitre des bases de programmation. Tous les finalistes avaient eu l'opportunité de participer à un cours d'introduction les semaines précédentes.</p>

        <p>Les plus motivés étaient également invités à rejoindre la beCP en vue d'une éventuelle sélection à l'olympiade internationale d'informatique. </p>

        <p>Le classement et les résultats complets sont disponibles <a href="#results">ci-dessous</a>.</p>

        <%= image_tag "archives/2016/final.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>



<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>beCP</h2>

        <p>La sélection pour l'Olympiade Internationale d'Informatique (IOI 2016) était cette année séparée du concours beOI. Cela nous a permis de rendre plus accessible ce dernier concours, tout en entraînant au plus au niveau l'équipe concourant pour une place dans la délégation belge.</p>
        
        <p>Pour rejoindre la beCP, les étudiants devaient soit être qualifiés pour la finale beOI ou démontrer leur motivation et compétence en programmation. De nombreux camps d'entraînement ont été organisés tout au long de l'année à Wépion pour le groupe entier.</p>

        <p>Samedi 7 mai 2016 avait lieu l'épreuve de sélection pour la délégation belge à l'Olympiade Internationale d'Informatique 2016. Ce concours était de nouveau organisé à l'HEB-ESI, au coeur de Bruxelles. </p>
        
        <p>La proclamation a été organisée avec la proclamation beOI. Le representant culturerl de l'Ambassade de Russie (Rossotrudnichestvo), Mr Alexander Razumov, était présent.</p>
        
        <p>Les résultats officiels de la beCP sont disponibles <a href="#results_becp">ci-dessous</a>.</p>

        <%= image_tag "archives/2016/proclam.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>



<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Olympiade Internationale(IOI)</h2>

        <p><%= image_tag "archives/2016/IOI2016.png", class:"pull-right cast-shadow" %>
        La 28e Olympiade Internationale d'Informatique avait lieu à Kazan, en Russie. La délégation belge était composée de Damien Galant, Corentin Simon (tous deux en 6e secondaire), Bruno Ploumhans (4e secondaire) et Ruben Van Dijck (2e secondaire). Les responsables de la délégation étaient Damien Leroy et Jorik Jooken. Damien Galant participaient pour la troisième année consécutive et a remporté sa deuxième médaille de bronze consécutive. Corentin Simon termine à quelques place de la médaille de bronze.</p>

        <p>308 pariticipants issus de 80 pays participaient à l'IOI 2016, concours individuel. Les résultats de l'équipe belge sont les suviants (sur un total de 600 points):
        </p>
        <ul>
          <li>113e: Damien Galant - 278 pts (6e en partant de la gauche sur la photo ci-dessous)</li>
          <li>168e: Corentin Simon - 214 pts (5e sur la photo)</li>
          <li>257e: Bruno Ploumhans - 90 pts (2e sur la photo)</li>
          <li>300e: Ruben Van Dijck - 16 pts (4e sur la photo)</li>
        </ul>

        <p>Pensez-vous faire mieux ? Téléchargez les questions et tentez de résoudre les problèmes en moins de 10 heures ! (<%= link_to 'jour 1', '/archives/IOI16-Questions-day1-fr.zip' %>, <%= link_to 'jour 2', '/archives/IOI16-Questions-day2-fr.zip' %>)</p>
        
        <%= image_tag "archives/2016/ioi-team.jpg", class:"img-polaroid cast-shadow", width:680, title:"Délégation belge à l'IOI 2016"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors en Steun</h2>


        <p>Ces Olympiades ont pu être organisées grâce au soutien reçu par divers organismes. Nous les remercions énormément pour leur support.</p>

        <h3>Sponsors </h3> 
        <% link_to "http://nl.mathworks.com/", target:'_blank' do %>
        <%= image_tag "ext-logos/mathworks-logo.jpg", width:550, style:"padding:15px;" %>
        <% end %>
        <% link_to "http://www.iminds.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/iMinds-logo.png", width:350, style:"padding:15px;" %>
        <% end %>

        <h3 class="mt32">Avec le soutien de</h3> 
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Classement national - Cadet</h2>
        
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>École (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Gus Vanpoucke</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>66</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Julien Brandoit</td>
              <td>Athénée Royal de Marche-en-Famenne (2e)</td>
              <td><strong>56</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Arn De Moor</td>
              <td>College Paters Jozefieten, Melle (2e)</td>
              <td><strong>56</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Pieter Van Steenweghen</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (2e)</td>
              <td><strong>51</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Ruben Van Dijck</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (2e)</td>
              <td><strong>50</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Phlips Daan</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>49</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Brent Silkyn</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>40</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Henri Lemahieu</td>
              <td>Sint-Franciscus-Xaveriusinstituut, Brugge (2e)</td>
              <td><strong>39</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Sander Verwimp</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (1e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Wouter Burssens</td>
              <td>Sint-Vincentiusinstituut, Dendermonde (2e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Elina Van der Taelen</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (1e)</td>
              <td><strong>34</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Niels Rubens</td>
              <td>KCST, Sint-Truiden (2e)</td>
              <td><strong>33</strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Manon Léonard</td>
              <td>Institut de la Vierge Fidèle, Schaerbeek (2e)</td>
              <td><strong>25</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Aaron Goos</td>
              <td>Maris Stella Instituut, Oostmalle (1e)</td>
              <td><strong>17</strong></td>
            </tr>
            <tr>
              <td>15</td>
              <td nowrap="nowrap">Henri Dambiermont</td>
              <td>Athénée Royal de Marche-en-Famenne (2e)</td>
              <td><strong>8</strong></td>
            </tr>
          </tbody>
        </table>
        
        <h2>Classement national - Junior</h2>
        
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>École (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Jan Livens</td>
              <td>Vita et Pax-College, Schoten (3e)</td>
              <td><strong>90</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Arthur Massar</td>
              <td>Institut Saint-Boniface-Parnasse d'Ixelles (4e)</td>
              <td><strong>71</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Bruno Ploumhans</td>
              <td>Collège Saint-Michel, Etterbeek (4e)</td>
              <td><strong>68</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Loïc Grumiaux</td>
              <td>Collège Saint-Guibert, Gembloux (4e)</td>
              <td><strong>66</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Lucas Prieels</td>
              <td>Collège Don Bosco, Bruxelles (3e)</td>
              <td><strong>65</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Kristiaan Bogaerts</td>
              <td>Sint-Ludgardisschool, Merksem (4e)</td>
              <td><strong>62</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Gwenaël Vervaet</td>
              <td>Athénée Robert Catteau, Bruxelles (4e)</td>
              <td><strong>59</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Diederik Dujardin</td>
              <td>College Ieper (4e)</td>
              <td><strong>51</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Miro Stuyven</td>
              <td>Sint-Lodewijkscollege, Lokeren (4e)</td>
              <td><strong>45</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Joke Tanghe</td>
              <td>Sint-Franciscus-Xaveriusinstituut, Brugge (4e)</td>
              <td><strong>43</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Wout David</td>
              <td>Sint-Lodewijkscollege, Sint-Andries (4e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Achille Vincart</td>
              <td>Athénée Robert Catteau, Bruxelles (3e)</td>
              <td><strong>41</strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Manon Breugelmans</td>
              <td>GO! atheneum Erasmus, De Pinte (4e)</td>
              <td><strong>38</strong></td>
            </tr>
            <tr>
              <td>14</td>
              <td nowrap="nowrap">Marthe D'Hooghe</td>
              <td>Maris Stella Instituut, Oostmalle (3e)</td>
              <td><strong>32</strong></td>
            </tr>
          </tbody>
        </table>
        
        <h2>Classement national - Senior</h2>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>École (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Damien Galant</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>93</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Robbe Pincket</td>
              <td>Maris Stella Instituut, Oostmalle (5e)</td>
              <td><strong>81</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Louis Billot</td>
              <td>Collège Notre-Dame de Bon Secours, Binche (6e)</td>
              <td><strong>77</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Robin Simoens</td>
              <td>Sint-Barbaracollege, Gent (5e)</td>
              <td><strong>76</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Thijs Paelman</td>
              <td>Atheneum Voskenslaan, Gent (5e)</td>
              <td><strong>76</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Sammy Delanghe</td>
              <td>Petrus &amp; Paulus OLV College, Oostende (6e)</td>
              <td><strong>74</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Alexandre Terefenko</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>74</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Nicolas Mahiat</td>
              <td>Institut Saint-Michel, Verviers (6e)</td>
              <td><strong>70</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Auke Van Sighem</td>
              <td>Vita et Pax-College, Schoten (5e)</td>
              <td><strong>65</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Bavo Ceulemans</td>
              <td>V.T.I. Sint-Laurentius, Lokeren (6e)</td>
              <td><strong>65</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Lennert Luyckx</td>
              <td>Sint Jan Berchmanscollege, Mol (5e)</td>
              <td><strong>63</strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Ovidiu Parfene</td>
              <td>SHAPE, Mons (5e)</td>
              <td><strong>62</strong></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<a name="results_becp"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Classement national - beCP</h2>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th>Nom</th><th>École (année)</th><th>Score</th></tr>
            <tr>
              <td>1</td>
              <td nowrap="nowrap">Damien Galant</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>489</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td nowrap="nowrap">Corentin Simon</td>
              <td>Lycée Émile Jacqmain, Bruxelles (6e)</td>
              <td><strong>356</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td nowrap="nowrap">Bruno Ploumhans</td>
              <td>Collège Saint-Michel, Etterbeek (4e)</td>
              <td><strong>220</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td nowrap="nowrap">Arthur Massar</td>
              <td>Institut Saint-Boniface-Parnasse d'Ixelles (4e)</td>
              <td><strong>198</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td nowrap="nowrap">Alexandre Terefenko</td>
              <td>Athénée Provincial de La Louvière (6e)</td>
              <td><strong>118</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td nowrap="nowrap">Ovidiu Parfene</td>
              <td>SHAPE, Mons (5e)</td>
              <td><strong>79</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td nowrap="nowrap">Ruben Van Dijck</td>
              <td>Instituut Heilig Hart van Maria, Berlaar (2e)</td>
              <td><strong>67</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td nowrap="nowrap">Jari Van Melckebeke</td>
              <td>Sint-Aloysiuscollege, Ninove (3e)</td>
              <td><strong>58</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td nowrap="nowrap">Robbe Pincket</td>
              <td>Maris Stella Instituut, Oostmalle (5e)</td>
              <td><strong>35</strong></td>
            </tr>
            <tr>
              <td>10</td>
              <td nowrap="nowrap">Gus Vanpoucke</td>
              <td>Sint-Bavohumaniora, Gent (1e)</td>
              <td><strong>12</strong></td>
            </tr>
            <tr>
              <td>11</td>
              <td nowrap="nowrap">Lucas Prieels</td>
              <td>Collège Don Bosco, Bruxelles (3e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>12</td>
              <td nowrap="nowrap">Louis Billot</td>
              <td>Collège Notre-Dame de Bon Secours, Binche (6e)</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>13</td>
              <td nowrap="nowrap">Sammy Delanghe</td>
              <td>Petrus &amp; Paulus OLV College, Oostende (6e)</td>
              <td><strong></strong></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>        