---
title: beOI 2015
---
<section class="page-title page-title-4 image-bg">
  <div class="background-image-holder" id="page-header-image-holder" > </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2015 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2015/medal.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">In 2015 werd de Belgische Informatica-olympiade gereorganiseerd. De finale werd enkele maanden verschoven, en er werden maximaal 25 finalisten toegelaten. Die kregen dan weer veel meer training, waaronder enkele weekends op computerkamp in de Ardennen. Zo konden we op de finaledag zelf onmiddellijk bepalen wie deel zou uitmaken van het Belgisch team op de Internationale Olympiade. En met succes: we kwamen opnieuw met een bronzen medaille naar huis!</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Halve Finale</h2>

        <p>De halve finale van de Belgische Informatica-olympiade 2015 vond plaats op woensdag 19 november 2014 in verschillende regionale centra verspreid over het land. Nieuw dit jaar was dat er een puntenbonus werd toegekend aan jongere deelnemers.</p>

        <h3>Enkele cijfers</h3>

        <ul>
          <li><strong>135 leerlingen</strong> uit het middelbaar onderwijs hebben aan de halve finale deelgenomen.</li>
          <li>De proef stond op een totaal van<strong>182 punten</strong> (+ bonus voor jongere deelnemers).</li>
          <li>Je hebt minimaal <strong>125 punten</strong> nodig om naar de finale te gaan.</li>
          <li>De <strong>25 beste deelnemers</strong> van de halve finale mogen verder naar de finale.</li>
          <li>47 deelnemers hebben meer dan 100 punten behaald, een indrukwekkende score!</li> 
          <li><strong>4 meisjes</strong> namen deel dit jaar, helaas is geen van hen gekwalificeerd voor de finale.</li>
          <li>De jongste deelnemer was <strong>13 jaar</strong> oud op de dag van de proef. </li>
          <li>Een van de jongste kandidaten, in het 3e middelbaar, behaalde de 7e plaats in de halve finale.</li>
        </ul>

        <h2>Top-3</h2>

        <ul>
          <li><strong>Damien Galant</strong> - Athénée Provincial de La Louvière - 5e middelbaar - 175 ptn</li>
          <li><strong>Robin Jadoul</strong> - Sint-Ludgardis, Antwerpen - 6e middelbaar - 162 ptn</li>
          <li><strong>Pablo Bustillo Vazquez</strong> - Athénée Robert Catteau, Bruxelles - 6e middelbaar - 161 ptn</li>
        </ul> 

        <p>De halve finale van de Olympiade verliep volledig schriftelijk en vereist weinig of geen programmeerervaring. In de finale moest echter enkel geprogrammeerd worden. Om dit te overbruggen en aan iedereen een eerlijke kans te geven, werden verschillende trainingsmomenten georganiseerd over algoritmiek en programmeren voor de finalisten.</p>


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>De finale van de Belgische Informatica-olympiade 2015 vond plaats in Brussel op zaterdag 2 mei 2015. Voor de eerste keer bestond ze enkel uit een test aan de computer. </p>

        <p>De finaledag bestond uit twee delen van elk 3 uur van gelijk niveau. Elk deel stond op 300 punten. De beste 25 halve finalisten waren uitgenodigd voor de finale (20 waren aanwezig). </p>

        <p>Ook voor de eerste keer in 2015, bepaalde de finale onmiddellijk wie de vier leden van de Belgische delegatie werden voor de Internationale Olympiade, volgens deze regel: de twee beste Nederlandstaligen en de twee beste Franstaligen. Django heeft het aanbod afgeslagen, en dus bestond het Belgisch IOI-team in 2015 uit: Mattéo Couplet, Damien Galant, Robin Jadoul en Nico Ekkart.</p>

        <p>U kunt <a href="#results">onderaan deze pagina</a> de scores en het officiële eindklassement van de finale 2015 terugvinden. </p>

        <%= image_tag "archives/2015/final-cand-ioi.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>




<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Internationale Olympiade (IOI)</h2>

        <p><%= image_tag "archives/2015/IOI2015kz.jpg", class:"pull-right cast-shadow" %>De 27e Internationale Olympiade Informatica vond plaats in Almaty, Kazachstan. De Belgische ploeg werd gevormd door Damien Galant (5e middelbaar), Robin Jadoul, Mattéo Couplet en Nico Ekkart (allen 6e middelbaar). Zij werden begeleid door Damien Leroy en Joachim Ganseman. Damien Galant nam voor de tweede keer op rij deel, en kon ook een bronzen medaille veroveren op de IOI - hij kwam zelfs dicht bij een zilveren medaille.</p>

        <p>De IOI 2015 telde 322 deelnemers uit 83 landen wereldwijd die het individueel tegen elkaar opnamen. De resultaten van het Belgische team, op een totaal van 600 punten, waren als volgt:
        </p>
        <ul>
          <li>91e: Damien Galant - 311,25 ptn (4e van links op de foto hieronder)</li>
          <li>203e: Nico Ekkart - 133,45pts (3e op de foto)</li>
          <li>222e: Mattéo Couplet - 115,41pts (2e op de foto)</li>
          <li>259e: Robin Jadoul - 79,56pts (5e op de foto)</li>
        </ul>

        <p>Benieuwd of je beter kan ? Download de 6 vragen (<%= link_to 'dag 1', '/archives/IOI15-Questions-day1-nl.zip' %>, <%= link_to 'dag 2', '/archives/IOI15-Questions-day2-nl.zip' %>) en probeer ze op te lossen in minder dan 10 uur !</p>
        
        <%= image_tag "img/archives/2015/ioi-team.jpg", class:"img-polaroid cast-shadow", width:680, title:"De Belgische delegatie op de Internationale Olympiade Informatica"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors en Steun</h2>


        <p>Deze Olympiade kon slechts georganiseerd worden dankzij de steun van verschillende partners. Wij bedanken hen uitdrukkelijk voor hun ondersteuning!</p>

        <h3>Sponsors </h3> 
        <% link_to "http://nl.mathworks.com/", target:'_blank' do %>
        <%= image_tag "ext-logos/mathworks-logo.jpg", width:550, style:"padding:15px;" %>
        <% end %>
        <% link_to "http://www.iminds.be/" do %>
        <%= image_tag "ext-logos/iMinds-logo.png", width:350, style:"padding:15px;" %>
        <% end %>
        <% link_to "http://www.unamur.be/" do %>
        <%= image_tag "ext-logos/unamur-logo.png", width:150, style:"padding:15px;" %>
        <% end %>

        <h3 class="mt32">Met de steun van</h3> 
        <% link_to "http://www.ond.vlaanderen.be/" do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        <% link_to "http://www.federation-wallonie-bruxelles.be" do %>
        <%= image_tag "ext-logos/cfwb.jpg", width:250, style:"padding:10px;" %>
        <% end %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Nationaal eindklassement</h2>

        <p>De volledige proef stond op 600 punten (twee delen van elk 300 punten). In geval van gelijkheid, wordt de volgorde bepaald door het tijdstip van succesvol indienen van de code. De beste twee Nederlandstaligen en de beste twee Franstaligen werden uitgenodigd om deel uit te maken van de Belgische ploeg op IOI 2015.</p>

        <table class="table table-striped">
          <tbody><tr><th>#</th><th>Naam</th><th>School</th><th>Totaal</th></tr>

            <tr>
              <td>1</td>
              <td nowrap="nowrap">Couplet Mattéo</td>
              <td>Collège Sainte-Marie, Mouscron — 6e</td>
              <td><strong>438</strong></td>
            </tr>

            <tr>
              <td>2</td>
              <td nowrap="nowrap">Galant Damien</td>
              <td>Athénée Provincial de La Louvière, La Louvière — 5e</td>
              <td><strong>414</strong></td>
            </tr>

            <tr>
              <td>3</td>
              <td nowrap="nowrap">Simon Corentin</td>
              <td>Lycée Emile Jacqmain, Bruxelles — 5e</td>
              <td><strong>395</strong></td>
            </tr>

            <tr>
              <td>4</td>
              <td nowrap="nowrap">Rabaey Django</td>
              <td>KA Voskenslaan, Gent — 4e</td>
              <td><strong>316</strong></td>
            </tr>

            <tr>
              <td>5</td>
              <td nowrap="nowrap">Jadoul Robin</td>
              <td>Sint-Ludgardis, Antwerpen — 6e</td>
              <td><strong>315</strong></td>
            </tr>

            <tr>
              <td>6</td>
              <td nowrap="nowrap">Ekkart Nico</td>
              <td>Koninklijk Atheneum Deurne, Antwerpen — 6e</td>
              <td><strong>288</strong></td>
            </tr>

            <tr>
              <td>7</td>
              <td nowrap="nowrap">Delhez Louis</td>
              <td>Centre scolaire Saint-Benoît-Saint-Servais, Liège — 6e</td>
              <td><strong>270</strong></td>
            </tr>

            <tr>
              <td>8</td>
              <td nowrap="nowrap">Keersmaekers Kris</td>
              <td>Sint-Dimpnacollege, Geel — 6e</td>
              <td><strong>226</strong></td>
            </tr>

            <tr>
              <td>9</td>
              <td nowrap="nowrap">Coremans Gilles</td>
              <td>Sint Jozefscollege Aarschot, Aarschot — 4e</td>
              <td><strong>221</strong></td>
            </tr>

            <tr>
              <td>10</td>
              <td nowrap="nowrap">Vandenneucker Mathieu</td>
              <td>Institut Saint-Joseph, Ciney — 6e</td>
              <td><strong>197</strong></td>
            </tr>

            <tr>
              <td>11</td>
              <td nowrap="nowrap">Billot Louis</td>
              <td>Collège Notre-Dame de Bon Secours, Binche — 5e</td>
              <td><strong>160</strong></td>
            </tr>

            <tr>
              <td>12</td>
              <td nowrap="nowrap">Schelstraete Léo</td>
              <td>Institut Saint-André, Ramegnies-Chin — 6e</td>
              <td><strong>152</strong></td>
            </tr>

            <tr>
              <td>13</td>
              <td nowrap="nowrap">Massar Arthur</td>
              <td>Institut Saint Boniface , Bruxelles — 3e</td>
              <td><strong>151</strong></td>
            </tr>

            <tr>
              <td>14</td>
              <td nowrap="nowrap">Janssens Ruben</td>
              <td>Sint-Michielscollege Schoten, Schoten — 6e</td>
              <td><strong>133</strong></td>
            </tr>

            <tr>
              <td>15</td>
              <td nowrap="nowrap">Fraiture Jimmy</td>
              <td>Collège Saint-Etienne Hayeffes, Mont-Saint-Guibert — 5e</td>
              <td><strong>102</strong></td>
            </tr>

            <tr>
              <td>16</td>
              <td nowrap="nowrap">Verstraete Waldo</td>
              <td>Atheneum Wispelberg, Gent — 5e</td>
              <td><strong>100</strong></td>
            </tr>

            <tr>
              <td>17</td>
              <td nowrap="nowrap">Beckers Xavier</td>
              <td>Athénée Royal d'Aywaille, Aywaille — 4e</td>
              <td><strong>70</strong></td>
            </tr>

            <tr>
              <td>18</td>
              <td nowrap="nowrap">Vlaeminck Jean-Martin</td>
              <td>Lycée Maria Assumpta, Laeken — 6e</td>
              <td><strong>70</strong></td>
            </tr>

            <tr>
              <td>19</td>
              <td nowrap="nowrap">Van Herck Robbe</td>
              <td>Sint-Jan Berchmanscollege, Mol — 4e</td>
              <td><strong>70</strong></td>
            </tr>

            <tr>
              <td>20</td>
              <td nowrap="nowrap">Staquet Gaëtan</td>
              <td>Athénée Royal de Nivelles, Nivelles — 6e</td>
              <td><strong>70</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
