---
title: beOI 2015
---
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2015 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2015/medal.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">Pour l'édition 2015, l'Olympiade belge d'Informatique a de nouveau subit d'importants changements dans son organisation. La finale était organisée bien plus tard dans l'année et ne comportait que 25 participants à qui étaient proposés de nombreuses formations, y compris des weekends d'entraînement. La finale marquait cette année également la sélection pour l'Olympiade Internationale d'Informatique. Le résultat : une nouvelle médaille de bronze pour notre délégation !</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Demi-finale</h2>

        <p>Les demi-finales de l'Olympiade belge d'Informatique 2015 se sont déroulées le mercredi 19 novembre 2014 dans les différents centres régionaux du pays. Pour la première fois cette année, des bonus étaient remis aux participants les plus jeunes.</p>

        <h3>Quelques chiffres</h3>

        <ul>
          <li><strong>135 élèves</strong> du secondaire ont participé à la demi-finale.</li>
          <li>Le score de l'épreuve était sur un <strong>total de 182</strong> (+ bonus 'junior')</li>
          <li>Il fallait obtenir un minimum de <strong>125 points</strong> pour être finaliste.</li>
          <li>Les <strong>25 premiers candidats</strong> de la demi-finale sont qualifiés pour la finale.</li>
          <li>47 participants ont obtenus plus de 100 points, score très honorable!</li>
          <li><strong>4 filles</strong> participaient à la demi-finale, aucune n'est qualifiée cette année.</li>
          <li>Le plus jeune participant avait <strong>13 ans</strong> le jour de l'épreuve.</li>
          <li>L'un des candidats les plus jeunes de l'épreuve, en 3e secondaire, a terminé 7ième de la demi-finale.</li>
        </ul>

        <h2>Top-3</h2>

        <ul>
          <li><strong>Damien Galant</strong> - Athénée Provincial de La Louvière - 5e secondaire - 175 pts</li>
          <li><strong>Robin Jadoul</strong> - Sint-Ludgardis, Antwerpen - 6e secondaire - 162 pts</li>
          <li><strong>Pablo Bustillo Vazquez</strong> - Athénée Robert Catteau, Bruxelles - 6e secondaire - 161 pts</li>
        </ul> 

        <p>La demi-finale se déroule sur papier et ne nécessite que très peu de compétences de programmation. La finale, au contraire, ne consiste qu'en une épreuve de programmation sur ordinateur. Afin de combler cet écart et de donner une chance à tous, de nombreuses formations en algorithmique et programmation ont été organisées pour les finalistes. </p>


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>La finale de l'Olympiade belge d'Informatique 2015 avait lieu à Bruxelles le samedi 2 mai 2015. La finale était pour la première fois uniquement organisée sur ordinateur.  </p>

        <p>La finale comportait deux parties de 3 heures de niveau similaire, chacune pour 300 points. Les 25 meilleurs demi-finalistes étaient invités à cette finale (20 étaient présents). </p>

        <p>Pour la première fois cette année, la finale déterminait directement les quatre membres de la délégation belge à l'olympiade internationale avec la règle suivante: les deux meilleurs francophones et les deux meilleurs néerlandophones. Django ayant décliné l'offre, les quatre membres de la délégation sont: Mattéo Couplet, Damien Galant, Robin Jadoul et Nico Ekkart.</p>

        <p>Vous trouverez <a href="#results">en bas de cette page</a> les différents scores et classements officiels de la finale 2015. </p>

        <%= image_tag "archives/2015/final-cand-ioi.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>




<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Olympiade Internationale (IOI)</h2>

        <p><%= image_tag "archives/2015/IOI2015kz.jpg", class:"pull-right cast-shadow" %>La 27e Olympiade Internationale se déroulait à Almaty, Kazakhstan. Cette année, l'équipe était formée de Damien Galant (5e secondaire), Robin Jadoul, Mattéo Couplet et Nico Ekkart (tous trois en 6e secondaire). Ils étaient accompagnés par Damien Leroy et Joachim Ganseman. Damien Galant participait pour la deuxième fois consécutive et a remporté une médaille de bronze, en se classant même à quelques positions d'une médaille d'argent.</p>

        <p>L'IOI 2015 comportait 322 participants issus 83 pays à travers le monde. Parmi ceux-ci, quatre représentaient la Belgique. Leurs résultats, sur un total de 600 points, sont les suivants:
        </p>
        <ul>
          <li>91e: Damien Galant - 311,25pts (4e de gauche à droite sur la photo)</li>
          <li>203e: Nico Ekkart - 133.45pts (3e sur la photo)</li>
          <li>222e: Mattéo Couplet - 115.41pts (2e sur la photo)</li>
          <li>259e: Robin Jadoul - 79.56pts (5e sur la photo)</li>
        </ul>

        <p>Vous êtes curieux de savoir si vous pourriez faire mieux ? Téléchargez les 6 questions (<%= link_to 'jour 1', '/archives/IOI15-Questions-day1-fr.zip' %>, <%= link_to 'jour 2', '/archives/IOI15-Questions-day2-fr.zip' %>) et tentez de les résoudre en moins de 10 heures !</p>
        
        <%= image_tag "archives/2015/ioi-team.jpg", class:"img-polaroid cast-shadow", width:680, title:"La délégation belge à l'Olympiade Internationale d'Informatique"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors et Soutiens</h2>


        <p>Ces Olympiades ont pu être organisées grâce au soutien reçu par divers organismes. Nous les remercions énormément pour leur support.</p>

        <h3>Sponsors </h3> 
        <% link_to "http://nl.mathworks.com/", target:'_blank' do %>
        <%= image_tag "ext-logos/mathworks-logo.jpg", width:550, style:"padding:15px;" %>
        <% end %>
        <% link_to "http://www.iminds.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/iMinds-logo.png", width:350, style:"padding:15px;" %>
        <% end %>
        <% link_to "http://www.unamur.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/unamur-logo.png", width:150, style:"padding:15px;" %>
        <% end %>

        <h3 class="mt32">Avec le soutien de</h3> 
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        <% link_to "http://www.federation-wallonie-bruxelles.be", target:'_blank' do %>
        <%= image_tag "ext-logos/cfwb.jpg", width:250, style:"padding:10px;" %>
        <% end %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Résultats nationaux complets</h2>

        <p>La finale se déroulait en deux parties de 300 points chacune. En cas d'égalité, elles étaient départagées par l'heure de soumissions. Les deux premiers francophones et les deux premiers néerlandophones étaient invités à intégrer la délégation belge à l'Olympiade internationale d'informatique.</p>

        <table class="table table-striped">
          <tbody><tr><th>#</th><th>Nom</th><th>Etablissement</th><th>Total</th></tr>

            <tr>
              <td>1</td>
              <td nowrap="nowrap">Couplet Mattéo</td>
              <td>Collège Sainte-Marie, Mouscron — 6e</td>
              <td><strong>438</strong></td>
            </tr>

            <tr>
              <td>2</td>
              <td nowrap="nowrap">Galant Damien</td>
              <td>Athénée Provincial de La Louvière, La Louvière — 5e</td>
              <td><strong>414</strong></td>
            </tr>

            <tr>
              <td>3</td>
              <td nowrap="nowrap">Simon Corentin</td>
              <td>Lycée Emile Jacqmain, Bruxelles — 5e</td>
              <td><strong>395</strong></td>
            </tr>

            <tr>
              <td>4</td>
              <td nowrap="nowrap">Rabaey Django</td>
              <td>KA Voskenslaan, Gent — 4e</td>
              <td><strong>316</strong></td>
            </tr>

            <tr>
              <td>5</td>
              <td nowrap="nowrap">Jadoul Robin</td>
              <td>Sint-Ludgardis, Antwerpen — 6e</td>
              <td><strong>315</strong></td>
            </tr>

            <tr>
              <td>6</td>
              <td nowrap="nowrap">Ekkart Nico</td>
              <td>Koninklijk Atheneum Deurne, Antwerpen — 6e</td>
              <td><strong>288</strong></td>
            </tr>

            <tr>
              <td>7</td>
              <td nowrap="nowrap">Delhez Louis</td>
              <td>Centre scolaire Saint-Benoît-Saint-Servais, Liège — 6e</td>
              <td><strong>270</strong></td>
            </tr>

            <tr>
              <td>8</td>
              <td nowrap="nowrap">Keersmaekers Kris</td>
              <td>Sint-Dimpnacollege, Geel — 6e</td>
              <td><strong>226</strong></td>
            </tr>

            <tr>
              <td>9</td>
              <td nowrap="nowrap">Coremans Gilles</td>
              <td>Sint Jozefscollege Aarschot, Aarschot — 4e</td>
              <td><strong>221</strong></td>
            </tr>

            <tr>
              <td>10</td>
              <td nowrap="nowrap">Vandenneucker Mathieu</td>
              <td>Institut Saint-Joseph, Ciney — 6e</td>
              <td><strong>197</strong></td>
            </tr>

            <tr>
              <td>11</td>
              <td nowrap="nowrap">Billot Louis</td>
              <td>Collège Notre-Dame de Bon Secours, Binche — 5e</td>
              <td><strong>160</strong></td>
            </tr>

            <tr>
              <td>12</td>
              <td nowrap="nowrap">Schelstraete Léo</td>
              <td>Institut Saint-André, Ramegnies-Chin — 6e</td>
              <td><strong>152</strong></td>
            </tr>

            <tr>
              <td>13</td>
              <td nowrap="nowrap">Massar Arthur</td>
              <td>Institut Saint Boniface , Bruxelles — 3e</td>
              <td><strong>151</strong></td>
            </tr>

            <tr>
              <td>14</td>
              <td nowrap="nowrap">Janssens Ruben</td>
              <td>Sint-Michielscollege Schoten, Schoten — 6e</td>
              <td><strong>133</strong></td>
            </tr>

            <tr>
              <td>15</td>
              <td nowrap="nowrap">Fraiture Jimmy</td>
              <td>Collège Saint-Etienne Hayeffes, Mont-Saint-Guibert — 5e</td>
              <td><strong>102</strong></td>
            </tr>

            <tr>
              <td>16</td>
              <td nowrap="nowrap">Verstraete Waldo</td>
              <td>Atheneum Wispelberg, Gent — 5e</td>
              <td><strong>100</strong></td>
            </tr>

            <tr>
              <td>17</td>
              <td nowrap="nowrap">Beckers Xavier</td>
              <td>Athénée Royal d'Aywaille, Aywaille — 4e</td>
              <td><strong>70</strong></td>
            </tr>

            <tr>
              <td>18</td>
              <td nowrap="nowrap">Vlaeminck Jean-Martin</td>
              <td>Lycée Maria Assumpta, Laeken — 6e</td>
              <td><strong>70</strong></td>
            </tr>

            <tr>
              <td>19</td>
              <td nowrap="nowrap">Van Herck Robbe</td>
              <td>Sint-Jan Berchmanscollege, Mol — 4e</td>
              <td><strong>70</strong></td>
            </tr>

            <tr>
              <td>20</td>
              <td nowrap="nowrap">Staquet Gaëtan</td>
              <td>Athénée Royal de Nivelles, Nivelles — 6e</td>
              <td><strong>70</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
