---
title: beOI 2012
---
<section class="page-title page-title-4 image-bg">
  <div class="background-image-holder" id="page-header-image-holder" > </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2012 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2012/ioi-medals.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">In 2012 vond de derde opeenvolgende editie van de Belgische Informatica-olympiade plaats. Nieuw was dat er geen wedstrijd voor het hoger onderwijs meer werd georganiseerd, opdat we ons op het middelbaar onderwijs zouden kunnen concentreren. Bovendien werd de selectie voor de internationale olympiade gevoerd via een veel uitgebreider trainingsprogramma. Deze editie werd bekroond met een uitstekend resultaat op de Internationale Olympiade, met een zilveren en een bronzen medaille.</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Halve finale</h2>

        <p>De halve finale van de Belgische Informatica-olympiade 2012 vond plaats op woensdag 1 februari 2012 in de verschillende regionale centra in het land. De wedstrijd telde 137 deelnemers waarvan er 51 werden geselecteerd voor de finale.</p>
        
        <h3>Resultaten</h3>
        
        <p>De 4 best behaalde scores zijn: (maximumscore: 100 punten)</p>

        <ol>
          <li><strong>Lambein Xavier</strong> - Athénée Royal de Rixensart - 6e middelbaar - <em>91pts</em></li>
          <li><strong>Maskens Oswald</strong> - Sint-Jan-Brechmanscollege, Brussel - 6e middelbaar - <em>87pts</em></li>
          <li><strong>Scheers Jan</strong> - Sint-Albertuscollege, Heverlee - 6e middelbaar - <em>87pts</em></li>
          <li><strong>Vandecasteele Hannes</strong> - Onze-Lieve-Vrouwecollege, Oostende - 5e middelbaar - <em>87pts</em></li>
        </ol>   

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>In de finale van de Belgische Informatica-olympiade namen uiteindelijk 44 leerlingen van het secundair onderwijs het tegen elkaar op, op woensdag 14 maart 2012 in Namen. Wij feliciteren alle deelnemers van harte, en in het bijzonder Floris Kint, de winnaar van deze editie. De finale bestond uit een proef op papier en een proef aan de computer. </p>
        
        <p>Bijna 3000&nbsp;&euro; aan prijzen werd verdeeld onder de beste finalisten. De prijzenpot werd aangeboden door onze sponsors: IBM, IBBT, Microsoft, Vers l'Avenir en Plantyn. Onder de prijzen vonden we onder andere een Lenovo Thinkpad laptop, een iPad 3, een Windows phone, Arduino starter kits (programmeerbare microcontrollers), en talrijke boeken.</p>

        <p>Er werd besloten om de 13 eerste kandidaten, waarvan 8 Franstaligen en 5 Nederlandstaligen, te weerhouden om deel uit te maken van de trainingspool die als doel heeft om een Belgische delegatie te vormen voor de Internationale Olympiade Informatica, die in 2012 in Italië plaatsvond.</p>

        <p>U vindt <a href="#results">onderaan deze pagina</a> het officiële eindklassement van de editie 2012. </p>

        <%= image_tag "img/archives/2012/final-group.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>




<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Internationale Olympiade (IOI)</h2>

        <p><%= image_tag "archives/2012/ioi-all.jpg", width:300, class:"pull-right cast-shadow" %>Voor het derde opeenvolgende jaar nam in 2012 een Belgische delegatie deel aan de International Olympiad in Informatics (IOI), dit keer georganiseerd in Sirmione en Montichiari in Italië. België nam dit jaar een zilveren en een bronzen medaille mee naar huis, dankzij de prestaties van respectievelijk Floris Kint (Onze-Lieve-Vrouwecollege, Oostende) en Victor Lecomte (Lycée Martin V, Louvain-La-Neuve). Dit is veruit het beste resultaat van onze drie jaren deelname.</p>

        <p>De Belgische delegatie bestond dit jaar uit Floris Kint, Victor Lecomte (beide namen al deel aan de IOI 2011), Hannes Vandecasteele en Benoît Vernier. Ze werden begeleid door Damien Leroy en Joachim Ganseman. De 4 deelnemers zaten allen in het 5e jaar secundair en werden gekozen na een intensieve training en een zware selectie onder de best gerangschikten van de Belgische Informatica-olympiade.</p>
        
        <p><%= image_tag "archives/2012/logo2012.jpg", class:"pull-right cast-shadow" %>Op deze 24ste IOI namen 310 deelnemers uit 82 landen van over de hele wereld het tegen elkaar op, waaronder dus 4 Belgen. Op een totaal van 600 punten en 310 deelnemers haalden zij de volgende resultaten:
        </p>
        <ul>
          <li>77e: Floris Kint - 237pts [zilveren medaille]</li>
          <li>143e: Victor Lecomte - 169pts [bronzen medaille]</li>
          <li>256e: Hannes Vandecasteele - 61pts</li>
          <li>257e: Benoît Vernier - 60pts</li>
        </ul>


        <p>Denk je dat je beter kan? <%= link_to 'Download de 6 vragen', '/archives/IOI12-Questions-nl.zip' %> en probeer ze op te lossen in minder dan 10 uur!</p>

        <p>Na onze eerste bronzen medaille in 2011, zijn deze twee nieuwe medailles een uitstekend resultaat voor een derde deelname van een relatief bescheiden land als België.</p>

        <%= image_tag "img/archives/2012/ioi-long.jpg", class:"img-polaroid cast-shadow", width:680, title:"De Belgische delegatie op de Internationale Olympiade Informatica"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors en Steun</h2>

        <p>De steun van verschillende partners maakt het ons mogelijk de olympiade te organiseren. We danken hen van ganser harte voor hun ondersteuning.</p>

        <h3>Hoofdsponsor</h3> 
        <a href="http://www.ibm.com/be/nl/" target="_blank"><img style="padding:10px;" src="/img/ext-logos/ibm_logo-200.jpg" alt="IBM" title="IBM" /></a>

        <h3>Andere sponsors</h3> 
        <a href="http://www.ibbt.be" target="_blank"><img style="padding:10px;" src="/img/ext-logos/ibbt-logo.jpg" width="200"/></a>
        <a href="http://www.lavenir.net/" target="_blank"><img  style="padding:10px;" src="/img/ext-logos/lavenir-2012.jpg" width="200"/></a>

        <h3>Met de steun van</h3> 

        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section>
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Statistieken</h2>

        <h3>Halve finale</h3>
        
        <img src="http://chart.apis.google.com/chart?chf=c,ls,86.667,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|50%25|100%25|||0%25&chxp=0,50,100,75,25,0&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=2,1,0&chs=450x193&cht=bvs&chco=A2C180,AA0033&chd=t:91,87,87,87,84,84,83,83,83,83,83,81,80,80,80,79,77,76,76,76,74,74,74,73,73,73,71,71,71,71,71,69,69,69,69,69,69,69,67,66,64,64,64,63,63,63,61,61,60,60,60|0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,59,57,57,57,57,56,56,56,55,55,55,54,54,54,54,54,53,51,51,50,50,49,49,48,48,47,47,46,46,45,45,44,43,43,43,41,41,41,39,39,39,39,38,38,37,36,36,35,34,34,34,33,32,32,32,32,32,31,31,31,31,29,29,29,28,28,27,26,26,26,26,25,24,24,24,24,23,22,22,22,22,22,19,18,12,11&chdl=Finalisten|Niet-finalisten&chdlp=b&chg=-1,-1,0,0&chma=0,0,0,6&chm=h,FFCC33,1,0.504:5,1&chtt=Scores+(in+aflopende+volgorde)&chts=676767,10.167" width="450" height="193" alt="Scores (in aflopende volgorde)" />

	<img src="http://chart.apis.google.com/chart?chf=c,ls,0,FAFAFA,0.09,FFFFFF,0.09&chxl=0:|0|10|20|30|40|50|1:|7e+|6e+|5e+|4e+|3e+|&chxp=0,0,10,20,30,40,50&chxr=0,0,55&chxs=0,676767,11.5,0,t,676767&chxtc=0,5&chxt=x,y&chbh=a,3,0&chs=337x174&cht=bhs&chco=008000,80C65A,AA0033&chds=0,55,0,55,0,55&chd=t:0,0,4,6,0|1,2,15,22,1|4,26,30,26,0&chdl=TOP+10|Finalisten|Niet-finalisten&chdlp=b&chtt=Verdeling+van+de+deelnemerscategorie+secundair+volgens+leerjaar&chts=676767,9.8" width="337" height="174" alt="Verdeling van de deelnemerscategorie secundair volgens leerjaar" />

	<img src="http://chart.apis.google.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q7|Q8&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=a,1,7&chs=400x193&cht=bvg&chco=3399CC&chd=t:88.321,81.022,58.029,41.971,67.336,65.328,65.937,10.219&chtt=Gemiddelde+(%25)+behaald+op+elke+vraag&chts=676767,9.667" width="400" height="193" alt="Gemiddelde (%) behaald op elke vraag" />

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Nationaal eindklassement</h2>

        <p>De volgorde van ex-aequo tussen de 3e, 4e, 5e, en 6e plaats werd bepaald door het tijdstip van het indienen van de oplossingen op het gedeelte aan de computer. </p>
        <p>In kleur, de kandidaten die werden geselecteerd om deel uit te maken van de traininspool voor de internationale olympiade. In het groen, de kandidaten die uiteindelijk werden geselecteerd om deel uit te maken van de delegatie. </p>
        <table class="table table-striped">
          <tr><th>#</th><th>Naam</th><th>School</th><th>Papier</th><th>Computer</th><th>Totaal</th></tr>

          <tr class="success">
            <td>1</td>
            <td nowrap="nowrap">Kint Floris</td>
            <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 5e</td>
            <td>100%</td>
            <td>53%</td>
            <td><strong>84%</strong></td>
          </tr>
          
          <tr class="success">
            <td>2</td>
            <td nowrap="nowrap">Lecomte Victor</td>
            <td>Lycée Martin V, Louvain-la-Neuve — 5e</td>
            <td>100%</td>
            <td>47%</td>
            <td><strong>82%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>3</td>
            <td nowrap="nowrap">Scheers Jan</td>
            <td>Sint-Albertuscollege, Heverlee — 6e</td>
            <td>100%</td>
            <td>33%</td>
            <td><strong>77%</strong></td>
          </tr>
          
          <tr class="success">
            <td>4</td>
            <td nowrap="nowrap">Vernier Benoît</td>
            <td>École Européenne de Bruxelles III, Bruxelles — 5e</td>
            <td>100%</td>
            <td>33%</td>
            <td><strong>77%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>5</td>
            <td nowrap="nowrap">Smetz Colin</td>
            <td>Institut Saint-Joseph, Ciney — 6e</td>
            <td>100%</td>
            <td>33%</td>
            <td><strong>77%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>6</td>
            <td nowrap="nowrap">David Mathieu</td>
            <td>Sint-Victor Alsemberg, Alsemberg — 5e</td>
            <td>100%</td>
            <td>33%</td>
            <td><strong>77%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>7</td>
            <td nowrap="nowrap">Xhonneux Mathieu</td>
            <td>Collège Notre-Dame de Gemmenich, Gemmenich — 5e</td>
            <td>97%</td>
            <td>33%</td>
            <td><strong>75%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>8</td>
            <td nowrap="nowrap">Bossaert Jens</td>
            <td>Sint-Vincentiuscollege Ieper, Ieper — 6e</td>
            <td>100%</td>
            <td>23%</td>
            <td><strong>74%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>9</td>
            <td nowrap="nowrap">Meynaert Nathan</td>
            <td>Collège Saint Barthélemy, Liège — 5e</td>
            <td>94%</td>
            <td>33%</td>
            <td><strong>73%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>10</td>
            <td nowrap="nowrap">Pazdera Corentin</td>
            <td>Institut Provincial d’enseignement Secondaire, Wavre — 5e</td>
            <td>91%</td>
            <td>33%</td>
            <td><strong>71%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>11</td>
            <td nowrap="nowrap">Legat Antoine</td>
            <td>Lycée Martin V, Louvain-la-Neuve — 5e</td>
            <td>86%</td>
            <td>40%</td>
            <td><strong>70%</strong></td>
          </tr>
          
          <tr class="warning">
            <td>12</td>
            <td nowrap="nowrap">Oostvogels Jonathan</td>
            <td>Vita et Pax college, Schoten — 5e</td>
            <td>83%</td>
            <td>40%</td>
            <td><strong>68%</strong></td>
          </tr>
          
          <tr class="success">
            <td>13</td>
            <td nowrap="nowrap">Vandecasteele Hannes</td>
            <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 5e</td>
            <td>77%</td>
            <td>47%</td>
            <td><strong>67%</strong></td>
          </tr>
          
          <tr>
            <td>14</td>
            <td nowrap="nowrap">Deplasse Victor</td>
            <td>Collège du Christ-Roi, Ottignies — 6e</td>
            <td>83%</td>
            <td>33%</td>
            <td><strong>66%</strong></td>
          </tr>
          
          <tr>
            <td>15</td>
            <td nowrap="nowrap">Lambein Xavier</td>
            <td>Athénée Royal de Rixensart, Rixensart — 6e</td>
            <td>81%</td>
            <td>33%</td>
            <td><strong>65%</strong></td>
          </tr>
          
          <tr>
            <td>16</td>
            <td nowrap="nowrap">Maskens Oswald</td>
            <td>Sint-Jan-Brechmanscollege, Brussel — 6e</td>
            <td>77%</td>
            <td>40%</td>
            <td><strong>64%</strong></td>
          </tr>
          
          <tr>
            <td>17</td>
            <td nowrap="nowrap">Daloze Florian</td>
            <td>Institut de la Providence de Champion, Champion — 6e</td>
            <td>80%</td>
            <td>33%</td>
            <td><strong>64%</strong></td>
          </tr>
          
          <tr>
            <td>18</td>
            <td nowrap="nowrap">Najar Ali</td>
            <td>Lycée Mater Dei, Bruxelles — 6e</td>
            <td>80%</td>
            <td>33%</td>
            <td><strong>64%</strong></td>
          </tr>
          
          <tr>
            <td>19</td>
            <td nowrap="nowrap">Dethise Arnaud</td>
            <td>Collège Saint-Etienne, Court-Saint-Etienne — 6e</td>
            <td>77%</td>
            <td>33%</td>
            <td><strong>62%</strong></td>
          </tr>
          
          <tr>
            <td>20</td>
            <td nowrap="nowrap">Eliat-Eliat Jacob</td>
            <td>Collège Saint-Etienne, Court-Saint-Etienne — 6e</td>
            <td>77%</td>
            <td>33%</td>
            <td><strong>62%</strong></td>
          </tr>
          
          <tr>
            <td>21</td>
            <td nowrap="nowrap">Brode-Roger Ghislain</td>
            <td>Lycée Français Jean Monnet de Bruxelles, Uccle — 5e</td>
            <td>59%</td>
            <td>40%</td>
            <td><strong>52%</strong></td>
          </tr>
          
          <tr>
            <td>22</td>
            <td nowrap="nowrap">Legat Guillaume</td>
            <td>Lycée Martin V, Louvain-la-Neuve — 4e</td>
            <td>60%</td>
            <td>33%</td>
            <td><strong>51%</strong></td>
          </tr>
          
          <tr>
            <td>23</td>
            <td nowrap="nowrap">Clarembeau Alexis</td>
            <td>Athénée Royal François Bovesse, Namur — 5e</td>
            <td>65%</td>
            <td>23%</td>
            <td><strong>51%</strong></td>
          </tr>
          
          <tr>
            <td>24</td>
            <td nowrap="nowrap">De Wachter Jonathan</td>
            <td>Enseignement de Promotion et de Formation Continue, Bruxelles — 6e</td>
            <td>63%</td>
            <td>23%</td>
            <td><strong>49%</strong></td>
          </tr>
          
          <tr>
            <td>25</td>
            <td nowrap="nowrap">Vanmarcke Cedric</td>
            <td>Don Bosco Instituut, Haacht — 5e</td>
            <td>57%</td>
            <td>33%</td>
            <td><strong>49%</strong></td>
          </tr>
          
          <tr>
            <td>26</td>
            <td nowrap="nowrap">Geuten Louis</td>
            <td>Collège St Servais, Namur — 4e</td>
            <td>55%</td>
            <td>33%</td>
            <td><strong>47%</strong></td>
          </tr>
          
          <tr>
            <td>27</td>
            <td nowrap="nowrap">Devillers Hugo</td>
            <td>Athénée Royal d'Arlon, Arlon — 5e</td>
            <td>54%</td>
            <td>33%</td>
            <td><strong>47%</strong></td>
          </tr>
          
          <tr>
            <td>28</td>
            <td nowrap="nowrap">Vermeulen Jan</td>
            <td>Stella-Matutinacollege (SMC), Lede — 6e</td>
            <td>51%</td>
            <td>33%</td>
            <td><strong>45%</strong></td>
          </tr>
          
          <tr>
            <td>29</td>
            <td nowrap="nowrap">Wingelaar Ivo</td>
            <td>Atheneum Plus, Hasselt — 6e</td>
            <td>48%</td>
            <td>33%</td>
            <td><strong>43%</strong></td>
          </tr>
          
          <tr>
            <td>30</td>
            <td nowrap="nowrap">Vanderbusse Jens</td>
            <td>Pleinschool Kortrijk, Kortrijk — 6e</td>
            <td>63%</td>
            <td>0%</td>
            <td><strong>42%</strong></td>
          </tr>
          
          <tr>
            <td>31</td>
            <td nowrap="nowrap">Foucart Guillaume</td>
            <td>Lycée Martin V, Louvain-la-Neuve — 7e</td>
            <td>46%</td>
            <td>33%</td>
            <td><strong>41%</strong></td>
          </tr>
          
          <tr>
            <td>32</td>
            <td nowrap="nowrap">Tran Tri</td>
            <td>Lyceum Martha Somers, Brussel — 5e</td>
            <td>60%</td>
            <td>0%</td>
            <td><strong>40%</strong></td>
          </tr>
          
          <tr>
            <td>33</td>
            <td nowrap="nowrap">De Backer Thomas</td>
            <td>OLVP Bornem, Bornem — 5e</td>
            <td>57%</td>
            <td>0%</td>
            <td><strong>38%</strong></td>
          </tr>
          
          <tr>
            <td>33</td>
            <td nowrap="nowrap">Sevenans Anton</td>
            <td>Sint-Michielscollege Schoten, Schoten — 6e</td>
            <td>57%</td>
            <td>0%</td>
            <td><strong>38%</strong></td>
          </tr>
          
          <tr>
            <td>35</td>
            <td nowrap="nowrap">De Vaere Piet</td>
            <td>Sint-Andreaslyceum Sint-Kruis, Brugge — 5e</td>
            <td>40%</td>
            <td>33%</td>
            <td><strong>37%</strong></td>
          </tr>
          
          <tr>
            <td>36</td>
            <td nowrap="nowrap">Iovino Thomas</td>
            <td>Athénée Royal de Florennes, Florennes — 6e</td>
            <td>55%</td>
            <td>0%</td>
            <td><strong>36%</strong></td>
          </tr>
          
          <tr>
            <td>37</td>
            <td nowrap="nowrap">Derzelle Maxime</td>
            <td>C.E.S. Saint-Joseph, Chimay — 5e</td>
            <td>43%</td>
            <td>23%</td>
            <td><strong>36%</strong></td>
          </tr>
          
          <tr>
            <td>38</td>
            <td nowrap="nowrap">Yernaux Gonzague</td>
            <td>Collège Saint-Michel, Bruxelles — 6e</td>
            <td>51%</td>
            <td>0%</td>
            <td><strong>34%</strong></td>
          </tr>
          
          <tr>
            <td>39</td>
            <td nowrap="nowrap">Willems Danny</td>
            <td>Athénée Royal René Magritte, Lessines — 6e</td>
            <td>49%</td>
            <td>0%</td>
            <td><strong>32%</strong></td>
          </tr>
          
          <tr>
            <td>40</td>
            <td nowrap="nowrap">Daubechies Julien</td>
            <td>École secondaire des Frères (Institut Notre Dame), Tournai — 6e</td>
            <td>46%</td>
            <td>0%</td>
            <td><strong>30%</strong></td>
          </tr>
          
          <tr>
            <td>41</td>
            <td nowrap="nowrap">Feys Niels</td>
            <td>Sint-Vincentiuscollege Ieper, Ieper — 6e</td>
            <td>43%</td>
            <td>0%</td>
            <td><strong>28%</strong></td>
          </tr>
          
          <tr>
            <td>41</td>
            <td nowrap="nowrap">Landuyt Sam</td>
            <td>Pleinschool Kortrijk, Kortrijk — 6e</td>
            <td>43%</td>
            <td>0%</td>
            <td><strong>28%</strong></td>
          </tr>
          
          <tr>
            <td>43</td>
            <td nowrap="nowrap">Janssens Ruben</td>
            <td>Sint-Michielscollege Schoten, Schoten — 3e</td>
            <td>37%</td>
            <td>0%</td>
            <td><strong>24%</strong></td>
          </tr>
          
          <tr>
            <td>44</td>
            <td nowrap="nowrap">Cabuena John</td>
            <td>KTA Brakel, Brakel — 6e</td>
            <td>31%</td>
            <td>0%</td>
            <td><strong>20%</strong></td>
          </tr>
          
          <tr>
            <td>44</td>
            <td nowrap="nowrap">De Beck Xavier</td>
            <td>C.E.S. Saint-Joseph, Chimay — 5e</td>
            <td>31%</td>
            <td>0%</td>
            <td><strong>20%</strong></td>
          </tr>

        </table>


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
