---
title: beOI 2013
---
<section class="page-title page-title-4 image-bg">
  <div class="background-image-holder" id="page-header-image-holder" > </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2013 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2013/ioi-medals.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">L'Olympiade belge d'Informatique 2013 se déroulait dans la continuité des éditions précédentes, avec une nette augmentation du nombre de participants du nord du pays. L'Olympiade Internationale a également été marquée par cette continuité avec trois des quatres participants ayant déjà participés à l'édition 2012, et deux médailles à la clef, cette fois de bronze toutes les deux.</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Demi-finale</h2>

        <p>Les demi-finales des Olympiades belges d'Informatique 2013 se sont déroulées le mercredi 23 janvier 2013 dans les différents centres régionaux du pays.</p>
        
        <h3>Quelques chiffres</h3>

        <ul>
          <li><strong>174 élèves</strong> du secondaire ont participé à la demi-finale.</li>
          <li>Le score de l'épreuve était sur un <strong>total de 81</strong> mais il était possible d'optenir jusqu'à 88 points grâce aux bonus.</li>
          <li>Il fallait obtenir un minimum de <strong>60 points</strong> pour être finaliste.</li>
          <li>Les <strong>47 premiers candidats</strong> de la demi-finale sont qualifiés pour la finale.</li>
          <li>3 participants ont obtenus 88 points, 8 ont obtenu 81 points ou plus.</li>
          <li><strong>10 filles</strong> participaient à la demi-finale. Il n'y en aura cependant qu'une parmi les 47 finalistes.</li>
          <li>Le plus jeune finaliste a <strong>13 ans</strong>. </li>
        </ul>


        <h3>Résultats</h3>
        
        Les trois participants suivant ont tous les trois obtenus 88 points, le maximum possible incluant tous les bonus. 

        <ul>
          <li><strong>Victor Lecomte</strong> - Lycée Martin V, Louvain-la-Neuve - 6e secondaire </li>
          <li><strong>Simon Tihon</strong> - Institut de l'Enfant-Jésus, Nivelles - 6e secondaire</li>
          <li><strong>Floris Kint</strong> - Onze-Lieve-Vrouwecollege Oostende - 6e secondaire </li>
        </ul> 

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>La finale de l'Olympiade belge d'Informatique 2013 avait lieu à Louvain-la-Neuve le samedi 9 mars 2013. Après une longue journée parsemée de divers problèmes technique, Floris Kint, déjà lauréat en 2012, remporte la première place de l'Olympiade nationale. La finale consistait en une épreuve sur papier et une épreuve sur machine. </p>

        <p>Près de 2000&nbsp;€ de prix ont été distribués aux meilleurs finalistes. Ces derniers étaient offerts par IBM, iMinds et Vers l'Avenir. Enfin, les 16 premiers candidats, 10 francophones et 6 néerlandophones, du concours ont été sélectionnés pour faire partie du pool d'entrainement ayant comme objectif la formation de la délégation belge aux les Olympiades Internationales d'Informatique se déroulant en Australie.</p>

        <p>Vous trouverez <a href="#results">en bas de cette page</a> les différents scores et classements officiels de la finale 2013. </p>


        <%= image_tag "archives/2013/beoi.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>




<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Olympiade Internationale (IOI)</h2>

        <p><%= image_tag "archives/2013/ioi-group-square.jpg", width:300, class:"pull-right cast-shadow" %>Pour la quatrième année consécutive,  en 2013, une délégation belge participait à l'Olympiade Internationale d'Informatique (IOI), organisée pour cette édition à Brisbane, en Australie. La Belgique a remporté deux médailles de bronze, grâce à Floris Kint, du collège Notre-Dame d'Ostende, et Victor Lecomte du Lycée Martin V de Louvain-la-Neuve, déjà tous deux médaillés également à l'IOI 2012. Ce résultat place notre compteur à médaille à cinq sur les 3 dernières années.</p>

        <p>La délégation belge comptait dans ses rangs Floris Kint, Victor Lecomte, Hannes Vandecasteele, tout trois ayant déjà participé à l'IOI en 2012, et Simon Tihon. Ils étaient encadrés par Damien Leroy et Joachim Ganseman. Les quatres participants étaient en 6e secondaire et ont tous été choisis suite à un entrainement et une sélection parmi les meilleurs éléments de la finale nationale.</p>
        
        <p><%= image_tag "archives/2013/ioi2013logo.jpg", class:"pull-right cast-shadow" %>La 25e IOI comportait 299 participants issus 80 pays à travers le monde. Parmi ceux-ci, quatre représentaient la Belgique. Leurs résultats, sur un total de 600 points et sur 299 participants, sont les suivants:
        </p>
        <ul>
          <li>111e: Floris Kint - 290pts - médaille de bronze</li>
          <li>125e: Victor Lecomte - 264pts - médaille de bronze</li>
          <li>186e: Simon Tihon - 157pts </li>
          <li>202e: Hannes Vandecasteele - 136pts</li>
        </ul>


        <p>Vous êtes curieux de savoir si vous pourriez faire mieux ? <%= link_to 'Téléchargez les 6 questions', '/archives/IOI13-Questions-fr.zip' %> et tentez de les résoudre en moins de 10 heures !</p>
        
        <%= image_tag "archives/2013/austrgroup.jpg", class:"img-polaroid cast-shadow", width:680, title:"La délégation belge à l'Olympiade Internationale d'Informatique"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors et Soutiens</h2>

        <p>Ces Olympiades ont pu être organisées grâce au soutien reçu par divers organismes. Nous les remercions énormément pour leur support.</p>

        <h3>Sponsor premium</h3> 
        <a href="http://www.ibm.com/be/fr/" target="_blank"><img style="padding:10px;" src="/img/ext-logos/ibm_logo-200.jpg" alt="IBM" title="IBM" /></a>

        <h3 class="mt32">Sponsors standards</h3> 
        <a href="http://www.iminds.be" target="_blank"><img style="padding:10px;" src="/img/ext-logos/iMinds-logo.png" width="200"/></a>
        <a href="http://www.lavenir.net/" target="_blank"><img  style="padding:10px;" src="/img/ext-logos/lavenir-2012.jpg" width="200"/></a>

        <h3 class="mt32">Avec le soutien de</h3> 
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        <% link_to "http://www.federation-wallonie-bruxelles.be", target:'_blank' do %>
        <%= image_tag "ext-logos/cfwb.jpg", width:250, style:"padding:10px;" %>
        <% end %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section>
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Statistiques</h2>

        <h3>Demi-finale</h3>
        
        <img src="//chart.googleapis.com/chart?chf=c,ls,86.667,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|81|50|25|0&chxp=0,81,50,25,0&chxr=0,0,88&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=2,1,0&chs=557x193&cht=bvs&chco=A2C180,AA0033&chds=0,88,0,88&chd=t:88,88,88,84,83,83,82,81,80,80,79,79,79,77,76,75,75,72,72,71,71,71,71,71,71,70,70,69,68,67,67,67,67,66,66,66,66,66,65,65,64,62,62,61,61,61,60|0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,59,59,59,59,58,57,57,57,57,56,56,56,55,55,55,55,55,54,54,54,54,53,53,52,52,52,52,52,52,51,51,51,50,50,50,49,48,48,46,46,45,44,43,42,42,42,42,41,41,41,41,41,41,39,39,39,38,38,38,38,38,38,38,38,37,37,37,37,37,37,37,36,36,35,35,35,35,34,33,33,33,32,32,32,32,32,31,31,31,31,31,30,30,29,29,28,28,28,27,27,26,26,26,26,25,25,23,23,23,23,21,21,20,19,18,17,17,16,15,15,14,12,11,10,10,9,8&chdl=Finalistes|Non-finalistes&chdlp=b&chg=-1,-1,0,0&chma=0,0,0,6&chm=h,FFCC33,1,0.53:5,1&chtt=Scores+(par+ordre+d%C3%A9croissant)&chts=676767,10.167"  alt="Scores (par ordre décroissant)" />

        <img src="//chart.googleapis.com/chart?chf=c,ls,0,FAFAFA,0.09,FFFFFF,0.09&chxl=0:|0|20|40|60|80|1:|6e+|5e+|4e+|3e+|2e&chxp=0,0,20,40,60,80&chxr=0,0,85&chxs=0,676767,11.5,0,t,676767&chxtc=0,5&chxt=x,y&chbh=a,3,0&chs=337x174&cht=bhs&chco=008000,80C65A,AA0033&chds=0,85,0,85,0,85&chd=t:0,0,1,1,8|0,2,3,16,16|1,4,12,49,58&chdl=TOP+10|Finalistes|Non-finalistes&chdlp=b&chma=|0,16&chtt=R%C3%A9partition+des+participants+selon+l'ann%C3%A9e+secondaire&chts=676767,9.8" width="337" height="174" alt="Répartition des participants selon l'année secondaire" />

        <img src="//chart.googleapis.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q7|Q8|Q9&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=a,1,7&chs=400x193&cht=bvg&chco=3399CC&chd=t:58.18,73.56,51.86,45.68,39.75,61.04,76.93,78.16,29.69&chtt=Moyenne+(%25)+obtenue+%C3%A0+chaque+question&chts=676767,9.667" alt="Moyenne (%) obtenue à chaque question" />


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Résultats nationaux complets</h2>

        <p>Les parties papier, machine et le total sont respectivement sur un maximum de 50, 150 et 125 points. Suite au divers problèmes rencontrés lors de l'épreuve machine, les scores de cette partie ont été divisés par deux. Les seize premiers du classement sont sélectionnés pour faire partie du pool d'entraînement pour l'Olympiade internationale d'informatique. </p>


        <table class="table table-striped">
          <tbody><tr><th>#</th><th>Nom</th><th>Etablissement</th><th>Papier</th><th>Machine</th><th>Total</th></tr>

            <tr class="success">
              <td>1</td>
              <td nowrap="nowrap">Kint Floris</td>
              <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 6e</td>
              <td>50</td>
              <td>150</td>
              <td><strong>125</strong></td>
            </tr>

            <tr class="success">
              <td>2</td>
              <td nowrap="nowrap">Meynaert Nathan </td>
              <td>Collège Saint Barthélemy, Liège — 6e</td>
              <td>50</td>
              <td>115</td>
              <td><strong>107</strong></td>
            </tr>

            <tr class="success">
              <td>3</td>
              <td nowrap="nowrap">Gonze Damien</td>
              <td>Institut de la Providence, Wavre — 5e</td>
              <td>37</td>
              <td>122</td>
              <td><strong>98</strong></td>
            </tr>

            <tr class="success">
              <td>4</td>
              <td nowrap="nowrap">Brode-Roger Ghislain</td>
              <td>Lycée Français Jean Monnet de Bruxelles, Uccle — 6e</td>
              <td>36</td>
              <td>118</td>
              <td><strong>95</strong></td>
            </tr>

            <tr class="success">
              <td>5</td>
              <td nowrap="nowrap">Tihon Simon</td>
              <td>Institut de l'Enfant-Jésus, Nivelles — 6e</td>
              <td>44</td>
              <td>90</td>
              <td><strong>89</strong></td>
            </tr>

            <tr class="success">
              <td>6</td>
              <td nowrap="nowrap">Lecomte Victor</td>
              <td>Lycée Martin V, Louvain-la-Neuve — 6e</td>
              <td>50</td>
              <td>64</td>
              <td><strong>82</strong></td>
            </tr>

            <tr class="success">
              <td>7</td>
              <td nowrap="nowrap">Clarembeau Alexis</td>
              <td>Athénée Royal François Bovesse, Namur — 6e</td>
              <td>37</td>
              <td>90</td>
              <td><strong>82</strong></td>
            </tr>

            <tr class="success">
              <td>8</td>
              <td nowrap="nowrap">Vandecasteele Hannes</td>
              <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 6e</td>
              <td>41</td>
              <td>78</td>
              <td><strong>80</strong></td>
            </tr>

            <tr class="success">
              <td>9</td>
              <td nowrap="nowrap">Goossens Pierre-Louis</td>
              <td>Institut de l'Enfant-Jésus, Nivelles — 6e</td>
              <td>39</td>
              <td>78</td>
              <td><strong>78</strong></td>
            </tr>

            <tr class="success">
              <td>10</td>
              <td nowrap="nowrap">Delhez Louis</td>
              <td>Centre scolaire Saint-Benoît-Saint-Servais, Liège — 4e</td>
              <td>40</td>
              <td>62</td>
              <td><strong>71</strong></td>
            </tr>

            <tr class="success">
              <td>11</td>
              <td nowrap="nowrap">Rigaux Tomas</td>
              <td>École Internationale Provence-Alpes-Côte d'Azur, Manosque (F) — 6e</td>
              <td>44</td>
              <td>51</td>
              <td><strong>69</strong></td>
            </tr>

            <tr class="success">
              <td>12</td>
              <td nowrap="nowrap">Vanmarcke Cedric</td>
              <td>Don Bosco Instituut, Haacht — 6e</td>
              <td>35</td>
              <td>63</td>
              <td><strong>66</strong></td>
            </tr>

            <tr class="success">
              <td>13</td>
              <td nowrap="nowrap">Janssens Ruben</td>
              <td>Sint-Michielscollege Schoten, Schoten — 4e</td>
              <td>30</td>
              <td>62</td>
              <td><strong>61</strong></td>
            </tr>

            <tr class="success">
              <td>14</td>
              <td nowrap="nowrap">Legat Guillaume</td>
              <td>Lycée Martin V, Louvain-la-Neuve — 5e</td>
              <td>41</td>
              <td>37</td>
              <td><strong>59</strong></td>
            </tr>

            <tr class="success">
              <td>15</td>
              <td nowrap="nowrap">Swiggers Matthias</td>
              <td>Sint-Theresiacollege, Kapelle-op-den-Bos — 5e</td>
              <td>40</td>
              <td>32</td>
              <td><strong>56</strong></td>
            </tr>

            <tr class="success">
              <td>16</td>
              <td nowrap="nowrap">Derks Robbe</td>
              <td>Provinciaal Instituut Lommel, Lommel — 5e</td>
              <td>31</td>
              <td>50</td>
              <td><strong>56</strong></td>
            </tr>

            <tr>
              <td>17</td>
              <td nowrap="nowrap">Gabriel Mattias</td>
              <td>Collège du Sartay, Embourg — 5e</td>
              <td>30</td>
              <td>51</td>
              <td><strong>55</strong></td>
            </tr>

            <tr>
              <td>18</td>
              <td nowrap="nowrap">Devillez Henri</td>
              <td>Institut de la Providence de Champion, Champion — 5e</td>
              <td>39</td>
              <td>32</td>
              <td><strong>55</strong></td>
            </tr>

            <tr>
              <td>19</td>
              <td nowrap="nowrap">Verhaeghe William</td>
              <td>KTA Brasschaat, Brasschaat — 6e</td>
              <td>29</td>
              <td>51</td>
              <td><strong>54</strong></td>
            </tr>

            <tr>
              <td>20</td>
              <td nowrap="nowrap">Van Renterghem Jorg</td>
              <td>KaVoskenslaan, Gent — 5e</td>
              <td>37</td>
              <td>29</td>
              <td><strong>51</strong></td>
            </tr>

            <tr>
              <td>21</td>
              <td nowrap="nowrap">Xhonneux Mathieu</td>
              <td>Collège Notre-Dame de Gemmenich, Gemmenich — 6e</td>
              <td>26</td>
              <td>48</td>
              <td><strong>50</strong></td>
            </tr>

            <tr>
              <td>22</td>
              <td nowrap="nowrap">Dierendonck Dries</td>
              <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 6e</td>
              <td>33</td>
              <td>30</td>
              <td><strong>48</strong></td>
            </tr>

            <tr>
              <td>23</td>
              <td nowrap="nowrap">De Backer Thomas</td>
              <td>OLVP Bornem, Bornem — 6e</td>
              <td>33</td>
              <td>26</td>
              <td><strong>46</strong></td>
            </tr>

            <tr>
              <td>24</td>
              <td nowrap="nowrap">Devillers Hugo</td>
              <td>Athénée Royal d'Arlon, Arlon — 5e</td>
              <td>33</td>
              <td>24</td>
              <td><strong>45</strong></td>
            </tr>

            <tr>
              <td>25</td>
              <td nowrap="nowrap">Pazdera Corentin</td>
              <td>Institut Provincial d’enseignement Secondaire, Wavre — 6e</td>
              <td>33</td>
              <td>23</td>
              <td><strong>44</strong></td>
            </tr>

            <tr>
              <td>26</td>
              <td nowrap="nowrap">Tran Tri</td>
              <td>Lyceum Martha Somers, Brussel — 6e</td>
              <td>28</td>
              <td>32</td>
              <td><strong>44</strong></td>
            </tr>

            <tr>
              <td>27</td>
              <td nowrap="nowrap">Verelst Thomas</td>
              <td>Sint-Jan Berchmans College, Westmalle — 6e</td>
              <td>31</td>
              <td>21</td>
              <td><strong>41</strong></td>
            </tr>

            <tr>
              <td>27</td>
              <td nowrap="nowrap">De Laere Matthieu</td>
              <td>Pleinschool Kortrijk, Kortrijk — 6e</td>
              <td>34</td>
              <td>18</td>
              <td><strong>43</strong></td>
            </tr>

            <tr>
              <td>28</td>
              <td nowrap="nowrap">Michiels Thomas</td>
              <td>Sint-Michielscollege Schoten, Schoten — 6e</td>
              <td>39</td>
              <td>8</td>
              <td><strong>43</strong></td>
            </tr>

            <tr>
              <td>29</td>
              <td nowrap="nowrap">Geentjens Ben</td>
              <td>Heilig Graf, Turnhout — 6e</td>
              <td>34</td>
              <td>15</td>
              <td><strong>41</strong></td>
            </tr>

            <tr>
              <td>31</td>
              <td nowrap="nowrap">Hoobergs Jesse</td>
              <td>Pius X College, Tessenderlo — 5e</td>
              <td>39</td>
              <td>0</td>
              <td><strong>39</strong></td>
            </tr>

            <tr>
              <td>32</td>
              <td nowrap="nowrap">Debast Dieter</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 5e</td>
              <td>36</td>
              <td>3</td>
              <td><strong>37</strong></td>
            </tr>

            <tr>
              <td>33</td>
              <td nowrap="nowrap">Lombat Quentin</td>
              <td>Institut Technique Namur, Namur — 6e</td>
              <td>29</td>
              <td>15</td>
              <td><strong>36</strong></td>
            </tr>

            <tr>
              <td>34</td>
              <td nowrap="nowrap">Staquet Gaëtan</td>
              <td>Athénée Royal de Nivelles, Nivelles — 4e</td>
              <td>33</td>
              <td>3</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>35</td>
              <td nowrap="nowrap">Vandervilt Vincent</td>
              <td>Athénée royale Arlon, Arlon — 5e</td>
              <td>31</td>
              <td>6</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>36</td>
              <td nowrap="nowrap">Bosquet Martin</td>
              <td>Collège St Servais, Namur — 6e</td>
              <td>34</td>
              <td>0</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>37</td>
              <td nowrap="nowrap">Parmentier Klaas</td>
              <td>Onze-Lieve-Vrouwecollege campus Bevegem, Zottegem — 5e</td>
              <td>33</td>
              <td>0</td>
              <td><strong>33</strong></td>
            </tr>

            <tr>
              <td>38</td>
              <td nowrap="nowrap">Legat Antoine</td>
              <td>Lycée Martin V, Louvain-la-Neuve — 6e</td>
              <td>31</td>
              <td>0</td>
              <td><strong>31</strong></td>
            </tr>

            <tr>
              <td>39</td>
              <td nowrap="nowrap">Couplet Matteo</td>
              <td>Leielandscholen Campus OLV Vlaanderen, Courtrai — 4e</td>
              <td>27</td>
              <td>0</td>
              <td><strong>27</strong></td>
            </tr>

            <tr>
              <td>40</td>
              <td nowrap="nowrap">Galant Damien</td>
              <td>Athénée Provincial de La Louvière, La Louvière — 3e</td>
              <td>26</td>
              <td>0</td>
              <td><strong>26</strong></td>
            </tr>

            <tr>
              <td>41</td>
              <td nowrap="nowrap">Dooms Fleur</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 5e</td>
              <td>26</td>
              <td>0</td>
              <td><strong>26</strong></td>
            </tr>

            <tr>
              <td>42</td>
              <td nowrap="nowrap">Billot Louis</td>
              <td>Collège Notre-Dame de Bon Secours, Binche — 3e</td>
              <td>22</td>
              <td>0</td>
              <td><strong>22</strong></td>
            </tr>

            <tr>
              <td>43</td>
              <td nowrap="nowrap">Huysmans Guillaume</td>
              <td>Collège Saint-Julien, Ath — 6e</td>
              <td>19</td>
              <td>3</td>
              <td><strong>20</strong></td>
            </tr>

            <tr>
              <td>44</td>
              <td nowrap="nowrap">Madhloum Mohamed</td>
              <td>Sint-Theresiacollege, Kapelle-op-den-Bos — 5e</td>
              <td>18</td>
              <td>3</td>
              <td><strong>19</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
