---
title: beOI 2013
---
<section class="page-title page-title-4 image-bg">
  <div class="background-image-holder" id="page-header-image-holder" > </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2013 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
  var pattern = Trianglify({
    width: window.innerWidth,
    height: window.innerHeight*1.5,
    x_colors: "RdBu"
  });
  document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <%= image_tag "archives/2013/ioi-medals.jpg", class:"pull-right cast-shadow", width:300, style:"margin-left:32px;" %>

        <p class="lead">De Belgische Informatica-olympiade 2013 zette de traditie van de voorgaande jaren verder, met een mooit groei van het aantal deelnemers in het noorden van het land. Ook op de Internationale Olympiade konden we goede resultaten blijven neerzetten. Drie van de vier teamleden hadden reeds in 2012 deelgenomen, en opnieuw werd er met twee medailles huiswaarts gekeerd, dit keer 2x brons.</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Halve finale</h2>

        <p>De halve finale van de Belgische Informatica-olympiade 2013 vond plaats op 23 januari 2013 in verschillende regionale centra verspreid over het land.</p>
        
        <h3>Enkele cijfers</h3>

        <ul>
          <li><strong>174 leerlingen</strong> uit het secundair onderwijs namen deel aan de halve finale.</li>
          <li>De proef stond op een totaal van <strong>81 punten</strong> maar het was mogelijk om tot 88 punten te behalen door bonuspunten te verdienen.</li>
          <li>Een minimum van <strong>60 punten</strong> moest behaald worden om finalist(e) te zijn.</li>
          <li>De <strong>47 best gerangschikten</strong> van de halve finale plaatsten zich zo voor de finale.</li>
          <li>3 deelnemers behaalden 88 punten, 8 hebben er 81 of meer gescoord.</li>
          <li><strong>10 meisjes</strong> namen deel aan de halve finale. Helaas was er slechts één onder de 47 finalisten.</li>
          <li>De jongste finalist was <strong>13 jaar</strong>. </li>
        </ul>


        <h3>Resultaten</h3>
        
        De volgende drie deelnemers haalden elk 88 punten, het maximum haalbare inclusief alle bonuspunten. 

        <ul>
          <li><strong>Victor Lecomte</strong> - Lycée Martin V, Louvain-la-Neuve - 6e middelbaar </li>
          <li><strong>Simon Tihon</strong> - Institut de l'Enfant-Jésus, Nivelles - 6e middelbaar</li>
          <li><strong>Floris Kint</strong> - Onze-Lieve-Vrouwecollege Oostende - 6e middelbaar</li>
        </ul> 

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Finale</h2>

        <p>De finale van de Belgische Informatica-olympiade 2013 vond plaats in Louvain-la-Neuve op zaterdag 9 maart 2013. Na een lange dag die werd geplaagd door technische problemen, kon Floris Kint, reeds winnaar van de wedstrijd in 2012, opnieuw de eerste plaats wegkapen. De finale bestond uit een proef op papier en een programmeeropdracht aan de computer. </p>

        <p>Ongeveer 2000&nbsp;€ aan prijzen werden verdeeld onder de beste finalisten, aangeboden door de sponsors IBM, iMinds en Vers l'Avenir. Tot slot werden de eerste 16 gerangschikten, waarvan 10 Franstaligen en 6 Nederlandstaligen, weerhouden om deel uit te maken van de trainingspool met als doel een Belgische delegatie voor de Internationale Olympiade Informatica te vormen. Die laatste vond plaats in Australië.</p>

        <p>U kunt <a href="#results">onderaan deze pagina</a> de scores en het officiële eindklassement van editie 2013 terugvinden. </p>


        <%= image_tag "img/archives/2013/beoi.jpg", class:"img-polaroid cast-shadow" %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>




<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Internationale Olympiade (IOI)</h2>

        <p><%= image_tag "archives/2013/ioi-group-square.jpg", width:300, class:"pull-right cast-shadow" %>Voor het vierde jaar op rij nam in 2013 een Belgische delegatie deel aan de Internationale Olympiade Informatica (IOI), die werd georganiseerd in Brisbane, Australië. België nam twee bronzen medailles mee naar huis, dankzij Floris Kint van het Onze-lieve-vrouwecollege van Oostende, en Victor Lecomte van het Lycée Martin V in Louvain-la-Neuve. Beiden waren reeds medaillewinnaars in 2012. Dit resultaat brengt de Belgische medailleteller op 5 over de laatste 3 jaren heen.</p>

        <p>De Belgische ploeg bestond uit Floris Kint, Victor Lecomte, Hannes Vandecasteele, die alledrie reeds deelnamen aan de IOI in 2013, en Simon Tihon. Ze werden begeleid door Damien Leroy en Joachim Ganseman. De vier ploegleden zaten allen in het 6e jaar secundair onderwijs en werden allevier, na een intensieve trainings- en selectieperiode, geselecteerd uit de pool die was samengesteld na de Belgische finale.</p>
        
        <p><%= image_tag "archives/2013/ioi2013logo.jpg", class:"pull-right cast-shadow" %>Op deze 25e IOI namen 299 deelnemers uit 80 landen het tegen elkaar op. De resultaten van het Belgische team, op een totaal van 600 punten en 299 deelnemers, waren als volgt:
        </p>
        <ul>
          <li>111e: Floris Kint - 290pts [bronzen medaille]</li>
          <li>125e: Victor Lecomte - 264pts [bronzen medaille]</li>
          <li>186e: Simon Tihon - 157pts </li>
          <li>202e: Hannes Vandecasteele - 136pts</li>
        </ul>


        <p>Benieuwd of je beter kan? <%= link_to 'Download de 6 vragen', '/archives/IOI13-Questions-nl.zip' %> en probeer ze op te lossen in minder dan 10 uur!</p>
        
        <%= image_tag "img/archives/2013/austrgroup.jpg", class:"img-polaroid cast-shadow", width:680, title:"De Belgische delegatie op de Internationale Olympiade Informatica"  %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors en Steun</h2>

        <p>Deze Olympiade kon slechts georganiseerd worden dankzij de steun van verschillende partners. Wij bedanken hen uitdrukkelijk voor hun ondersteuning!</p>

        <h3>Premium Sponsor</h3> 
        <a href="http://www.ibm.com/be/nl/" target="_blank"><img style="padding:10px;" src="/img/ext-logos/ibm_logo-200.jpg" alt="IBM" title="IBM" /></a>

        <h3 class="mt32">Standaard sponsors</h3> 
        <a href="http://www.iminds.be" target="_blank"><img style="padding:10px;" src="/img/ext-logos/iMinds-logo.png" width="200"/></a>
        <a href="http://www.lavenir.net/" target="_blank"><img  style="padding:10px;" src="/img/ext-logos/lavenir-2012.jpg" width="200"/></a>

        <h3 class="mt32">Met de steun van</h3> 
        <% link_to "http://www.ond.vlaanderen.be/", target:'_blank' do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        <% link_to "http://www.federation-wallonie-bruxelles.be", target:'_blank' do %>
        <%= image_tag "ext-logos/cfwb.jpg", width:250, style:"padding:10px;" %>
        <% end %>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<section>
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Statistieken</h2>

        <h3>Halve Finale</h3>
        
        <img src="//chart.googleapis.com/chart?chf=c,ls,86.667,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|81|50|25|0&chxp=0,81,50,25,0&chxr=0,0,88&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=2,1,0&chs=557x193&cht=bvs&chco=A2C180,AA0033&chds=0,88,0,88&chd=t:88,88,88,84,83,83,82,81,80,80,79,79,79,77,76,75,75,72,72,71,71,71,71,71,71,70,70,69,68,67,67,67,67,66,66,66,66,66,65,65,64,62,62,61,61,61,60|0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,59,59,59,59,58,57,57,57,57,56,56,56,55,55,55,55,55,54,54,54,54,53,53,52,52,52,52,52,52,51,51,51,50,50,50,49,48,48,46,46,45,44,43,42,42,42,42,41,41,41,41,41,41,39,39,39,38,38,38,38,38,38,38,38,37,37,37,37,37,37,37,36,36,35,35,35,35,34,33,33,33,32,32,32,32,32,31,31,31,31,31,30,30,29,29,28,28,28,27,27,26,26,26,26,25,25,23,23,23,23,21,21,20,19,18,17,17,16,15,15,14,12,11,10,10,9,8&chdl=Finalisten|Niet-finalisten&chdlp=b&chg=-1,-1,0,0&chma=0,0,0,6&chm=h,FFCC33,1,0.53:5,1&chtt=Scores+(in+aflopende+volgorde)&chts=676767,10.167"  alt="Scores (in aflopende volgorde)" />

	<img src="//chart.googleapis.com/chart?chf=c,ls,0,FAFAFA,0.09,FFFFFF,0.09&chxl=0:|0|20|40|60|80|1:|6e+|5e+|4e+|3e+|2e&chxp=0,0,20,40,60,80&chxr=0,0,85&chxs=0,676767,11.5,0,t,676767&chxtc=0,5&chxt=x,y&chbh=a,3,0&chs=337x174&cht=bhs&chco=008000,80C65A,AA0033&chds=0,85,0,85,0,85&chd=t:0,0,1,1,8|0,2,3,16,16|1,4,12,49,58&chdl=TOP+10|Finalisten|Niet-finalisten&chdlp=b&chma=|0,16&chtt=verdeling+deelnemers+volgens+jaar+middelbaar&chts=676767,9.8" width="337" height="174" alt="Verdeling deelnemers volgens jaar middelbaar" />

	<img src="//chart.googleapis.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q7|Q8|Q9&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=a,1,7&chs=400x193&cht=bvg&chco=3399CC&chd=t:58.18,73.56,51.86,45.68,39.75,61.04,76.93,78.16,29.69&chtt=Gemiddelde+(%25)+behaald+op+elke+vraag&chts=676767,9.667" alt="Gemiddelde (%) behaald op elke vraag" />


      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<a name="results"></a>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Nationaal eindklassement</h2>

        <p>De gedeeltes op papier, aan de computer, en het totaal, stonden op respectievelijk 50, 150 en 125 punten. Door de verschillende technische problemen die de computeropdracht plaagden, werden de scores van dat gedeelte immers door twee gedeeld. De eerste 16 gerangschikten werden uitgenodigd om deel uit te maken van de trainingspool voor de Internationale Olympiade Informatica. </p>


        <table class="table table-striped">
          <tbody><tr><th>#</th><th>Naam</th><th>School</th><th>Papier</th><th>Computer</th><th>Totaal</th></tr>

            <tr class="success">
              <td>1</td>
              <td nowrap="nowrap">Kint Floris</td>
              <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 6e</td>
              <td>50</td>
              <td>150</td>
              <td><strong>125</strong></td>
            </tr>

            <tr class="success">
              <td>2</td>
              <td nowrap="nowrap">Meynaert Nathan </td>
              <td>Collège Saint Barthélemy, Liège — 6e</td>
              <td>50</td>
              <td>115</td>
              <td><strong>107</strong></td>
            </tr>

            <tr class="success">
              <td>3</td>
              <td nowrap="nowrap">Gonze Damien</td>
              <td>Institut de la Providence, Wavre — 5e</td>
              <td>37</td>
              <td>122</td>
              <td><strong>98</strong></td>
            </tr>

            <tr class="success">
              <td>4</td>
              <td nowrap="nowrap">Brode-Roger Ghislain</td>
              <td>Lycée Français Jean Monnet de Bruxelles, Uccle — 6e</td>
              <td>36</td>
              <td>118</td>
              <td><strong>95</strong></td>
            </tr>

            <tr class="success">
              <td>5</td>
              <td nowrap="nowrap">Tihon Simon</td>
              <td>Institut de l'Enfant-Jésus, Nivelles — 6e</td>
              <td>44</td>
              <td>90</td>
              <td><strong>89</strong></td>
            </tr>

            <tr class="success">
              <td>6</td>
              <td nowrap="nowrap">Lecomte Victor</td>
              <td>Lycée Martin V, Louvain-la-Neuve — 6e</td>
              <td>50</td>
              <td>64</td>
              <td><strong>82</strong></td>
            </tr>

            <tr class="success">
              <td>7</td>
              <td nowrap="nowrap">Clarembeau Alexis</td>
              <td>Athénée Royal François Bovesse, Namur — 6e</td>
              <td>37</td>
              <td>90</td>
              <td><strong>82</strong></td>
            </tr>

            <tr class="success">
              <td>8</td>
              <td nowrap="nowrap">Vandecasteele Hannes</td>
              <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 6e</td>
              <td>41</td>
              <td>78</td>
              <td><strong>80</strong></td>
            </tr>

            <tr class="success">
              <td>9</td>
              <td nowrap="nowrap">Goossens Pierre-Louis</td>
              <td>Institut de l'Enfant-Jésus, Nivelles — 6e</td>
              <td>39</td>
              <td>78</td>
              <td><strong>78</strong></td>
            </tr>

            <tr class="success">
              <td>10</td>
              <td nowrap="nowrap">Delhez Louis</td>
              <td>Centre scolaire Saint-Benoît-Saint-Servais, Liège — 4e</td>
              <td>40</td>
              <td>62</td>
              <td><strong>71</strong></td>
            </tr>

            <tr class="success">
              <td>11</td>
              <td nowrap="nowrap">Rigaux Tomas</td>
              <td>École Internationale Provence-Alpes-Côte d'Azur, Manosque (F) — 6e</td>
              <td>44</td>
              <td>51</td>
              <td><strong>69</strong></td>
            </tr>

            <tr class="success">
              <td>12</td>
              <td nowrap="nowrap">Vanmarcke Cedric</td>
              <td>Don Bosco Instituut, Haacht — 6e</td>
              <td>35</td>
              <td>63</td>
              <td><strong>66</strong></td>
            </tr>

            <tr class="success">
              <td>13</td>
              <td nowrap="nowrap">Janssens Ruben</td>
              <td>Sint-Michielscollege Schoten, Schoten — 4e</td>
              <td>30</td>
              <td>62</td>
              <td><strong>61</strong></td>
            </tr>

            <tr class="success">
              <td>14</td>
              <td nowrap="nowrap">Legat Guillaume</td>
              <td>Lycée Martin V, Louvain-la-Neuve — 5e</td>
              <td>41</td>
              <td>37</td>
              <td><strong>59</strong></td>
            </tr>

            <tr class="success">
              <td>15</td>
              <td nowrap="nowrap">Swiggers Matthias</td>
              <td>Sint-Theresiacollege, Kapelle-op-den-Bos — 5e</td>
              <td>40</td>
              <td>32</td>
              <td><strong>56</strong></td>
            </tr>

            <tr class="success">
              <td>16</td>
              <td nowrap="nowrap">Derks Robbe</td>
              <td>Provinciaal Instituut Lommel, Lommel — 5e</td>
              <td>31</td>
              <td>50</td>
              <td><strong>56</strong></td>
            </tr>

            <tr>
              <td>17</td>
              <td nowrap="nowrap">Gabriel Mattias</td>
              <td>Collège du Sartay, Embourg — 5e</td>
              <td>30</td>
              <td>51</td>
              <td><strong>55</strong></td>
            </tr>

            <tr>
              <td>18</td>
              <td nowrap="nowrap">Devillez Henri</td>
              <td>Institut de la Providence de Champion, Champion — 5e</td>
              <td>39</td>
              <td>32</td>
              <td><strong>55</strong></td>
            </tr>

            <tr>
              <td>19</td>
              <td nowrap="nowrap">Verhaeghe William</td>
              <td>KTA Brasschaat, Brasschaat — 6e</td>
              <td>29</td>
              <td>51</td>
              <td><strong>54</strong></td>
            </tr>

            <tr>
              <td>20</td>
              <td nowrap="nowrap">Van Renterghem Jorg</td>
              <td>KaVoskenslaan, Gent — 5e</td>
              <td>37</td>
              <td>29</td>
              <td><strong>51</strong></td>
            </tr>

            <tr>
              <td>21</td>
              <td nowrap="nowrap">Xhonneux Mathieu</td>
              <td>Collège Notre-Dame de Gemmenich, Gemmenich — 6e</td>
              <td>26</td>
              <td>48</td>
              <td><strong>50</strong></td>
            </tr>

            <tr>
              <td>22</td>
              <td nowrap="nowrap">Dierendonck Dries</td>
              <td>Onze-Lieve-Vrouwecollege Oostende, Oostende — 6e</td>
              <td>33</td>
              <td>30</td>
              <td><strong>48</strong></td>
            </tr>

            <tr>
              <td>23</td>
              <td nowrap="nowrap">De Backer Thomas</td>
              <td>OLVP Bornem, Bornem — 6e</td>
              <td>33</td>
              <td>26</td>
              <td><strong>46</strong></td>
            </tr>

            <tr>
              <td>24</td>
              <td nowrap="nowrap">Devillers Hugo</td>
              <td>Athénée Royal d'Arlon, Arlon — 5e</td>
              <td>33</td>
              <td>24</td>
              <td><strong>45</strong></td>
            </tr>

            <tr>
              <td>25</td>
              <td nowrap="nowrap">Pazdera Corentin</td>
              <td>Institut Provincial d’enseignement Secondaire, Wavre — 6e</td>
              <td>33</td>
              <td>23</td>
              <td><strong>44</strong></td>
            </tr>

            <tr>
              <td>26</td>
              <td nowrap="nowrap">Tran Tri</td>
              <td>Lyceum Martha Somers, Brussel — 6e</td>
              <td>28</td>
              <td>32</td>
              <td><strong>44</strong></td>
            </tr>

            <tr>
              <td>27</td>
              <td nowrap="nowrap">Verelst Thomas</td>
              <td>Sint-Jan Berchmans College, Westmalle — 6e</td>
              <td>31</td>
              <td>21</td>
              <td><strong>41</strong></td>
            </tr>

            <tr>
              <td>27</td>
              <td nowrap="nowrap">De Laere Matthieu</td>
              <td>Pleinschool Kortrijk, Kortrijk — 6e</td>
              <td>34</td>
              <td>18</td>
              <td><strong>43</strong></td>
            </tr>

            <tr>
              <td>28</td>
              <td nowrap="nowrap">Michiels Thomas</td>
              <td>Sint-Michielscollege Schoten, Schoten — 6e</td>
              <td>39</td>
              <td>8</td>
              <td><strong>43</strong></td>
            </tr>

            <tr>
              <td>29</td>
              <td nowrap="nowrap">Geentjens Ben</td>
              <td>Heilig Graf, Turnhout — 6e</td>
              <td>34</td>
              <td>15</td>
              <td><strong>41</strong></td>
            </tr>

            <tr>
              <td>31</td>
              <td nowrap="nowrap">Hoobergs Jesse</td>
              <td>Pius X College, Tessenderlo — 5e</td>
              <td>39</td>
              <td>0</td>
              <td><strong>39</strong></td>
            </tr>

            <tr>
              <td>32</td>
              <td nowrap="nowrap">Debast Dieter</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 5e</td>
              <td>36</td>
              <td>3</td>
              <td><strong>37</strong></td>
            </tr>

            <tr>
              <td>33</td>
              <td nowrap="nowrap">Lombat Quentin</td>
              <td>Institut Technique Namur, Namur — 6e</td>
              <td>29</td>
              <td>15</td>
              <td><strong>36</strong></td>
            </tr>

            <tr>
              <td>34</td>
              <td nowrap="nowrap">Staquet Gaëtan</td>
              <td>Athénée Royal de Nivelles, Nivelles — 4e</td>
              <td>33</td>
              <td>3</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>35</td>
              <td nowrap="nowrap">Vandervilt Vincent</td>
              <td>Athénée royale Arlon, Arlon — 5e</td>
              <td>31</td>
              <td>6</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>36</td>
              <td nowrap="nowrap">Bosquet Martin</td>
              <td>Collège St Servais, Namur — 6e</td>
              <td>34</td>
              <td>0</td>
              <td><strong>34</strong></td>
            </tr>

            <tr>
              <td>37</td>
              <td nowrap="nowrap">Parmentier Klaas</td>
              <td>Onze-Lieve-Vrouwecollege campus Bevegem, Zottegem — 5e</td>
              <td>33</td>
              <td>0</td>
              <td><strong>33</strong></td>
            </tr>

            <tr>
              <td>38</td>
              <td nowrap="nowrap">Legat Antoine</td>
              <td>Lycée Martin V, Louvain-la-Neuve — 6e</td>
              <td>31</td>
              <td>0</td>
              <td><strong>31</strong></td>
            </tr>

            <tr>
              <td>39</td>
              <td nowrap="nowrap">Couplet Matteo</td>
              <td>Leielandscholen Campus OLV Vlaanderen, Courtrai — 4e</td>
              <td>27</td>
              <td>0</td>
              <td><strong>27</strong></td>
            </tr>

            <tr>
              <td>40</td>
              <td nowrap="nowrap">Galant Damien</td>
              <td>Athénée Provincial de La Louvière, La Louvière — 3e</td>
              <td>26</td>
              <td>0</td>
              <td><strong>26</strong></td>
            </tr>

            <tr>
              <td>41</td>
              <td nowrap="nowrap">Dooms Fleur</td>
              <td>Koninklijk Atheneum Brugge, Brugge — 5e</td>
              <td>26</td>
              <td>0</td>
              <td><strong>26</strong></td>
            </tr>

            <tr>
              <td>42</td>
              <td nowrap="nowrap">Billot Louis</td>
              <td>Collège Notre-Dame de Bon Secours, Binche — 3e</td>
              <td>22</td>
              <td>0</td>
              <td><strong>22</strong></td>
            </tr>

            <tr>
              <td>43</td>
              <td nowrap="nowrap">Huysmans Guillaume</td>
              <td>Collège Saint-Julien, Ath — 6e</td>
              <td>19</td>
              <td>3</td>
              <td><strong>20</strong></td>
            </tr>

            <tr>
              <td>44</td>
              <td nowrap="nowrap">Madhloum Mohamed</td>
              <td>Sint-Theresiacollege, Kapelle-op-den-Bos — 5e</td>
              <td>18</td>
              <td>3</td>
              <td><strong>19</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
