---
title: FAQ
trianglify_colors: '"RdYlGn"'
---
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:faq_title) %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb16"><%= t(:faq_subtitle) %></h4>
        <p class="lead mb64">
        <%= t(:faq_morequestions) %>
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
</section>

<% data.faq[lang].each do |cat| %>
<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">

        <h4 class="uppercase mb16 text-center"><%= cat.category_title %></h4>

        <ul class="accordion accordion-2 text-left mt32">
          <% cat.questions.each do |q| %>
          <li>
            <div class="title">
              <h4 class="inline-block mb0"><%= q.question %></h4>
            </div>
            <div class="content">
              <p><%= q.answer %></p>
            </div>
          </li>
          <% end %>
        </ul>
        <!--end of accordion-->

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>
<% end %>
