---
title: Final Results
trianglify_colors: '"RdYlGn"'
---
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:final_result_title) %> 2019</h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="mb16 text-center lead"><%= t(:final_results_expl_future) %></p>
        <!-- <p class="mb16 text-center lead"><%= t(:final_results_expl_past) %></p> -->
      </div>
    </div>
  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Cadet) %></h4>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <h5 class="uppercase mb16 text-center"><%= t(:final_top) % data.results_2019_final.contestants.cadet_top.length %></h5>

        <table class="table table-striped">
          <tbody>
            <tr><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th></tr>
            <% data.results_2019_final.contestants.cadet_top.each do |r| %>
            <tr>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <h5 class="uppercase mb16 text-center"><%= t(:final_after_top) % data.results_2019_final.contestants.cadet_top.length %></h5>

        <p class="mb16 text-center"><%= t(:results_max_score)%data.results_2019_final.contestants.cadet_max %></p>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2019_final.contestants.cadet.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Junior) %></h4>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <h5 class="uppercase mb16 text-center"><%= t(:final_top) % data.results_2019_final.contestants.junior_top.length %></h5>

        <table class="table table-striped">
          <tbody>
            <tr><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th></tr>
            <% data.results_2019_final.contestants.junior_top.each do |r| %>
            <tr>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <h5 class="uppercase mb16 text-center"><%= t(:final_after_top) % data.results_2019_final.contestants.junior_top.length %></h5>
       
        <p class="mb16 text-center"><%= t(:results_max_score)%data.results_2019_final.contestants.junior_max %></p>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2019_final.contestants.junior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Senior) %></h4>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <h5 class="uppercase mb16 text-center"><%= t(:final_top) % data.results_2019_final.contestants.senior_top.length %></h5>
        
        <table class="table table-striped">
          <tbody>
            <tr><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th></tr>
            <% data.results_2019_final.contestants.senior_top.each do |r| %>
            <tr>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <h5 class="uppercase mb16 text-center"><%= t(:final_after_top) % data.results_2019_final.contestants.senior_top.length %></h5>
        
        <p class="mb16 text-center"><%= t(:results_max_score)%data.results_2019_final.contestants.senior_max %></p>

        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2019_final.contestants.senior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>
