---
mailchimp_submit:
  fr: "//be-oi.us6.list-manage.com/subscribe/post?u=4a51a9ab354aa26ba87f9a75f&amp;id=0637c4db56"
  nl: "//be-oi.us9.list-manage.com/subscribe/post?u=c6d8dcea8c4875082e570aee9&amp;id=96b626466f"
contest_platform:
  fr: https://concours.be-oi.be/
  nl: https://wedstrijd.be-oi.be/
management_platform:
  fr: https://gestion.be-oi.be/
  nl: https://beheer.be-oi.be/
---
<section class="image-bg overlay parallax" style="background-color:#48ad68;">
  <%=page_header_empty_image_holder %>
  <div class="background-image-holder background-image-mosaic">
    <img alt="Background" class="background-image" src="/img/background-sciences.png"/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-2 text-center">
          <img src="/img/logo-beoi-white.png" style="max-height: 160px;">
        </div>
        <div class="col-sm-8">
          <h1><%= t(:title) %></h1>
          <h4 class="uppercase mb48 mb-xs-32">
            <%= t(:subtitle) %>
          </h4>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<a name="intro"></a>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16"><%= t(:overview_title) %></h4>
        <p class="lead mb64"><%= t(:overview_desc) %></p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-write icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_first_title) %></h5>
          </div>
          <p><%= t(:overview_first_desc) %></p>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-bar-chart icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_second_title) %></h5>
          </div>
          <p class="mb8"><%= t(:overview_second_desc) %></p>
          <dl class="dl-horizontal category-list"><%= partial "index_list_categories" %></dl>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-direction-alt icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_third_title) %></h5>
          </div>
          <p><%= t(:overview_third_desc) %></p>
        </div>
        <!--end of feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section class="bg-dark pb0">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <!--
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="large"><%= t("wait_for_qualif_results") %></h2>
      </div>

      <hr>-->

      <!--<div class="col-md-12 col-sm-12 text-center">
        <h2 class="large"><%= t("keep_me_informed_of_registrations") %></h2>
      </div>
      <div class="row mb24">
        <div class="col-sm-6 col-sm-offset-3">

          <form class="halves form-newsletter" data-success="<%= t("mailinglist_success_msg") %>" data-error="<%= t("mailinglist_error_msg") %>">
            <input type="text" name="email" class="mb0 validate-email validate-required signup-email-field" placeholder="<%= t("mailinglist_email_placeholder") %>" />
            <button type="submit" class="btn-white mb0"><%= t("mailinglist_submit_button") %></button>
            <iframe srcdoc="<link href=&quot;https://cdn-images.mailchimp.com/embedcode/classic-081711.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;><style type=&quot;text/css&quot;> #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */</style><div id=&quot;mc_embed_signup&quot;><form action=&quot;<%= escape_html(current_page.data.mailchimp_submit[lang]) %>&quot; method=&quot;post&quot; id=&quot;mc-embedded-subscribe-form&quot; name=&quot;mc-embedded-subscribe-form&quot; class=&quot;validate&quot; target=&quot;_blank&quot; novalidate>    <div id=&quot;mc_embed_signup_scroll&quot;> <h2>Subscribe to our mailing list</h2><div class=&quot;indicates-required&quot;><span class=&quot;asterisk&quot;>*</span> indicates required</div><div class=&quot;mc-field-group&quot;>  <label for=&quot;mce-EMAIL&quot;>Email Address  <span class=&quot;asterisk&quot;>*</span></label> <input type=&quot;email&quot; value=&quot;&quot; name=&quot;EMAIL&quot; class=&quot;required email&quot; id=&quot;mce-EMAIL&quot;></div><div class=&quot;mc-field-group&quot;>  <label for=&quot;mce-FNAME&quot;>First Name </label>  <input type=&quot;text&quot; value=&quot;&quot; name=&quot;FNAME&quot; class=&quot;&quot; id=&quot;mce-FNAME&quot;></div><div class=&quot;mc-field-group&quot;> <label for=&quot;mce-LNAME&quot;>Last Name </label> <input type=&quot;text&quot; value=&quot;&quot; name=&quot;LNAME&quot; class=&quot;&quot; id=&quot;mce-LNAME&quot;></div> <div id=&quot;mce-responses&quot; class=&quot;clear&quot;>    <div class=&quot;response&quot; id=&quot;mce-error-response&quot; style=&quot;display:none&quot;></div>   <div class=&quot;response&quot; id=&quot;mce-success-response&quot; style=&quot;display:none&quot;></div> </div>        <div style=&quot;position: absolute; left: -5000px;&quot;><input type=&quot;text&quot; name=&quot;b_77142ece814d3cff52058a51f_94d040322a&quot; tabindex=&quot;-1&quot; value=&quot;&quot;></div>    <div class=&quot;clear&quot;><input type=&quot;submit&quot; value=&quot;Subscribe&quot; name=&quot;subscribe&quot; id=&quot;mc-embedded-subscribe&quot; class=&quot;button&quot;></div>    </div></form></div><script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>" class="mail-list-form">
            </iframe>
          </form>
        </div>
      </div>-->

      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="large"><%= t("register_text") %></h2>
        <%= link_to t(:register_button), current_page.data.management_platform[lang], class:"btn btn-filled btn-lg mb0" %>
        <h4 class="large mt24"><%= t("register_school_text") %></h4>
      </div>

    </div>
  </div>
</section>

<%# partial "sponsors" %>

<!--<section class="bg-dark pb8 pt32">
  <div class="container">
    <div class="row  mb-xs-32">

      <div class="col-md-12 col-sm-12 text-center">
        <h3 class="large"><%= t("platform_try_title") %></h3>
        <%= link_to t(:platform_try_link), current_page.data.contest_platform[lang], class:'btn btn-lg btn-filled' %>
      </div>

    </div>
  </div>
</section>-->

<a name="contest"></a>
<a name="contest-step1"></a>
<section class="image-square left bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
    <img alt="image" class="background-image" src="/img/kid_blockly.jpg" />
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content"><%= partial "index_contest_step1" %></div>
</section>

<!--<section class="pt64 pb64">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= partial "index_contest_training" %>
      </div>
    </div>
  </div>
</section>-->
<%= partial "index_calendar" %>

<a name="contest-step2"></a>
<section class="image-square right bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="/img/pic2.jpg" />
    </div>
  </div>
  <div class="col-md-6 content"><%= partial "index_contest_step2" %></div>
</section>

<a name="members"></a>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb64 mb-xs-40"><%= t(:members) %></h4>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="logo-carousel">
        <ul class="slides">
          <% data.members.each do |m| %>
          <li>
            <% link_to m.href do %>
              <%= image_tag "ext-logos/%s"%m.image, alt:m.name %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <!--end of logo slider-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<%= partial "map_qualif_centers" %>

<a name="sample-questions"></a>
<a name="qualif-sample-questions"></a>
<%= partial "index_qualif_sample_questions" %>

<a name="final-sample-questions"></a>
<%= partial "index_final_sample_questions" %>


<section class="bg-dark pb0">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h1 class="large"><%= t(:questions) %></h1>
        <%= mail_to 'info@be-oi.be', t(:contact_us), class:'btn btn-lg btn-filled' %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

