---
mailchimp_submit:
  fr: "//be-oi.us6.list-manage.com/subscribe/post?u=4a51a9ab354aa26ba87f9a75f&amp;id=0637c4db56"
  nl: "//be-oi.us9.list-manage.com/subscribe/post?u=c6d8dcea8c4875082e570aee9&amp;id=e896dde7ec"
---
<section class="image-bg parallax pt120 pb80 pt-xs-40 pb-xs-40" style="background-color:#fdae61;">
  <div class="background-image-holder" id="page-header-image-holder">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h1 style="color:#101010; opacity:0.7;"><%= t(:title) %></h1>
        <h4 class=" mb48 mb-xs-32" style="color:#101010; opacity:0.7;">
          <%= t(:subtitle) %>
        </h4>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<script>
    var pattern = Trianglify({
        width: window.innerWidth,
        height: window.innerHeight*1.5,
        x_colors: ["#e31d3b","#d53e4f","#f46d43","#fdae61","#fee08b","#ffffbf","#e6f598","#abdda4","#66c2a5","#3288bd","#5e4fa2"]
    });
    document.getElementById("page-header-image-holder").appendChild(pattern.canvas())
</script>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16"><%= t(:overview_title) %></h4>
        <p class="lead mb64"><%= t(:overview_desc) %></p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-write icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_first_title) %></h5>
          </div>
          <p><%= t(:overview_first_desc) %></p>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-bar-chart icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_second_title) %></h5>
          </div>
          <p class="mb8"><%= t(:overview_second_desc) %></p> 
          <dl class="dl-horizontal category-list"><%= partial "index_list_categories" %></dl>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-direction-alt icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_third_title) %></h5>
          </div>
          <p><%= t(:overview_third_desc) %></p>
        </div>
        <!--end of feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<a name="contest"></a>
<section class="image-square left bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
    <img alt="image" class="background-image" src="/img/pic1.jpg" />
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content"><%= partial "index_contest_step1" %></div>
</section>
<section class="pt64 pb64">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= partial "index_contest_training" %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="image-square right bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="/img/pic2.jpg" />
    </div>
  </div>
  <div class="col-md-6 content"><%= partial "index_contest_step2" %></div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb64 mb-xs-40"><%= t(:members) %></h4>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="logo-carousel">
        <ul class="slides">
          <% data.members.each do |m| %>
          <li>
            <% link_to m.href do %>
              <%= image_tag "members-logo/%s"%m.image, alt:m.name %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <!--end of logo slider-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>  
<a name="sample-questions"></a>
<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="uppercase mb80"><%= t(:sample_tasks_qualifying) %></h4>
        <div class="tabbed-content button-tabs vertical">
          <ul class="tabs">
            <% data.tasks.each_with_index do |task, index| %>
            <li <% if index == 0 %>class="active"<% end %>>
              <div class="tab-title">
                <span><%= t("task_"+task) %></span>
              </div>
              <div class="tab-content">
                <!-- <h5 class="uppercase">Let's Talk Tabs</h5>
                <hr> -->
                <%= partial "tasks/"+task %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <!--end of button tabs-->
      </div>
      <h4 class="text-center"><%= t(:more_questions_soon) %></h4>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section class="bg-dark pb0">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h1 class="large"><%= t(:questions) %></h1>
        <%= mail_to 'info@be-oi.be', t(:contact_us), class:'btn btn-lg btn-filled' %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

