---
mailchimp_submit:
  fr: "//be-oi.us6.list-manage.com/subscribe/post?u=4a51a9ab354aa26ba87f9a75f&amp;id=0637c4db56"
  nl: "//be-oi.us9.list-manage.com/subscribe/post?u=c6d8dcea8c4875082e570aee9&amp;id=96b626466f"
mailchimp_alt:
  fr: http://eepurl.com/bpfE3v
  nl: http://eepurl.com/cG8Etf
contest_platform:
  fr: https://concours.be-oi.be/
  nl: https://wedstrijd.be-oi.be/
management_platform:
  fr: https://gestion.be-oi.be/
  nl: https://beheer.be-oi.be/
---
<section class="image-bg overlay parallax" style="background-color:#48ad68;">
  <%=page_header_empty_image_holder %>
  <div class="background-image-holder background-image-mosaic">
    <img alt="Background" class="background-image" src="/img/background-sciences.png"/>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-2 text-center">
          <img src="/img/logo-beoi-white.png" style="max-height: 160px;">
        </div>
        <div class="col-sm-8">
          <h1><%= t(:title) %></h1>
          <h4 class="uppercase mb48 mb-xs-32">
            <%= t(:subtitle) %>
          </h4>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<a name="intro"></a>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16"><%= t(:overview_title) %></h4>
        <p class="lead mb64"><%= t(:overview_desc) %></p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-write icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_first_title) %></h5>
          </div>
          <p><%= t(:overview_first_desc) %></p>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-bar-chart icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_second_title) %></h5>
          </div>
          <p class="mb8"><%= t(:overview_second_desc) %></p>
          <dl class="dl-horizontal category-list"><%= partial "index_list_categories" %></dl>
        </div>
        <!--end of feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed">
          <div class="text-center">
            <i class="ti-direction-alt icon-sm"></i>
            <h5 class="uppercase"><%= t(:overview_third_title) %></h5>
          </div>
          <p><%= t(:overview_third_desc) %></p>
        </div>
        <!--end of feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<%= partial "index_action_block" %>

<%# partial "sponsors" %>

<!--<section class="bg-dark pb8 pt32">
  <div class="container">
    <div class="row  mb-xs-32">

      <div class="col-md-12 col-sm-12 text-center">
        <h3 class="large"><%= t("platform_try_title") %></h3>
        <%= link_to t(:platform_try_link), current_page.data.contest_platform[lang], class:'btn btn-lg btn-filled' %>
      </div>

    </div>
  </div>
</section>-->

<a name="contest"></a>
<a name="contest-step1"></a>
<section class="image-square left bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
    <img alt="image" class="background-image" src="/img/kid_blockly.jpg" />
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 content"><%= partial "index_contest_step1" %></div>
</section>

<!--<section class="pt64 pb64">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= partial "index_contest_training" %>
      </div>
    </div>
  </div>
</section>-->
<%= partial "index_calendar" %>

<a name="contest-step2"></a>
<section class="image-square right bg-secondary">
  <div class="col-md-6 image">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="/img/pic2.jpg" />
    </div>
  </div>
  <div class="col-md-6 content"><%= partial "index_contest_step2" %></div>
</section>

<% if ![:preregistration, :registration].include?(config.contest_state) %>
<section class="bg-dark pb0">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <h2 class="large text-center"><%= t("keep_me_informed_of_registrations") %></h2>
      <div class="row mb24"><%= partial "subscribe_info_form" %></div>
    </div>
  </div>
</section>
<% end %>

<a name="members"></a>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb64 mb-xs-40"><%= t(:members) %></h4>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="logo-carousel">
        <ul class="slides">
          <% data.members.each do |m| %>
          <li>
            <% link_to m.href do %>
              <%= image_tag "ext-logos/%s"%m.image, alt:m.name %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <!--end of logo slider-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<% if config.registration_open %>
<%= partial "map_qualif_centers" %>
<% end %>

<a name="sample-questions"></a>
<a name="qualif-sample-questions"></a>
<%= partial "index_qualif_sample_questions" %>

<a name="final-sample-questions"></a>
<%= partial "index_final_sample_questions" %>


<section class="bg-dark pb0">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h1 class="large"><%= t(:questions) %></h1>
        <%= mail_to 'info@be-oi.be', t(:contact_us), class:'btn btn-lg btn-filled' %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

