---
title: Qualification Results
trianglify_colors: '"RdYlGn"'
---
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:qualif_result_title) %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Cadet) %></h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_top15) %> - <%= t(:qualif_on_total)%data.results_2016_qualif.count_cadet %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2016_qualif.contestants.cadet.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Junior) %></h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_top15) %> - <%= t(:qualif_on_total)%data.results_2016_qualif.count_junior %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2016_qualif.contestants.junior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Senior) %></h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_top15) %> - <%= t(:qualif_on_total)%data.results_2016_qualif.count_senior %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2016_qualif.contestants.senior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:qualif_top_schools) %></h4>
        <h5 class="mb16 text-center"><%= t(:qualif_top_schools_count_expl) %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 feature bordered" style="padding-bottom:8px;">
        <ol class="dl-horizontal category-list">
          <% data.results_2016_qualif.schools.nb_contestants.each do |s| %>
          <li><%= s.name %>: <%= s.value %> <%= t(:participants) %></li>
          <% end %>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h5 class="mb16 text-center"><%= t(:qualif_top_schools_score_expl) %></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" style="padding-bottom:8px;">
        <div class="feature bordered">
          <div class="text-center">
            <h5 class="uppercase"><%= t("Cadet") %></h5>
          </div>
          <ol class="dl-horizontal category-list">
            <% data.results_2016_qualif.schools.cadet.each do |s| %>
            <li><%= s %></li>
            <% end %>
          </ol>
        </div>
      </div>
      <div class="col-sm-4" style="padding-bottom:8px;">
        <div class="feature bordered">
          <div class="text-center">
            <h5 class="uppercase"><%= t("Junior") %></h5>
          </div>
          <ol class="dl-horizontal category-list">
            <% data.results_2016_qualif.schools.junior.each do |s| %>
            <li><%= s %></li>
            <% end %>
          </ol>
        </div>
      </div>
      <div class="col-sm-4" style="padding-bottom:8px;">
        <div class="feature bordered">
          <div class="text-center">
            <h5 class="uppercase"><%= t("Senior") %></h5>
          </div>
          <ol class="dl-horizontal category-list">
            <% data.results_2016_qualif.schools.senior.each do |s| %>
            <li><%= s %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>

  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:qualif_top_girls) %></h4>
        <h5 class="mb16 text-center"><%= t(:qualif_top_girls_expl)%data.results_2016_qualif.count_girls %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">

        <h6 class="uppercase text-center"><%= t(:Cadet) %></h6>
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2016_qualif.girls.cadet.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <h6 class="uppercase text-center"><%= t(:Junior) %></h6>
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2016_qualif.girls.junior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <h6 class="uppercase text-center"><%= t(:Senior) %></h6>
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2016_qualif.girls.senior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>
