---
title: Qualification Results
trianglify_colors: '"RdYlGn"'
---
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:qualif_result_title) %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p class="lead mb64"><%= t(:qualif_intro_text) %></p>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<%= partial "qualif_result_summary" %>


<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Cadet) %></h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_topx)%data.results_2017_qualif.contestants.cadet.size %> - <%= t(:qualif_on_total)%data.results_2017_qualif.count_cadet %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2017_qualif.contestants.cadet.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Junior) %></h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_topx)%data.results_2017_qualif.contestants.junior.size %> - <%= t(:qualif_on_total)%data.results_2017_qualif.count_junior %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2017_qualif.contestants.junior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:Senior) %></h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_topx)%data.results_2017_qualif.contestants.senior.size %> - <%= t(:qualif_on_total)%data.results_2017_qualif.count_senior %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2017_qualif.contestants.senior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>


<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:qualif_top_schools) %></h4>
        <h5 class="mb16 text-center"><%= t(:qualif_top_schools_count_expl) %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 feature bordered" style="padding-bottom:8px;">
        <ol class="dl-horizontal category-list">
          <% data.results_2017_qualif.schools.nb_contestants.each do |s| %>
          <li><%= s.name %>: <%= s.value %> <%= t(:participants) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <!--end of container-->
</section>

<script type="text/javascript">
// ["#e31d3b","#d53e4f","#f46d43","#fdae61","#fee08b","#ffffbf","#e6f598","#abdda4","#66c2a5","#3288bd","#5e4fa2"]'
google.charts.load('current', {'packages':['corechart','bar']});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['<%= t(:Categories) %>', '<%= t(:qualif_chart_nbcontestants) %>'],
    ['<%= t(:Cadet) %>',     280],
    ['<%= t(:Junior) %>',    380],
    ['<%= t(:Senior) %>',    512]
  ]);
  var options = {
    slices: {
      0: { color: '#e31d3b' },
      1: { color: '#f46d43' },
      2: { color: '#fdae61' }
    },
    backgroundColor: "transparent"
  };
  var chart = new google.visualization.PieChart(document.getElementById('chart-cat'));
  chart.draw(data, options);
});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['<%= t(:qualif_chart_lang) %>', '<%= t(:qualif_chart_nbcontestants) %>'],
    ['<%= t(:qualif_chart_lang_fr) %>',    452],
    ['<%= t(:qualif_chart_lang_nl) %>',    694],
    ['<%= t(:qualif_chart_lang_de) %>',    26]
  ]);
  var options = {
    slices: {
      0: { color: '#f46d43' },
      1: { color: '#fdae61' },
      2: { color: '#e31d3b' }
    },
    backgroundColor: "transparent"
  };
  var chart = new google.visualization.PieChart(document.getElementById('chart-lang'));
  chart.draw(data, options);
});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['<%= t(:gender_field) %>', 'Nombre de participants'],
    ['<%= t(:gender_men) %>',     927],
    ['<%= t(:gender_women) %>',      245],
  ]);
  var options = {
    slices: {
      0: { color: '#fdae61' },
      1: { color: '#f46d43' },
    },
    backgroundColor: "transparent"
  };
  var chart = new google.visualization.PieChart(document.getElementById('chart-gender'));
  chart.draw(data, options);
});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['', 'Score','Score'], [' ',0,37],[' ',0,35],[' ',0,35],[' ',0,34],[' ',0,33],[' ',0,33],[' ',0,31],[' ',0,30],[' ',0,30],[' ',0,30],[' ',0,30],[' ',0,30],[' ',0,29],[' ',0,29],[' ',0,29],[' ',0,29],[' ',0,29],[' ',0,29],[' ',0,28],[' ',0,28],[' ',0,28],[' ',0,28],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,27],[' ',0,26],[' ',0,26],[' ',0,26],[' ',0,26],[' ',0,26],[' ',0,26],[' ',0,26],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',10,0],[' ',10,0],[' ',10,0],[' ',10,0],[' ',10,0],[' ',10,0],[' ',9,0],[' ',9,0],[' ',9,0],[' ',9,0],[' ',9,0],[' ',9,0],[' ',9,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',7,0],[' ',7,0],[' ',7,0],[' ',7,0],[' ',6,0],[' ',5,0],[' ',4,0],[' ',2,0],[' ',0,0]
  ]);

  var options = {
    stacked: true,
    bars: 'vertical', // Required for Material Bar Charts.
    height: 150,
    series: [ {color: '#f46d43'}, {color: '#66c2a5'} ],
    legend: { position: "none" },
    bar: { groupWidth: "100%" },
    backgroundColor: "transparent",
    chartArea: { backgroundColor: "transparent" }
  };
  var chart = new google.charts.Bar(document.getElementById('chart-scores-cad'));
  chart.draw(data, google.charts.Bar.convertOptions(options));
});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['', 'Score','Score'], [' ',0,39],[' ',0,38],[' ',0,38],[' ',0,38],[' ',0,38],[' ',0,38],[' ',0,38],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,33],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',0,32],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',11,0],[' ',10,0],[' ',10,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',4,0]
  ]);

  var options = {
    stacked: true,
    bars: 'vertical', // Required for Material Bar Charts.
    height: 150,
    series: [ {color: '#f46d43'}, {color: '#66c2a5'} ],
    legend: { position: "none" },
    bar: { groupWidth: "100%" },
    backgroundColor: "transparent",
    chartArea: { backgroundColor: "transparent" }
  };
  var chart = new google.charts.Bar(document.getElementById('chart-scores-jun'));
  chart.draw(data, google.charts.Bar.convertOptions(options));
});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['', 'Score','Score'],[' ',0,40],[' ',0,39],[' ',0,39],[' ',0,39],[' ',0,39],[' ',0,39],[' ',0,39],[' ',0,39],[' ',0,39],[' ',0,39],[' ',0,38],[' ',0,38],[' ',0,38],[' ',0,38],[' ',0,38],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,37],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,36],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,35],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',0,34],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',33,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',32,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',31,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',30,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',29,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',28,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',27,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',26,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',25,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',24,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',23,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',22,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',21,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',20,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',19,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',18,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',17,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',16,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',15,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',14,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',13,0],[' ',12,0],[' ',12,0],[' ',12,0],[' ',10,0],[' ',10,0],[' ',10,0],[' ',10,0],[' ',9,0],[' ',9,0],[' ',9,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',8,0],[' ',7,0],[' ',7,0],[' ',7,0],[' ',6,0],[' ',5,0],[' ',0,0]
  ]);

  var options = {
    stacked: true,
    bars: 'vertical', // Required for Material Bar Charts.
    height: 150,
    series: [ {color: '#f46d43'}, {color: '#66c2a5'} ],
    legend: { position: "none" },
    bar: { groupWidth: "100%" },
    backgroundColor: "transparent",
    chartArea: { backgroundColor: "transparent" },
    vAxis: { maxValue: 40 }
  };

  var chart = new google.charts.Bar(document.getElementById('chart-scores-sen'));
  chart.draw(data, google.charts.Bar.convertOptions(options));
});
</script>


